<section id="edit_societe">
  <div class="wrap">
    <app-bubble-edit-societe [valueNom]="societe_nom" [valueSiret]="societe_siret" [valueVille]="societe_ville" [valueAffaire]="societe_affaire" [valueCodep]="societe_codep" [valueAdresse]="societe_adresse" ]></app-bubble-edit-societe>
  </div>
</section>
