@import '../../../../styles';

#mention{
  background-color: #43264F;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  padding-bottom: 2rem;

  .exit-home{
    padding: 1rem 0 0 1rem;
    a{
      color: $iconColor;
      transition: color .5s;
      font-size: 25px;

      &:hover{
        color: $blueBtns;
      }
    }

  }

  .wrap2 {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;

    .mention_legale h2{
      color: $orangeBtnHover;
      text-align: center;
      font-size: 50px;
      padding: 2rem 0;
    }

    .legale{
      .subtitle{
        color: $orangeBtnHover;
        text-decoration: underline;
      }
    }

    .para {
      color: white;
      margin: 1rem 0;

      &:nth-child(1){
        background: lime;
      }
    }
  }
}
