<section id="mention">
  <div class="exit-home">
    <a href="''"><i class="{{exitDoor}}"></i></a>
  </div>
  <div class="wrap2">
    <div class="mention_legale">
      <h2>Mentions Légales</h2>
    </div>
    <div class="legale">
      <div class="subtitle">
        <h3>Présentation du site</h3>
      </div>

      <div class="para">
        <p>En vertu de l’article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, il est précisé aux utilisateurs du site watch_me.fr l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi :</p>
      </div>

      <div class="para">
        <p>Propriétaire : Watch_me société par actions simplifiée (SAS) au capital de 1 000€
        <p>SIRET 12345678901234</p>
        <p>R.C.S. Lille Métropole</p>
        <p>23 Bd du Général Leclerc 59100 Roubaix</p>

        <p>Créateur : Watch_me</p>
        <p>Responsable publication : Watch_me – contact@watch_me.fr</p>
        <p>Webmaster : Watch_me – contact@watch_me.fr</p>
        <p>Hébergeur : NUXIT – 400 Avenue Roumanille, 06903 Sophia Antipolis Cedex</p>
      </div>

      <div class="para">
        <p>Droit applicable et attribution de juridiction.</p>
      </div>

      <div class="para">
        <p>Les Mentions Légales sont établies en conformité avec le droit français et notamment les dispositions de la loi du 21 juin 2004 pour la confiance dans l’économie numérique ainsi que la loi du 6 janvier 1978 modifiée par la loi du 6 août 2004 Informatique et Libertés.
          Les juridictions de Lille (France) sont territorialement compétentes pour connaître de tout litige afférent au Site.
          Lexique.</p>
      </div>

      <div class="para">
        <p>Utilisateur : Internaute se connectant, utilisant le site susnommé.</p>
      </div>

      <div class="para">
        <p>Informations personnelles : « les informations qui permettent, sous quelque forme que ce soit, directement ou non, l’identification des personnes physiques auxquelles elles s’appliquent » (article 4 de la loi n° 78-17 du 6 janvier 1978).</p>
      </div>
    </div>
  </div>
</section>
