* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #d8e5d9;
}

header ul {
    display: flex;
    gap: 1rem;
}

header ul li a:hover {
    color: red;
    transition: all 0.2s;
}

.single-article-detail-card {
    margin: 2rem 5rem;
    padding: 0 2rem;
    text-align: center;
    border-radius: 10px;
    background-color: #9ed5f5;
}

.single-article-detail-card h1 {
    border-bottom: solid;
    padding: 1rem 0;
}

.single-article-detail-card p {
    border-bottom: solid;
    padding: 2rem;
}

.single-article-detail-card a {
    padding: 5rem;
}

.single-article-detail-card a:hover {
    color: #1d4ed8;
    transition:all 0.2s;
}

.article-list {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.article-list h3 {
    padding: 1rem 4rem;
    border-radius: 10px;
    box-shadow: 5px 11px 8px -4px rgba(0,0,0,0.1);
}

.article-list h3:hover {
    background-color: #d9d9d9;
    transition: all 0.2s;
    transform: scale(1.1);
}


.single-article-detail-commentary {
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
    background-color: #0f6674;
    color: #FFFFFF;
}

.single-article-detail-commentary h2{
    padding-bottom: 1.5rem;
}

.single-article-detail-commentary ul {
    height: 400px;
    padding: 0.5rem;
    overflow: auto;
}

.single-article-detail-commentary li {
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    color: black;
    background-color: white;
    margin: 1rem 0;
}

.single-article-detail-commentary li h3 {
    width: 10%;
}

.single-article-detail-commentary li p {
    width: 90%;
}

.single-article-detail-commentary div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.single-article-detail-commentary div h4 {
    margin: 2rem 0;
    font-size: 20px;
    text-align: center;
}

.single-article-detail-commentary div a:hover {
    color: #23e33c;
    transition: all 0.2s;
}





