* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --noir: #333333;
    --orange: #FECA59;
    --orangefonce: #9a6b12;
}

html {
    scroll-behavior: smooth;
}

.clear:before, .clear:after {
    content: ' ';
    display: table;
}

.clear:after {
    clear:both;
}

.clear {
    *zoom: 1;
}

ul, ol {
    list-style: none;
}

img {
    vertical-align: bottom;
    width: 100%;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: 	black;
    transition:all .3s;
    text-decoration: none;
}

a:active, a:focus {
    color: black;
}

.wrap {max-width: 1440px;width:100%;margin: 0 auto;padding: 0 1rem;}


/*Code*/

.title {
    text-align: center;
    font-size: 40px;
}

#letters {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    padding: 1rem 0rem;
}

#letters a {
    font-size: 20px;
    background-color: black;
    color: white;
    padding: 0.6rem;
    border-radius: 100px;
}

#cocktails {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#cocktail {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    margin: 1rem;
    background-color: black;
    color: white;
    border-radius: 10px;
}

#cocktail h1 {
    padding: 1rem;
}

#cocktail img {
    width: 50%;
    border-radius: 100px;
    display: flex;
    align-items: center;
    padding: 1rem;
}