* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

:root {
    --white: #fff;
    --gris: #9d9d9c;
    --orange: #ec6838;
}

.clear:before, .clear:after {
    content: ' ';
    display: table;
}

.clear:after {
    clear:both;
}

.clear {
    *zoom: 1;
}

ul, ol {
    list-style: none;
}

img {
    vertical-align: bottom;
    width: 100%;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: orange;
    transition:all .3s;
    text-decoration: none;
}

a:active, a:focus {
    color: black;
}

/*Code*/

body {
    background-color: var(--white);
    color: var(--gris);
}

header {
    display: flex;
    justify-content: center;
}

header a {
    display: flex;
    justify-content: center;
    width: 30%;
}

.logo {
    width: 100%;
    padding: 1rem 0rem;
}

.wrap {
    max-width: 1300px;
    width: 95%;
    margin: 0 auto;
    padding: 0.1rem;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.wrap2 {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

#intro {
    padding: 1rem 0rem;
}

.box {
    width: 49.9%;
    height: 350px;
}

.box_text {
    display: flex;
    align-items: flex-end;
}

.one_partner {
    width: 24%;
    padding-bottom: 1rem;
}

.one_partner_text {
    padding-top: 1rem;
}

.one_partner_text h2 {
    color: black;
    font-size: 20px;
    font-weight: lighter;
}

.one_partner_text h3 {
    color: var(--orange);
}

/*Single*/

.orangebox {
    height: 150px;
    background-color: var(--orange);
}

.biginfos {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 4rem;
}

.infos1 {
    width: 15%;
    color: black;
}

.infos_img {
    display: flex;
    justify-content: center;
    padding-bottom: 0.3rem;
}

.infos_image1 {
    width: 40%;
}

.infos_image2 {
    padding-bottom: 0.5rem;
}

.infos2 {
    width: 75%;
}

.infos h2 {
    color: var(--orange);
}

.infos2 h1 {
    color: var(--orange);
    padding-bottom: 1rem;
}

.lecteur {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
}

.video {
    width: 50%;
    box-shadow: 0px 8px 21px 18px rgba(0,0,0,0.1);
}


/*Responsive*/

@media screen and (max-width: 950px){
    .box {
        width: 100%;
        height: 300px;
    }
}

@media screen and (max-width: 750px){
    .one_partner {
        width: 48%;
        padding-bottom: 1rem;
    }
}

@media screen and (max-width: 520px){
    .one_partner {
        width: 100%;
        padding-bottom: 1rem;
    }
}
