<section id="commande-list">
  <div class="dash-wrap">
    <app-bubble-list [titre]="commandeTitre" [subTitre]="commandeSubTitre" [addLink]="commandeLink" [viewLink]="commandeView" [editLink]="commandeEdit" [tableData]="dataCommandes"></app-bubble-list>
  </div>
</section>
