#employes-add{
    min-height: 80vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .wrap{
        max-width: 1212px;
        width: 100%;
        margin: 0 auto;
    }
}
