* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arvo', serif;
    font-size: 17px;
    line-height: 1.5;
    font-weight: 400;
}

:root {
    --noir: #333333;
    --noirfonce: #1B1813;
    --gris: #ABA8A3;
    --grisfonce: #D7D4CF;
    --orange: #C45222;
}

html {
    scroll-behavior: smooth;
}

.clear:before, .clear:after {
    content: ' ';
    display: table;
}

.clear:after {
    clear:both;
}

.clear {
    *zoom: 1;
}

ul, ol {
    list-style: none;
}

img {
    vertical-align: bottom;
    width: 100%;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
    transition:all .3s;
    text-decoration: none;
}

a:active, a:focus {
    color: white;
}

.wrap {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

/*Code*/

body {
    background-color: var(--grisfonce);
}

header {
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
}

header .wrap {
    display: flex;
    justify-content: space-between;
}

.header_left {
    width: 30%;
    display: flex;
    align-items: center;
}

.header_right {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header_right ul {
    display: flex;
}

.header_right li {
    padding: 0.3rem 0rem;
}

.header_right a {
    padding: 0.3rem 0.5rem;
    background-color: var(--noir);
}

.header_right a:hover {
    background-color: #464652;
    color: var(--orange);
}

/*Accueil*/

#accueil {
    display: flex;
}

.image_slide {
    width: 60%;
}

.image_slide img {
    width: 100%;
}

.image_points {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.5rem 0rem;
}

.image_points ul {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.image_points li {
    background-color: var(--gris);
    height: 15px;
    width: 13%;
    border-radius: 100px;
}

.image_points .lien_noir {
    background-color: var(--noirfonce);
}

.image_points li:hover {
    background-color: var(--noirfonce);
    transition: all 0.3s;
}

.accueil_text {
    width: 40%;
}

.accueil_text h2,p {
    margin: 1rem;
}

.accueil_text p {
    color: var(--gris);
}

/*Worker*/

#worker {
    padding: 3rem 0rem;
}

.line_work {
    background-color: var(--noir);
    color: white;
}

.line_work h3 {
    padding: 0.3rem 0.5rem;
}

.line_work span {
    color: var(--orange);
}

.works {
    display: flex;
    padding-top: 2rem;
    gap: 2rem;
}

.works li {
    background-color: white;
}

.works h3 {
    text-align: center;
    padding: 1rem 0rem;
    color: var(--orange);
    font-weight: bold;
}

.works p {
    text-align: center;
    font-size: 15px;
    color: var(--gris);
}

/*Infos*/

#infos {
    display: flex;
}

.blog {
    width: 50%;
}

.line_blog {
    width: 90%;
    background-color: var(--noir);
    color: white;
}

.line_blog h3 {
    padding: 0.3rem 0.5rem;
}

.line_blog span {
    color: var(--orange);
}

.awesomeblog {
    display: flex;
    padding: 2rem 0rem;
}

.blog1 {
    width: 60%;
}

.blog1 img {
    width: 100%;
}

.blog2 {
    width: 40%;
}

.awesomeblog .blog2 h2,p {
    margin: 0.5rem;
}

.awesomeblog .blog2 h2 {
    font-size: 20px;
    font-weight: bold;
}

.awesomeblog .blog2 p {
    color: var(--gris);
}

#infos .blog .blog3 p {
    font-size: 10px;
    color: var(--gris);
}

#infos .blog .blog3 span {
    font-size: 10px;
    color: var(--orange);
}

.video {
    width: 50%;
}

.line_video {
    background-color: var(--noir);
    color: white;
}

.line_video h3 {
    padding: 0.3rem 0.5rem;
}

.line_video span {
    color: var(--orange);
}

.video iframe {
    width: 100%;
    padding: 1rem 0rem;
}

/*Footer*/

footer {
    background-color: var(--noirfonce);
    color: white;
}

.footer_content {
    display: flex;
}

.content {
    width: 25%;
    margin: 0.5rem;
}

.content h1 {
    padding: 1rem 0rem;
    font-size: 20px;
    font-weight: bold;
}

.content1 img {
    width: 50%;
    padding-bottom: 0.5rem;
}

.content1 h2 {
    margin: 0.1rem;
    font-size: 13px;
    font-weight: bold;
}

.content1 p {
    margin: 0.1rem;
    font-size: 13px;
}

.social_medias {
    padding-top: 0.5rem;
}

.social_medias ul {
    display: flex;
    gap: 0.3rem;
}

.social_medias a {
    display: block;
}

.social_medias .facebook {
    background: url('../img/social-icons.png') no-repeat 0 0;
    width: 46px;
    height: 46px;
    transition: all .4s;
}

.social_medias .twitter {
    background: url('../img/social-icons.png') no-repeat -52px 0;
    width: 46px;
    height: 46px;
    transition: all .4s;
}

.social_medias .reseau3 {
    background: url('../img/social-icons.png') no-repeat -104px 0;
    width: 46px;
    height: 46px;
    transition: all .4s;
}

.social_medias .reseau4 {
    background: url('../img/social-icons.png') no-repeat -156px 0;
    width: 46px;
    height: 46px;
    transition: all .4s;
}

.social_medias .facebook:hover {
    background: url('../img/social-icons.png') no-repeat 0 -47px;
    width: 46px;
    height: 46px;
}

.social_medias .twitter:hover {
    background: url('../img/social-icons.png') no-repeat -52px -47px;
    width: 46px;
    height: 46px;
    transition: all .4s;
}

.social_medias .reseau3:hover {
    background: url('../img/social-icons.png') no-repeat -104px -47px;
    width: 46px;
    height: 46px;
    transition: all .4s;
}

.social_medias .reseau4:hover {
    background: url('../img/social-icons.png') no-repeat -156px -47px;
    width: 46px;
    height: 46px;
    transition: all .4s;
}

.content2 p {
    font-size: 11px;
}

.content3 li{
    border-bottom: dotted;
    padding-top: 0.5rem;
}

.content4 ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.content4 li {
    width: 23%;
}

.line_footer {
    display: flex;
    background-color: var(--noir);
    color: white;
}

.line_footer p {
    padding: 0.3rem 0.5rem;
    font-size: 10px;
    width: 50%;
}

.line_footer ul {
    display: flex;
    align-items: center;
    width: 50%;
}

.line_footer li {
    padding: 0.3rem 0rem;
}

.line_footer a {
    padding: 0.3rem 0.5rem;
    background-color: var(--noir);
}

.line_footer a:hover {
    background-color: #464652;
    color: var(--orange);
}


