* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --noir: #333333;
    --orange: #FECA59;
    --orangefonce: #9a6b12;
}

html {
    scroll-behavior: smooth;
}

.clear:before, .clear:after {
    content: ' ';
    display: table;
}

.clear:after {
    clear:both;
}

.clear {
    *zoom: 1;
}

ul, ol {
    list-style: none;
}

img {
    vertical-align: bottom;
    width: 100%;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: var(--orangefonce);
    transition:all .3s;
    text-decoration: none;
}

a:active, a:focus {
    color: black;
}

.wrap {max-width: 1440px;width:100%;margin: 0 auto;padding: 0 1rem;}


/*Code*/

body img {
    width: 15%;
}

.error {
    color: red;
}

.success {
    color: green;
}