<div class="bg">
  <app-icon-form [iconExit]="'fa-solid fa-door-open'" [exitLink]="''" class="exit"></app-icon-form>

  <div class="form-connexion">
    <div class="logo">
      <a [routerLink]="'/'">
        <img src="assets/img/white_logo.svg" alt="logo">
      </a>
    </div>

    <ng-container *ngIf="!emailSent; else emailSentMessage">
    <h1>Mot de passe oublié ?</h1>
    <h3>Veuillez modifier votre mot de passe</h3>
    <form (ngSubmit)="resetPassword()" [formGroup]="resetPasswordForm">
      <div class="input">
        <label for="password">Nouveau mot de passe :</label>
        <div class="icon-container">
          <i class="fas fa-lock iconUser"></i>
        </div>
        <input type="password" name="password" id="password" formControlName="password" required placeholder="Nouveau mot de passe">

        <label for="confirmPassword">Confirmer mot de passe :</label>
        <div class="icon-container">
          <i class="fas fa-lock iconUser"></i>
        </div>
        <input type="password" name="confirmPassword" id="confirmPassword" formControlName="confirmPassword" required placeholder="Confirmer mot de passe">
      </div>

      <input type="submit" value="Modifier" class="button-connexion">
    </form>
    </ng-container>
    <ng-template #emailSentMessage>
     <h1 style="color : #FB6316FF; font-weight: bold;">Votre mot de passe a été modifié avec succès.</h1>
    </ng-template>
  </div>
</div>
