<section id="societe-list">
  <div class="dash-wrap">
    <app-bubble-list [titre]="societeTitre" [subTitre]="societeSubTitre" [addLink]="societeLink" [viewLink]="societeView" [editLink]="societeEdit" [tableData]="dataSociete"></app-bubble-list>
  </div>
</section>
