<p>taches works!</p>

<form (submit)="ajouterTache()">
  <input [(ngModel)]="text" type="text" name="nomTache" placeholder="Nom de la tâche">
  <input [(ngModel)]="content" type="text" name="contenuTache" placeholder="Contenu de la tâche">
  <button type="submit">Ajouter une tâche</button>
</form>




<ul>
  <li *ngFor="let tache of taches; let i = index">
    <strong>{{ tache.name }}:</strong> {{ tache.content }}
    <select [(ngModel)]="tache.statut">
      <option value="En cours">En cours</option>
      <option value="Effectué">Effectué</option>
    </select>
    <button (click)="supprimerTache(i)">Supprimer</button>
  </li>
</ul>

<form [formGroup]="formulaire" (ngSubmit)="onSubmit()">
  <label for="name">Nom:</label>
  <input type="text" id="name" formControlName="Name">
  <label for="email">Email:</label>
  <input type="email" id="email" formControlName="email">

  <button type="submit">Envoyer</button>
</form>



