@import "../../../styles";

#all-infos{
  color: $iconColor;

  .bubble{
    border-radius: 22px;
    background: $bgBubbles;
    box-shadow: $boxShadowBubbles;
    width: 100%;
    background: url("../../../assets/img/bg-connexion.png") center/cover no-repeat;

    &.big{
      display: flex;
      justify-content: center;
      align-items: center;

      .overall{
        border-radius: 22px;
        height: 100%;
        width: 100%;

        .view-contains{
          margin: 2rem 4rem;
          height: 85%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .view-head{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .infos-perso, .complement-infos{
              width: 50%;
              display: flex;
              flex-direction: column;
              gap: 29px;
            }

            .complement-infos{
              align-items: flex-end;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px){
  #infos-infos{
    .bubble{
      &.big{
        .overall{
          .view-contains{
            margin: 0;
            .view-head{
              justify-content: center;
              padding : 2rem 1rem;
            }
          }
        }
      }
    }
  }
}
