<section id="all-infos">
  <div class="bubble big">
    <div class="overall">
      <div class="view-contains">
        <div class="view-head">
          <div class="infos-perso">
              <ng-content select=".main-infos-content"></ng-content>

              <ng-content select=".infos1-content"></ng-content>

              <ng-content select=".infos2-content"></ng-content>

            <ng-content select=".infos4-content"></ng-content>
          </div>
            <div class="complement-infos">
              <ng-content select=".infos3-content"></ng-content>

              <ng-content select=".infos-complement1-content"></ng-content>

              <ng-content select=".infos-complement2-content"></ng-content>
            </div>
        </div>

      </div>
    </div>
  </div>
</section>
