{% if not app.user %}
    {% set redirectPath = path('app_base') %}
    <script>window.location.href = "{{ redirectPath }}";</script>
{% endif %}
<form method="post" action="{{ path('app_taches_delete', {'id': tach.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tach.id) }}">
    <button class="btn">Delete</button>
</form>
