{% if not app.user %}
    {% set redirectPath = path('app_base') %}
    <script>window.location.href = "{{ redirectPath }}";</script>
{% endif %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
