{% extends 'base.html.twig' %}

{% block title %}Edit Taches{% endblock %}

{% block body %}
    {% if not app.user %}
        {% set redirectPath = path('app_base') %}
        <script>window.location.href = "{{ redirectPath }}";</script>
    {% endif %}
    <h1>Edit Taches</h1>

    {{ include('taches/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_taches_index') }}">back to list</a>

    {{ include('taches/_delete_form.html.twig') }}
{% endblock %}
