{% extends 'base.html.twig' %}

{% block title %}Taches index{% endblock %}

{% block body %}
    {% if not app.user %}
        {% set redirectPath = path('app_base') %}
        <script>window.location.href = "{{ redirectPath }}";</script>
    {% endif %}
    <div class="tache_index">
        <table class="styled-table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Sujet</th>
                <th>Crée le</th>
                <th>Modifié le</th>
                <th>Expire le</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for tach in taches %}
                <tr>
                    <td>{{ tach.name }}</td>
                    <td>{{ tach.content }}</td>
                    <td>{{ tach.createdAt ? tach.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ tach.updatedAt ? tach.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ tach.expiratedAt ? tach.expiratedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ tach.status }}</td>
                    <td>
                        <a href="{{ path('app_taches_show', {'id': tach.id}) }}">show</a>
                        <a href="{{ path('app_taches_edit', {'id': tach.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="tache_index_create">
        <a href="{{ path('app_taches_new') }}">Créer une nouvelle tache</a>
    </div>
{% endblock %}
