{% extends 'base.html.twig' %}

{% block title %}New Taches{% endblock %}

{% block body %}
    {% if not app.user %}
        {% set redirectPath = path('app_base') %}
        <script>window.location.href = "{{ redirectPath }}";</script>
    {% endif %}
    <h1>Create new Taches</h1>

    {{ include('taches/_form.html.twig') }}

    <a href="{{ path('app_taches_index') }}">back to list</a>
{% endblock %}
