{% extends 'base.html.twig' %}

{% block title %}Taches{% endblock %}

{% block body %}
    {% if not app.user %}
        {% set redirectPath = path('app_base') %}
        <script>window.location.href = "{{ redirectPath }}";</script>
    {% endif %}
    <h1>Taches</h1>

<div class="tacheParent">
    <div class="tache_show">
        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tach.id }}</td>
            </tr>

            <tr>
                <th>Nom</th>
                <td>{{ tach.name }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ tach.content }}</td>
            </tr>
            <tr>
                <th>Cree le</th>
                <td>{{ tach.createdAt ? tach.createdAt|date('dd/mm/YY H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modifiée le</th>
                <td>{{ tach.updatedAt ? tach.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Expire le</th>
                <td>{{ tach.expiratedAt ? tach.expiratedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ tach.status }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

    <a href="{{ path('app_taches_index') }}">Retour</a>

    <a href="{{ path('app_taches_edit', {'id': tach.id}) }}">Modifier</a>

    {{ include('taches/_delete_form.html.twig') }}
{% endblock %}
