/*!
Theme Name: pizzanet
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: pizzanet
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

pizzanet is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*font*/


/**/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --beige1 : #D2B58B;
    --beige2 : #D3B68D;
    --beige3 :  #BAB180;
    --vert1 : #049200;
    --vert2 : #037A00;
    --blanc : #FBFAF7;
    --rouge : #CB5D5B;
    --gris : #C4C4C4;

}

html {
    scroll-behavior: smooth;
}

.clear:before, .clear:after {
    content: ' ';
    display: table;
}

.clear:after {
    clear:both;
}

.clear {
    *zoom: 1;
}

ul, ol {
    list-style: none;
}

img {
    vertical-align: bottom;
    width: 100%;
}

a:link {
    color: var(--blanc);
    text-decoration: none;
}

a:visited {
    color: var(--blanc);
}

a:hover {
    color: var(--rouge);
    transition:all .3s;
    text-decoration: none;
}

a:active, a:focus {
    color: var(--blanc);
}

.wrap {max-width: 1140px;width:100%;margin: 0 auto;padding: 0 1rem;}

/*Code*/

/*HEADER*/

header {
    background-color: var(--beige1);
}

header .wrap {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
}

.logo {
    width: 20%;
    height: 100%;
    position: relative;
}

.logo a {
    position: absolute;
    top: 5px;
    width: 220px;
}

.header_link {
    width: 30%;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    font-size: 18px;
}

.header_buttons {
    width: 50%;
    display: flex;
}

.header_button1 {
    width: 50%;
    text-align: center;
}

.header_button1 {
    display: flex;
    justify-content: center;
}

.header_button1 p {
    width: 159px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2EDDF;
    color: #D2B285;
}

.header_button2 {
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_button2 a {
    display: flex;
    justify-content: center;
    gap: 2.6rem;
    align-items: center;
    width: 259px;
    height: 50px;
    border-radius: 10px;
    background-color: #037A00;
}

.header_button2_p1 {
    font-size: 18px;
    padding: 0.3rem;
    background-color: white;
    color: #037A00;
}

.header_button2_h4_1 {
   font-size: 18px;
}

.header_button2_p2 {
    font-size: 18px;
}

/*FOOTER*/

footer {
    background-color: var(--beige1);
    color: white;
}

.footer_top {
    border-bottom: solid;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer_top h1  {
    font-size: 22px;
}

.footer_top i {
    font-size: 50px;
}

.footer_bottom ul {
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    gap: 4rem;
    font-size: 18px;
    font-weight: bold;
}

.under_footer .wrap {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    display: flex;
}

.under_footer img {
    width: 45.22px;
    height: 27.6px;
}

/*HOME - INTRO*/

.intro_present {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    color: #AF0000;
}

.intro_arrow1 {
    border: solid #AF0000 1px;
}

.intro_text {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.5rem;
    font-size: 35px;
}

.intro_arrow2 {
    border: solid #AF0000 1px;
}

.intro_flexslider {
    display: flex;
}

.if_left {
    width: 60%;
}

.if_right {
    width: 40%;
}

.ifr_text_h1_1 {
    font-size: 24px;
    padding-top: 5rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

.ifr_text_p1 {
    font-size: 14px;
    margin: 0 1rem;
    text-align: center;
    padding-bottom: 0.3rem;
    color: #2C2C2C;
}

.ifr_text_p2 {
    font-size: 14px;
    margin: 0 1rem;
    text-align: center;
    padding-bottom: 1.5rem;
    color: #037A00;
}

.ifr_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ifr_button a {
    padding: 1rem 1.5rem;
    border-radius: 10px;
    background-color: #037A00;
}

/*HOME - PRESENTATION*/

#presentation {
    padding: 3rem 0;
}

.pres_all {
    display: flex;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}

.pres_all h1 {
    font-size: 20px;
    padding-bottom: 0.8rem;
}

.pres_all p {
    font-size: 14px;
}

/*HOME - PREPARATION*/

#preparation {
    text-align: center;
    padding: 2rem 0;
}

#preparation h1 {
    font-size: 20px;
    padding-bottom: 1rem;
}

#preparation p {
    font-size: 14px;
    padding-bottom: 0.7rem;
}


/*HOME - VIDEO*/

#video {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.video_logo {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

.video_logo img {
    width: 160px;
    height: 41px;
}

.video_title {
    font-size: 20px;
    text-align: center;
    padding-bottom: 2rem;
}

.video_lecteur {
    display: flex;
    justify-content: center;
}

/*HOME - MAP*/

#map {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.map_top {
    display: flex;
    padding-bottom: 2rem;
}

.mt_left {
    width: 50%;
}

.mt_right {
    width: 50%;
    text-align: center;
    margin: 0 0.5rem;
}

.mt_right h1 {
    font-size: 20px;
    padding-bottom: 1.5rem;
}

.mt_right p {
    font-size: 14px;
    padding-bottom: 2rem;
}

.mt_right_img {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.mt_right_img img {
    width: 40px;
    height: 55px;
}

.mt_right_a {
    padding: 3rem;
}

.mt_right_a a {
    background-color: #037A00;
    padding: 1rem 1.5rem;
    border-radius: 10px;
}

.map_bottom {
    color: #C4C4C4;
    font-size: 14px;
}

/*PAGE PIZZA*/

.pizza_intro {
    padding-top: 3rem;
}

.pizza_intro_text {
    text-align: center;
    padding: 1rem 0.5rem;
    font-size: 35px;
    color: #A00D16;
}

.pizza_intro2 {
    font-size: 24px;
    text-align: center;
    padding: 1.5rem 0;
}

.all_pizzas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 15rem;
    gap: 1rem;
}

.all_pizzas li {
    width: 45%;
}

.all_pizzas a:link {
    color: black;
    text-decoration: none;
}

.all_pizzas a:visited {
    color: black;
}

.all_pizzas a:hover {
    color: black;
    transition:all .3s;
    text-decoration: none;
}

.all_pizzas a:active, a:focus {
    color: black;
}

/*MODAL*/

.open-modal-button{
    cursor: pointer;
    display: flex;
    align-items: center;
}


.pizza_content {
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: #C4C4C4;
    padding: 1.5rem 0;
}

.pizza_top {
    display: flex;
    padding-bottom: 0.5rem;
}

.pizza_top h4 {
    font-size: 20px;
    width: 80%;
}

.pizza_top p {
    font-size: 18px;
    width: 20%;
}

.pizza_bottom p {
    font-size: 14px;
}

.pizza_img {
    width: 28%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    width: 50%;
    border-radius: 10px;
}

.close-button {
    color: #2C2C2C;
    float: right;
    font-size: 38px;
    font-weight: lighter;
    padding-right: 1rem;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal_img img {
    height: 50%;

}

.modal_inside_content {
    display: flex;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}

.modal_inside_content h4 {
    width: 20%;
    font-size: 20px;

}

.modal_inside_content_p1 {
    width: 65%;
    font-size: 14px;
}

.modal_inside_content_p2 {
    width: 15%;
    font-size: 18px;
}

.modal_inside_content_p3 {
    font-size: 14px;
    padding-bottom: 1.8rem;
}

.modal_inside_content2 {
    border-top: solid 2px;
    border-bottom: solid 2px;
    border-color: #C4C4C4;
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
}

.modal_inside_content2_p1 {
    width: 95%;
    font-size: 20px;
}

.modal_inside_content2_p2 {
    width: 5%;
    font-size: 31px;
    cursor: pointer;
    text-align: center;
}

.modal_inside_content3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem 0;
}

.modal_inside_content3_p1 {
    border: solid 1px;
    color: #037A00;
    border-radius: 100px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_inside_content3_p2 {
    font-size: 24px;
}

.modal_inside_content3_p3 {
    border: solid 1px;
    color: #037A00;
    border-radius: 100px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_inside_content4 {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding-bottom: 2rem;
}

.modal_inside_content4_a1 {
    width: 45%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 10px;
    background-color: #037A00;
}

.modal_inside_content4_a1_1 {
    color: white;
    font-size: 18px;
}

.modal_inside_content4_a1_2 {
    color: white;
    font-size: 18px;
}

.modal_inside_content4_a2 {
    border: solid;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 10px;
}

.modal_inside_content4 a:link {
    color: #037A00;
    text-decoration: none;
}

.modal_inside_content4 a:visited {
    color: #037A00;
}

.modal_inside_content4 a:hover {
    color: #037A00;
    transition:all .3s;
    text-decoration: none;
}

.modal_inside_content4 a:active, a:focus {
    color: #037A00;
}

/*RESPONSIVE*/


