<div class="sidebar">

  <div class="lock"><span (click)="lockEvent()"><i class="{{lockIcon}}"></i></span></div>

  <div class="sidebar-wrap">

    <div class="logo">
      <a [routerLink]="''">
        <img src="assets/img/white_logo.svg" alt="logo">
      </a>
    </div>

    <div class="ligne"></div>

    <div id="icons">
      <div class="icon">

        <div class="flex">
          <div class="espace-icon">
            <app-button-link-sidebar [icon]="'fa-solid fa-house'" [link]="'/dashboard'"></app-button-link-sidebar>
          </div>
          <div class="espace-texte">
            <p [ngClass]="{ 'hide': !isSidebarOpen, 'icon-title': isSidebarOpen }">
              <a [routerLink]="'/dashboard'">Tableau de bord</a>
            </p>
          </div>
        </div>

        <div class="flex">
          <div class="espace-icon">
            <app-button-link-sidebar [icon]="'fa-solid fa-user-tie'" [link]="'/dashboard/employes/list'" title="Employés"></app-button-link-sidebar>
          </div>
          <div class="espace-texte">
            <p [ngClass]="{ 'hide': !isSidebarOpen, 'icon-title': isSidebarOpen }">
              <a [routerLink]="'/dashboard/employes/view'">Employés</a>
            </p>
          </div>
        </div>

        <div class="flex">
          <div class="espace-icon">
            <app-button-link-sidebar [icon]="'fa-solid fa-building'" [link]="'/dashboard/entreprises/list'" title="Entreprises"></app-button-link-sidebar>
          </div>
          <div class="espace-texte">
            <p [ngClass]="{ 'hide': !isSidebarOpen, 'icon-title': isSidebarOpen }">
              <a [routerLink]="'/dashboard/entreprises/list'">Entreprise</a>
            </p>
          </div>
        </div>

        <div class="flex">
          <div class="espace-icon">
            <app-button-link-sidebar [icon]="'fa-solid fa-user'" [link]="'/dashboard/clients/list'" title="Clients"></app-button-link-sidebar>
          </div>
          <div class="espace-texte">
            <p [ngClass]="{ 'hide': !isSidebarOpen, 'icon-title': isSidebarOpen }">
              <a [routerLink]="'/dashboard/clients/list'">Clients</a>
            </p>
          </div>
        </div>

        <div class="flex">
          <div class="espace-icon">
            <app-button-link-sidebar [icon]="'fa-solid fa-cart-shopping'" [link]="'/dashboard/commandes/list'" title="Commandes"></app-button-link-sidebar>
          </div>
          <div class="espace-texte">
            <p [ngClass]="{ 'hide': !isSidebarOpen, 'icon-title': isSidebarOpen }">
              <a [routerLink]="'/dashboard/commandes/list'">Commandes</a>
            </p>
          </div>
        </div>

        <div class="flex">
          <div class="espace-icon">
            <app-button-link-sidebar [icon]="'fa-solid fa-city'" [link]="'/dashboard/societe/list'" title="Société"></app-button-link-sidebar>
          </div>
          <div class="espace-texte">
            <p [ngClass]="{ 'hide': !isSidebarOpen, 'icon-title': isSidebarOpen }">
              <a [routerLink]="'/dashboard/societe/list'">Société</a>
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="ligne"></div>

    <div class="user-section">
      <!-- photo user selon la BDD -->
      <div class="user-wrap">
        <div class="logo user-logo">
            <div class="user-photo"></div>
            <div class="online-status" [class.online]="isUserOnline" [class.offline]="!isUserOnline"></div>
        </div>
        <p>En ligne</p>
      </div>
      <div class="user">
        <h3>{{ getUserName() }}</h3>
      </div>

      <div class="infoflex">
        <div class="iconLogout">
          <i class="fa-solid fa-right-from-bracket" (click)="logoutUser()"></i>
        </div>
        <p [ngClass]="{ 'hide': !isSidebarOpen, 'icon-title': isSidebarOpen }">Se déconnecter</p>
      </div>
    </div>
  </div>
</div>


