@import "../../../styles";

.ligne{
  border-bottom: 1px solid $iconColor;
  width: 80%;
  margin: 5px;
}

.icon-title{
  display: block;
}

.hide{
  display: none;
}

.sidebar-wrap{
  max-width: 1294px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(/assets/img/bg-connexion.png);
}

.logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  margin: 0 auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  z-index: 1;

  &.user-logo{
    background: url("/assets/img/user.png") center/cover no-repeat;
  }
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lock{
  color: $iconColor;
  text-align: right;
  padding: .75rem .5rem;
}

.user{
  text-align: center;
  color: white;
  margin-top: 10px;

  h3{
    font-size: 15px;
    font-weight: 100;
    margin-top: 1rem;
  }
}

.iconLogout{
  transition: all .4s;
  font-size: 20px;
  cursor: pointer;
}

.iconLogout:hover{
  transform: scale(1.3);
  color: red;
  cursor: pointer;
}

#icons {
  width: 100%;

  .icon {
    width: 100%;

    .flex {
      display: flex;
      align-items: center;
      margin-left: 40px;

      .espace-icon,
      .espace-texte {
        width: 50%;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;

      }

      .espace-texte {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .espace-texte  p{
        margin-left: -2rem;
      }
    }
  }
}

.flex, .infoflex{
  color: white;
  display: flex;
  font-size: 10px;
  align-items: center;
  margin: 15px 0;
  justify-content: space-around;

  i{
    padding-left: 10px;
  }
}

.flex p, .infoflex p{
  margin-left: 10px;
}

.infoflex p{
  font-weight: bold;
  font-size: 15px;
}

.espace-texte a{
  color: white;
  &:hover{
    color: $blueBtns;
  }
}

.online-status {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 1.5rem;
  transform: translate(50%, 50%);
}

.online {
  background-color: rgb(0, 255, 0);
}

.offline {
  background-color: red;
}

.user-section{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

}

.user-wrap{
  display: flex;
  flex-direction: column;
  font-size: 10px;
  color: $iconColor;
  text-align: center;

  p{
    margin-top: 0.5rem;
  }
}

