<section id="client-list">
  <div class="dash-wrap">
    <app-bubble-list [titre]="clientTitre" [subTitre]="clientSubTitre" [addLink]="clientLink" [viewLink]="clientView" [editLink]="clientEdit" [tableData]="dataClients"></app-bubble-list>
  </div>
</section>
