<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{ asset('style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
    <header>
        <div class="mb-3">
            <a href="{{ path('app_base') }}"><h2>MY BLOCK NOTE</h2></a>
        </div>
        {% if app.user %}
            <div class="mb-3 links">
                <a href="{{ path('app_taches_index') }}">Dashboard</a>
                <a href="{{ path('app_logout') }}">Se déconecter</a>
            </div>
        {% endif %}
        {% if not app.user %}
            <div class="mb-3 links">
                <a href="{{ path('app_user_new') }}">S'inscrire</a>
                <a href="{{ path('app_login') }}">Se connecter</a>
            </div>
        {% endif %}

    </header>
        {% block body %}{% endblock %}
    </body>
</html>
