@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}
a {
  text-decoration: none;
}


body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background: white;
  overflow-x: hidden;
}


html{
  scroll-behavior: smooth;
}

.wrap {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Admin Bar */

.admin_barleft {
  border-right: solid black;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0C684B;
  color: white;
  width: 24%;
  transition: all 0.5s ease;
  padding-bottom: 80px; /* Ajout d'un padding en bas */
  z-index: 999;
  .abl_logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    .abl_button {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 30px;
      padding-right: 1.5rem;
      padding-top: 1.5rem;
      cursor: pointer;
    }
  }
  .abl_logged {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    .abl_logged_left {
      width: 30%;
      display: flex;
      justify-content: center;
    }
    .abl_logged_right {
      width: 70%;
      display: flex;
      align-items: center;
      .abl_logged_right2 {
        h1 {
          font-size: 20px;
        }
        h2 {
          font-size: 15px;
          font-weight: bold;
        }
      }
    }
  }
  .abl_bar {
    background-color: white;
    height: 2px;
    width: 90%;
    border-radius: 10px;
    margin: 0 auto;
  }
  .abl_list {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    ul {
      width: 75%;
      li {
        position: relative;
        padding-bottom: 1.5rem;
        .dropdown-menu {
          position: absolute;
          z-index: 1000;
          top: 45px;
          left: 0;
          width: 100%;
          opacity: 0;
          pointer-events: none;
          transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
          transform: translateY(-10px);
          background-color: #117757;
          border-radius: 0 0 20px 20px;
        }
        .dropdown-menu.show {
          opacity: 1;
          pointer-events: auto;
          transform: translateY(0);
        }
        .dropdown-item {
          padding: 10px 20px;
          cursor: pointer;
          border-bottom: solid;
          border-color: #0C684B;
          color: #fff;
          background-color: transparent;
          border-radius: 0;
          transition: background-color 0.2s ease-in-out;
        }
        .dropdown-item.last-item {
          border: none;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
        .dropdown-item:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }

        .dropdown-menu2 {
          position: absolute;
          z-index: 1000;
          top: 45px;
          left: 0;
          width: 100%;
          opacity: 0;
          pointer-events: none;
          transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
          transform: translateY(-10px);
          background-color: #117757;
          border-radius: 0 0 20px 20px;
        }
        .dropdown-menu2.show2 {
          opacity: 1;
          pointer-events: auto;
          transform: translateY(0);
        }

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 20px;
          background-color: #117757;
          color: white;
          padding: 0.5rem 0;
          i {
            color: black;
            font-size: 25px;
            width: 20%;
            text-align: center;
          }
          h1 {
            font-size: 20px;
            width: 80%;
            text-align: center;
          }
        }
      }
      .abl_list_top {
        padding-top: 2rem;
        padding-bottom: 4.5rem;
        a {
          background-color: #F68C11;
          color: black;
        }
      }
    }
  }
  .abl_link {
    display: flex;
    justify-content: center;
    ul {
      width: 80%;
      .undisplayed_link {
        display: none;
      }
      li{
        padding: 1rem;
        a {
          font-size: 20px;
          color: black;
          font-weight: bold;
          padding: 0.5rem;
          background-color: #F68C11;
          border-radius: 10px;
        }
        a:hover {
          background-color: #d77c11;
        }
      }
    }
  }
}
.admin_barleft.fixed {
  position: fixed;
  bottom: 0;
  top: auto;
  padding-bottom: 2rem;
}
.admin_barleft.minified {
  width: 150px;
  padding-bottom: 150px;
  .abl_logo {
    img {
      width: 100px;
    }
    .abl_button {
      font-size: 15px;
    }
  }
  .abl_logged {
    padding-left: 0;
    .abl_logged_left {
      width: 100%;
    }
    .abl_logged_right {
      display: none;
    }
  }
  .abl_bar {
    background-color: white;
    height: 2px;
    width: 90%;
    border-radius: 10px;
    margin: 0 auto;
  }
  .abl_list {
    ul {
      li {
        a {
          h1 {
            display: none;
          }
        }
      }
    }
  }
  .abl_link {
    ul {
      .displayed_link {
        display: none;
      }
      .undisplayed_link {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      li{
        padding: 1rem;
        a {
          font-size: 20px;
          color: black;
          font-weight: bold;
          padding: 0.5rem;
          background-color: #F68C11;
          border-radius: 10px;
        }
        a:hover {
          background-color: #d77c11;
        }
      }
    }
  }
}
.admin_barleft.minified.fixed {
  padding-bottom: 1rem;
}

.admin_content {
  margin-left: 24%;
  transition: all 0.5s ease;
}
.admin_content.minified {
  margin-left: 9.4rem;
}

/* Dashboard */

#admin_homepage {
  .section_homepage1 {
    display: flex;
    margin-top: 1.3rem;
    margin-left: 1.3rem;
    padding-bottom: 3.5rem;
    .sh1_left {
      width: 60%;
      h1 {
        font-size: 35px;
        text-shadow: 2px 2px 4px #000;
      }
      .sh1l_boxs {
        display: flex;
        justify-content: center;
        gap: 2rem;
        padding: 2rem 0;
        .sh1l_box1 {
          width: 40%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          padding: 1rem 0;
          background-color: #F68C11;
          border-radius: 10px;
          color: white;
          h1{
            width: 40%;
            margin: 0.5rem;
            font-size: 50px;
          }
          p {
            width: 60%;
            margin: 0.5rem;
          }
        }
        .sh1l_box2 {
          width: 40%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          padding: 1rem 0;
          background-color: #ED166D;
          border-radius: 10px;
          color: white;
          h1{
            width: 40%;
            margin: 0.5rem;
            font-size: 50px;
          }
          p {
            width: 60%;
            margin: 0.5rem;
          }
        }
      }
      .sh1l_chart {
        margin: 1.5rem;
      }
    }
    .sh1_right {
      width: 40%;
      h1 {
        text-align: center;
        font-size: 25px;
        margin: 0 1.5rem;
        padding-bottom: 1.5rem;
        text-shadow: 2px 2px 4px #000;
      }
      .sh1r_boxs {
        margin: 0 2.5rem;
        .s1hr_box1 {
          width: 100%;
          text-align: center;
          padding: 1rem 0;
          background-color: #F68C11;
          border-radius: 10px;
          color: white;
          margin-bottom: 4rem;
          h1{
            margin: 0.5rem;
            font-size: 70px;
            padding-bottom: 0;
          }
          h4 {
            font-size: 20px;
            margin: 0.5rem;
          }
        }
        .s1hr_box2 {
          width: 100%;
          text-align: center;
          padding: 1rem 0;
          background-color: #ED166D;
          border-radius: 10px;
          color: white;
          h1{
            margin: 0.5rem;
            font-size: 70px;
            padding-bottom: 0;
          }
          h4 {
            font-size: 20px;
            margin: 0.5rem;
          }
        }
      }
    }
  }
  .section_homepage2 {
    margin-left: 1.3rem;
    h1 {
      font-size: 35px;
      text-shadow: 2px 2px 4px #000;
    }
    .sh2_all {
      display: flex;
      .sh2_left {
        width: 50%;
        margin: 2rem 4rem;
        background-color: #ED166D;
        border-radius: 10px;
        color: white;
        .sh2l_chart {
          display: flex;
          justify-content: center;
          div {
            display: flex;
            justify-content: center;
            width: 60%;
          }
        }
        .sh2l_text {
          margin: 1rem;
          text-align: center;
          .sh2lt1 {
            padding-bottom: 1.5rem;
            h3{
              font-size: 25px;
            }
          }
          .sh2lt2 {
            padding-bottom: 1.5rem;
            h3{
              font-size: 25px;
            }
          }
        }
      }
      .sh2_right {
        border-radius: 10px;
        width: 50%;
        margin: 5rem 2rem;
        background-color: #F68C11;
        color: white;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        .sh2_right2 {
          h2 {
            padding: 1rem 0;
            color: black;
            font-size: 35px;
          }
          h3 {
            text-align: left;
            font-size: 25px;
            padding-bottom: 1rem;
          }
          .sh2r_bottom {
            text-align: left;
            font-size: 20px;
            margin-left: 1rem;
            .sh2rb1 {
              display: flex;
              h4 {
                width: 50%;
              }
              p {
                color: black;
              }
            }
            .sh2rb2 {
              display: flex;
              h4 {
                width: 50%;
              }
              p {
                color: black;
              }
            }
            .sh2rb3 {
              display: flex;
              h4 {
                width: 50%;
              }
              p {
                color: black;
              }
            }
          }
        }
      }
    }
  }
  .section_homepage3 {
    margin-left: 1.3rem;
    h1 {
      font-size: 35px;
      text-shadow: 2px 2px 4px #000;
    }
    .sh3_all {
      display: flex;
      padding: 4rem 0;
      .sh3_left {
        width: 50%;
        display: flex;
        align-items: center;
        .sh3_boxs {
          margin: 0 2.5rem;
          .sh3_box1 {
            width: 100%;
            text-align: center;
            padding: 1rem 2rem;
            background-color: #F68C11;
            border-radius: 10px;
            color: white;
            margin-bottom: 4rem;
            h2{
              margin: 0.5rem;
              font-size: 30px;
              padding-bottom: 0;
            }
            h1 {
              font-size: 40px;
              margin: 0.5rem;
            }
          }
          .sh3_box2 {
            width: 100%;
            text-align: center;
            padding: 1rem 2rem;
            background-color: #ED166D;
            border-radius: 10px;
            color: white;
            h2{
              margin: 0.5rem;
              font-size: 30px;
              padding-bottom: 0;
            }
            h1 {
              font-size: 40px;
              margin: 0.5rem;
            }
          }
        }
      }
      .sh3_right {
        width: 50%;
        .sh3r_chart {
          margin: 5rem;
        }
      }
    }
  }
}
#user-admin {
  margin: 0 auto;
  padding: 20px;
  .title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 2px 2px 8px #000;
  }
  .btn {
    background-color: #F68C11;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 20px;
    display: inline-block;
  }
  .btn:hover {
    background-color: #b4670f;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  th {
    background-color: #F68C11;
    color: #fff;
    font-weight: bold;
  }
  td button {
    background-color: #dc3545;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    font-weight: bold;
  }
  td button:hover {
    background-color: #c82333;
  }
  td button.edit {
    background-color: #0C684B;
  }
  td button.edit:hover {
    background-color: #218838;
  }
}
#pro-admin {
  margin: 0 auto;
  padding: 20px;
  .title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 2px 2px 8px #000;
  }
  .btn {
    background-color: #F68C11;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 20px;
    display: inline-block;
  }
  .btn:hover {
    background-color: #b4670f;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  th {
    background-color: #F68C11;
    color: #fff;
    font-weight: bold;
  }
  td button {
    background-color: #dc3545;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    font-weight: bold;
  }
  td button:hover {
    background-color: #c82333;
  }
  td button.edit {
    background-color: #0C684B;
  }
  td button.edit:hover {
    background-color: #218838;
  }
}
#particulier-admin {
  margin: 0 auto;
  padding: 20px;
  .title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 2px 2px 8px #000;
  }
  .btn {
    background-color: #F68C11;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 20px;
    display: inline-block;
  }
  .btn:hover {
    background-color: #b4670f;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  th {
    background-color: #F68C11;
    color: #fff;
    font-weight: bold;
  }
  td button {
    background-color: #dc3545;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    font-weight: bold;
  }
  td button:hover {
    background-color: #c82333;
  }
  td button.edit {
    background-color: #0C684B;
  }
  td button.edit:hover {
    background-color: #218838;
  }
}
