#entreprise-view{
  display: flex;
  flex-direction: column;
  padding: 0 1rem;

  .dash-wrap{
    max-width: 1212px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    .entreprise-infos{
      .main-infos-content{
        h2{
          font-weight: bold;
          font-size: 30px;
        }
      }

      .infos1-content, .infos2-content{
        font-weight: normal;
        font-size: 22px;
      }

      .infos3-content{
        font-size: 25px;
        font-weight: bold;
      }

      .infos4-content{
        font-size: 23px;

        &:hover{
          cursor: default;
        }
      }
    }
    .dash-numbers{
      display: flex;
      gap: 2.4rem;
    }

    .dash-multiple-infos{
      display: flex;
      justify-content: space-between;

      .dash-chart{
        width: 65%;
      }

      .dash-infos-utiles{
        width: 30%;
      }
    }

    .dash-evolution{
      width: 100%;
    }
  }
}

@media screen and (max-width: 1000px){
  #entreprise-view{
    .dash-wrap{
      .dash-multiple-infos{
        flex-direction: column;
        align-items: center;
        gap: 3rem;

        .dash-chart{
          width: 90%;
        }
        .dash-infos-utiles{
          width: 50%;
        }
      }
    }
  }
}

@media screen and (max-width: 800px){
  #entreprise-view{
    .dash-wrap{
      .employe-infos{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .infos3-content{
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 700px){
  #entreprise-view{
    .dash-wrap{
      .dash-multiple-infos{
        .dash-chart{
          width: 100%;
        }
        .dash-infos-utiles{
          width: 70%;
        }
      }
    }
  }
}

@media screen and (max-width: 500px){
  #entreprise-view{
    .dash-wrap{
      .employe-infos{
        .main-infos-content{
          h2{
            font-size: 20px;
          }
        }
        .infos1-content h3{
          font-size: 18px;
        }

        .infos2-content{
          font-size: 15px;
        }

        .infos4-content{
          font-size: 18px;
        }
      }

      .dash-multiple-infos{
        .dash-infos-utiles{
          width: 100%;
        }
      }
    }
  }
}
