{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<ul class="article-list">
    {% for article in articles %}
        <li>
            <a href="{{ path('app_article_show', {'id': article.id}) }}"><h3>{{ article.name }}</h3></a>
        </li>
    {% endfor %}
</ul>

{% endblock %}
