{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
    <div class="single-article-detail-card">
        <h1>{{ article.name }}</h1>
        <p>{{ article.content }}</p>
        <a href="{{ path('app_article') }}"><h3>Retour à la liste des articles</h3></a>
    </div>
    <div class="single-article-detail-commentary">
        <h2>Commentaires :</h2>
        <ul>
            {% for commentaire in commentaires %}
                <li>
                    <h3>{{ commentaire.id }}</h3>
                    <p>{{ commentaire.content }}</p>
                </li>
            {% endfor %}
        </ul>

        <div>
            <a href=""><h4>Ajouter un commentaire</h4></a>
        </div>
    </div>
{% endblock %}