/*
Theme Name:   Twenty Twenty Child
Theme URI:    http://example.com/twenty-twenty-child/
Description:  Twenty Twenty Child Theme
Author:       John Doe
Author URI:   http://example.com
Template:     twentytwenty
Version:      1.0.0
License:      GNU General Public License v2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
Text Domain:  twenty-twenty-child
*/

#site-header {
    background-color: greenyellow;
}

#site-header .primary-menu a {
    color: white;
}

#site-content {
    background-color: white;
}

.header-inner2 {
    background-color: red;
    height: 4px;
}