.bg {
    background-image: url('/assets/img/bg-connexion.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: relative;
}


.form-connexion{
    color: #F2F2F2;
}
    
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
    width: 100px; 
    height: 100px; 
    overflow: hidden; 
    text-align: center;
    margin: 0 auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
   
}
  
.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1{
    padding-top: 4rem;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}  

h3{
    padding-top: 5px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.exit{
    color: #F2F2F2;
    cursor: pointer;
    position: absolute;
    top: 15px; 
    left: 20px;
}

.exit:hover{
    color: #02BBE9;
}

label{
    padding-left: 1rem;
}

.input {
    position: relative; 
}

.icon-container {
    position: absolute;
    top: 50;
    left: 0;
    padding: 10px;
    color: #111111;
}

.input input{
    width: 400px; 
    height: 40px;
    border-radius: 1rem; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 0 2rem;
    display: flex;
    margin-bottom: 25px;
}

.input input::placeholder {
    color: #999; 
    font-style: italic;
}

@media (max-width: 600px) {
    .input input {
        width: 300px; 
    }
}

.button-connexion{
    background-color: #02BBE9;
    color: #F2F2F2;
    width: 200px;
    border-radius: 1rem; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}

.button-connexion:hover{
    background-color: #FB6316;
}


