* {
    list-style: none;
    margin: 0;
    padding: 0;
}


a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
}
a:hover {
    color: red;
    text-decoration: none;
}
a:active, a:focus {
    color: white;
}

body {
    background-color: darkblue;
}

.font30 {
    color: white;
    font-size: 30px;
}

.color_red {
    color: red;
}

#blog h1 {
    color: green;
}

#blog p.cla1 p.cla2 p.cla3 {
    font-weight: bold;
}

input [type=text] {
    background-color: orangered;
}

#selectorplus ul + p {
    color: lime;
    font-size: 50px;
}

#selectorvague p ~ span {
    background-color: magenta;
}

#container > ul {
    border: 1px solid black;
}

#child p:first-child {
    color: magenta;
}

#child p:last-child {
    color: yellow;
}

#child p:nth-child(2) {
    color: lime;
}

#block {
    background-color: red;
}