@import "../../../styles";

#header{
  width: 100%;
  padding-top: 1.5rem;
  color: $iconColor;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

  .all-wrap{
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 1.3rem;

    .main-wrap{
      width: 95%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      padding: 0 1.3rem;

      .role{
        background: $blueBtns;
        padding: 2px 15px;
        border-radius: 1rem;
        cursor: default;
        font-size: 16px;
        height: fit-content;
      }

      .main-head{
        width: 50%;
        text-align: center;
      }
    }

    .today, .home-title{
      font-family: $fontTitre;
      font-size: $sizeSousTitre;
      text-transform: capitalize;
      cursor: default;
    }

    .today{
      white-space: nowrap;
      width: fit-content;
    }
    .time{
      text-align: center;
      width: fit-content;
    }
  }

  .icon-container{
    display: flex;
    gap: 1rem;
    font-size: $sizeSousTitre;
  }
  .palette{
    font-size: $sizeSousTitre;
    padding-left: 4rem;
  }
  .enveloppe > i:hover, .bell > i:hover, .palette > i:hover{
    color: $blueBtns;
    cursor: pointer;
  }
  .line{
    border-bottom: 1px solid $iconColor;
    width: 95%;
    margin: 1.5rem auto 2rem;
  }
}

@media screen and (max-width: 1300px) {
  #header{
    .all-wrap{
      .main-wrap{
        .time{
          margin: 0 auto;
          text-align: center;
        }
        .role{
          margin-right: 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  #header{
    .all-wrap{
      .main-wrap{
        flex-direction: column;
        gap: 2rem;
        text-align: center;

        .main-head{
          margin: 0 auto;
        }

        .role{
          width: fit-content;
          margin: 0 auto;
        }

        .icon-container{
          margin: 0 auto;
        }
        .palette{
          padding: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  #header{
    .all-wrap{
      .main-wrap{
        .today{
          white-space: break-spaces;
          text-align: center;
        }

        .main-head{
          width: 100%;
        }
      }
    }
  }
}
