* {
    list-style: none;
    margin: 0;
    padding: 0;
}


a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
}
a:hover {
    color: red;
    text-decoration: none;
}
a:active, a:focus {
    color: white;
}

body {
    background-color: darkblue;
    color: white;
}

img {
    width: 100px;
}
