{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal titlepage">Se Connecter</h1>
    <div class="form_user form_login">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                {% set redirectPath = path('app_base') %}
                <script>window.location.href = "{{ redirectPath }}";</script>
            {% endif %}



            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <button class="btn btn-lg btn-primary buttonlogin" type="submit">
                Se connecter
            </button>
        </form>
    </div>

{% endblock %}
