* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --noir: #333333;
}

html {
    scroll-behavior: smooth;
}

.clear:before, .clear:after {
    content: ' ';
    display: table;
}

.clear:after {
    clear:both;
}

.clear {
    *zoom: 1;
}

ul, ol {
    list-style: none;
}

img {
    vertical-align: bottom;
    width: 100%;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: red;
    transition:all .3s;
    text-decoration: none;
}

a:active, a:focus {
    color: white;
}

.wrap {max-width: 1440px;width:100%;margin: 0 auto;padding: 0 1rem;}

/*Code*/

header {
    padding: 1rem 0rem;
    background-color: darkblue;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
}

header a {
    color: white;
    font-weight: bold;
    font-size: 40px;
}

#movies {
    border: solid;
    background-color: midnightblue;
    padding: 6rem 0rem;
}

#movies ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#movies li {
    width: 20%;
    margin: 1rem;
}

.movies_img {
    display: flex;
    justify-content: center;
}

.movies_info {
    text-align: center;
    margin: 0rem 1rem;
    padding-bottom: 0.5rem;
}

.poster {
    width: 30%;
    border: solid;
}