@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url('../fonts/Poppins-Light.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url('../fonts/Poppins-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url('../fonts/Poppins-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto Slab';
  src: local('Roboto Slab'), url('../fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto Slab';
  src: local('Roboto Slab'), url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto Slab';
  src: local('Roboto Slab'), url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Prata';
  src: local('Prata'), url('../fonts/Prata-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Playfair Display';
  src: local('Playfair Display'), url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Playfair Display';
  src: local('Playfair Display'), url('../fonts/PlayfairDisplay-Bold.woff') format('woff');
  font-weight: 700;
}
