@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
ul, ol{
  list-style: none;
}
img {
  vertical-align: bottom;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}
label:not(:first-child){
  margin-top: 2rem;
}
input{
  border-radius: 5px;
  border: none;
  padding: .3rem;
}
input[type=submit]{
  padding: .5rem;
  margin: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius : 10px;
}
textarea{
  resize: none;
  height: 5rem;
}
.error{
  color: red;
}
html{
  scroll-behavior: smooth;
}
body{
  font: 400 16px/1.4 Verdana, Arial, sans-serif;
}
