@import './font';

$mainColor : #43264f;
$iconColor : #F3F3F3;
$blueBtns : #02BBE9;
$orangeBtnHover : #FB6316;
$violetDashboardInput : #5F366F;
$mainBlack : #111;
$bgBubbles : #31173d;

$boxShadow : #201225;
$boxShadowBubbles: inset 0px -23px 25px 0px rgba($boxShadow, 0.17),
inset 0px -36px 30px 0px rgba($boxShadow, 0.15),
inset 0px -79px 40px 0px rgba($boxShadow, 0.1),
0px 2px 1px rgba($boxShadow, 0.06),
0px 4px 2px rgba($boxShadow, 0.09),
0px 8px 4px rgba($boxShadow, 0.09),
0px 16px 8px rgba($boxShadow, 0.09),
0px 32px 16px rgba($boxShadow, 0.09);

$boxShadowBubbles: inset 0px -23px 25px 0px rgba($boxShadow, 0.17),
inset 0px -36px 30px 0px rgba($boxShadow, 0.15),
inset 0px -79px 40px 0px rgba($boxShadow, 0.1),
0px 2px 1px rgba($boxShadow, 0.06),
0px 4px 2px rgba($boxShadow, 0.09),
0px 8px 4px rgba($boxShadow, 0.09),
0px 16px 8px rgba($boxShadow, 0.09),
0px 32px 16px rgba($boxShadow, 0.09);

$changeBlackDashboardInput: #474747;

$changeGreenMainColor : #2E5F36;
$changeGreenDashboardInput : #388843;

$changeBlueMainColor : #263363;
$changeBlueDashboardInput : #374C94;

$bgFrameHome : rgba(67, 38, 79, 0.50);
$homeGradient : linear-gradient(180deg, #23062B 0%, #F2F2F2 100%);
$soluceLinesColor : #AF1F4D;

$fontBtns : Poppins;
$sizeBtnTxt : 20px;

$fontTitre : Roboto Slab;
$sizeTitre : 30px;

$fontTitreSolo : Roboto Slab;
$sizeTitreSolo : 45px;

$fontSousTitre : Prata;
$sizeSousTitre : 20px;

$fontTxt : Playfair Display;
$sizeTxt : 20px;

$weightNormal : 400;
