@import "../../styles.scss";

section{
  position: relative;
}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 126px;
  z-index: 2;
  //background: $mainColor;
  background-image: url('/assets/img/bg-connexion.png');
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s;
}

#routing{
  margin-left: 126px;
  background-image: url("../../assets/img/bg_home_globe.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  height: 100%;

}
