<section class="section">
  <div [style.width]="widthSidebar" class="sidebar" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
    <app-sidebar (lockChange)="onLockChange($event)" [isSidebarOpen]="isSidebarOpen"></app-sidebar>
  </div>

  <div id="routing">
    <app-header-boards></app-header-boards>
    <router-outlet></router-outlet>
  </div>
</section>

