/*font*/

@font-face {
    font-family: 'sfrregular';
    src: url('sfr-1.0-regular-webfont.woff2') format('woff2'),
    url('sfr-1.0-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sfrbold';
    src: url('sfr-1.0-bold-webfont.woff2') format('woff2'),
    url('sfr-1.0-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/**/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'sfrregular'; font-size: 16px; line-height: 1.3;font-weight: 400;
}

:root {
     --rouge : #D90011;
     --noir  : #000000;
     --gris  : #D1D2D4;
}

html {
    scroll-behavior: smooth;
}

.clear:before, .clear:after {
    content: ' ';
    display: table;
}

.clear:after {
    clear:both;
}

.clear {
    *zoom: 1;
}

ul, ol {
    list-style: none;
}

img {
    vertical-align: bottom;
    width: 100%;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: red;
    transition:all .3s;
    text-decoration: none;
}

a:active, a:focus {
    color: black;
}

.wrap {max-width: 1140px;width:100%;margin: 0 auto;padding: 0 1rem;}
.wrap2 {max-width: 976px;width:100%;margin: 0 auto;padding: 0 1rem;}
.wrap3 {max-width: 520px;width:100%;margin: 0 auto;padding: 0 1rem;}


/*Code*/
/*Header*/

header .wrap2 {
    display: flex;
}

.header_left {
    width: 50%;
}

.header_left img {
    width: 170px;
    padding: 1rem 0rem;
}

.header_right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_right ul {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.header_right img {
    height: 50px;
}

.header_right p {
    padding-top: 0.3rem;
    text-align: center;
}

/*Home*/

#home_promotion {
    padding: 0.5rem 0rem;
}

#home_postes {
    text-align: center;
}

#home_postes h1 {
    font-size: 30px;
    padding-top: 3rem;
    padding-bottom: 0.5rem;
    word-spacing: 0.4rem;
}

#home_postes p {
    padding-bottom: 5rem;
}

#home_profile {
    padding-bottom: 5rem;
}

#home_profile h1 {
    text-align: center;
    font-size: 30px;
    padding-top: 3rem;
    padding-bottom: 2rem;
    word-spacing: 0.4rem;
}

.profils_1 {
    display: flex;
    background-color: var(--gris);
    margin-bottom: 5rem;
}

.profils1_left {
    width: 50%;
    margin: 1rem;
}

.profils1_left h2 {
    padding-bottom: 1rem;
    font-size: 20px;
}

.profils1_right {
    width: 58%;
}

.profils_2 {
    display: flex;
    background-color: var(--gris);
    margin-bottom: 1rem;
}

.profils2_left {
    width: 50%;
}

.profils2_right {
    width: 50%;
    margin: 1rem;
}

.profils2_right h2 {
    font-size: 20px;
    padding-bottom: 1rem;
}

/*Contact*/

#contact_offres .wrap {
    position: relative;
    padding-bottom: 3rem;
}

.offre_title {
    border: solid;
    color: white;
    position: absolute;
    font-size: 25px;
    top: 100px;
    left: 180px;
    padding: 5rem 2rem;
    box-shadow: 0px 0px 15px -3px white;
}

#contact_formulaire .wrap3 {
    padding-bottom: 5rem;
}

#contact_formulaire form {
    display: flex;
    flex-direction: column;
}

.email {
    width: 70%;
    padding: 0.5rem 0.3rem;
    margin-bottom: 1rem;
}

.message {
    width: 100%;
    padding: 0.5rem 0.3rem;
    margin-bottom: 1rem;
    min-height: 50px;
    max-height: 250px;
    resize: vertical;
}

.submit {
    width: 20%;
    border: solid 1px;
    padding: 0.5rem 0.3rem;
    margin-bottom: 1rem;
    background-color: white;
    cursor: pointer;
    transition: all 1s;
}

.submit:hover {
    width: 22%;
}

/*listing*/

#listing {
    padding-bottom: 5rem;
}

.contact {
    border: solid 1.5px gray;
    margin: 1.5rem;
    padding: 0.5rem 1rem;
}

#listing a:link {
    color: red;
    text-decoration: none;
}

#listing a:visited {
    color: red;
}

#listing a:hover {
    color: lightcoral;
    transition:all .3s;
    text-decoration: none;
}

#listing a:active, a:focus {
    color: red;
}

/*Single*/

#single {
    padding-bottom: 5rem;
}

#single .wrap2 {
    padding: 1rem;
    box-shadow: 10px 10px 15px -3px rgba(0,0,0,0.1);
}

#single h1 {
    color: var(--rouge);
    padding-bottom: 1rem;
}

.created_at {
    text-align: right;
    padding-top: 1rem;
}

/*Footer*/

footer {
    background-color: var(--noir);
    color: white;
    list-style: none;
}

.footer_back {
    display: flex;
    justify-content: center;
    padding-bottom: 0.4rem;
}

footer img {
    width: 10px;
}

.footer_nav {
    display: flex;
    justify-content: center;
    padding-top: 0.4rem;
    padding-bottom: 2rem;
    font-size: 15px;
}

.footer_nav ul {
    display: flex;
    justify-content: center;
    gap: 0.2rem;
}

.footer_nav a:link {
    color: white;
    text-decoration: none;
}

.footer_nav a:visited {
    color: white;
}

.footer_nav a:hover {
    color: red;
    transition:all .3s;
    text-decoration: none;
}

.footer_nav a:active, a:focus {
    color: white;
}

@media screen and (max-width: 915px){
    .profils_1 {
        flex-direction: column;
    }

    .profils1_left {
        width: 100%;
    }


    .profils1_right {
        width: 100%;
    }

    .profils_2 {
        flex-direction: column;
    }

    .profils2_left {
        width: 100%;
    }

    .profils2_right {
        width: 100%;
    }

}


