<!-- auth/form/form.component.html -->

<div class="bg">
    <app-icon-form [iconExit]="'fa-solid fa-door-open'" [exitLink]="''" class="exit"></app-icon-form>

    <div class="form-connexion">
        <div class="logo">
            <a [routerLink]="'/'">
                <img src="assets/img/white_logo.svg" alt="logo">
            </a>
        </div>

        <h1>Connexion</h1>

        <form [formGroup]="credentialsForm" (submit)="loginUser()">
        <div class="input">
                <div class="icon-container">
                    <i class="fas fa-user iconUser"></i>
                </div>
                <input type="email" formControlName="email" id="email" required placeholder="nathan@gmail.com">
                <div class="icon-container">
                    <i class="fas fa-lock iconUser"></i>
                </div>
                <input type="password" formControlName="password" id="password" required placeholder="mot de passe">
                <span class="error" *ngIf="loginError">{{ loginError }}</span>
        </div>

            <input type="submit" value="Se connecter" class="button-connexion">
        </form>

        <a routerLink="/auth/before-forget-pwd/form">Mot de passe oublié ?</a>
    </div>
</div>
