@import "../../../styles";

#infos-utiles{
  color: $iconColor;
  .bubble{
    border-radius: 22px;
    background: $bgBubbles;
    box-shadow: $boxShadowBubbles;

    &.medium{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .overall{
        border-radius: 22px;
        height: 100%;
        width: 100%;

        .title-container{
          padding: 1rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 19px;

          .title-utile{
            margin: 2rem 0;
            text-align: center;

            .title{
              font-family: $fontTitre;
              font-size: $sizeTitre;
            }
          }

          .buttons{
            display: flex;
            gap: 71px;

            .filter-infos{
              display: flex;
              align-items: center;
              background: $blueBtns;
              padding: 0 1rem;
              border-radius: 22px;

              select{
                background: $blueBtns;
                color: $iconColor;
                border: none;
                font-size: 20px;
                outline: none;
                cursor: pointer;
              }
            }
          }
        }

        .subtitle-utile{
          margin: 1.4rem 2rem 3rem;
          text-align: center;

          .subtitle{
            font-family: $fontSousTitre;
            font-size: $sizeSousTitre;
          }
        }

        .infos-container{
          width: 90%;
          margin: 0 auto;

          .list-infos{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 35px;
            padding: .5rem 0;
            margin-bottom: 2rem;

            li{
              font-family: $fontTxt;
              font-size: $sizeTxt;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  #infos-utiles {
    .bubble {
      .overall {
        text-align: center;
        .title-container {
          flex-direction: column-reverse;
          margin-top: 2rem;
        }
      }
    }
  }
}
