* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clear:before, .clear:after {
    content: ' ';
    display: table;
}
.clear:after {
    clear:both;
}
.clear {
    *zoom: 1;
}
ul, ol {
    list-style: none;
}

a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
}
a:hover {
    color: red;
    text-decoration: none;
}
a:active, a:focus {
    color: white;
}

body {
    background-color: darkblue;
    color: white;
}

.wrap {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    background-color: black;
}

.container {
    height: 500px;
    display: flex;
    /*flex-direction: row;*/
    /*flex-wrap: nowrap;*/
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    gap: 1rem;
}

.item {
    border: solid;
    width: 300px;
}

.item1 {
    order: 5;
}

.item2 {
    order: 2;
}

.item3 {
    order: 4;
}

.item4 {
    order: 1;
}

.item5 {
    order: 3;
}