<form method="post" action="{{ path('app_security_delete', {'id': security.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ security.id) }}">
    <button class="btn">Delete</button>
</form>
