{% extends 'base.html.twig' %}

{% block title %}Edit Security{% endblock %}

{% block body %}
    <h1>Edit Security</h1>

    {{ include('security/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_security_index') }}">back to list</a>

    {{ include('security/_delete_form.html.twig') }}
{% endblock %}
