{% extends 'base.html.twig' %}

{% block title %}Security index{% endblock %}

{% block body %}
    <h1>Security index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for security in securities %}
            <tr>
                <td>{{ security.id }}</td>
                <td>{{ security.email }}</td>
                <td>{{ security.roles ? security.roles|json_encode : '' }}</td>
                <td>{{ security.password }}</td>
                <td>
                    <a href="{{ path('app_security_show', {'id': security.id}) }}">show</a>
                    <a href="{{ path('app_security_edit', {'id': security.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_security_new') }}">Create new</a>
{% endblock %}
