{% extends 'base.html.twig' %}

{% block title %}New Security{% endblock %}

{% block body %}
    <h1>Create new Security</h1>

    {{ include('security/_form.html.twig') }}

    <a href="{{ path('app_security_index') }}">back to list</a>
{% endblock %}
