{% extends 'base.html.twig' %}

{% block title %}Security{% endblock %}

{% block body %}
    <h1>Security</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ security.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ security.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ security.roles ? security.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ security.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_security_index') }}">back to list</a>

    <a href="{{ path('app_security_edit', {'id': security.id}) }}">edit</a>

    {{ include('security/_delete_form.html.twig') }}
{% endblock %}
