* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #dadade;
}

header .links {
    display: flex;
    gap: 2rem;
}

header .links a {
    background-color: #3b82f6;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-weight: bold;
    color: #FFFFFF;
    transition: 0.2s;
}

header .links a:hover {
    background-color: #3179f1;
}

body {
    background-color: #F5F5F7;
}

.titlepage {
    text-align: center;
    padding: 2rem 0 4.5rem 0;
}

.form_user {
    display: flex;
    justify-content: center;
}

.form_user form {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 10px;
    padding: 1rem 2rem;
    box-shadow: 4px 4px 22px 0px rgba(0,0,0,0.1);
    background-color: white;
}

.form_user #user div {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.form_user label {
    font-weight: bold;
    padding-bottom: 2rem;
    font-size: 20px;
}

.form_user input {
    border: none;
    border-radius: 20px;
    padding: 1.3rem 1rem;
    box-shadow: 4px 4px 22px 0px rgba(0,0,0,0.1);

}

.form_user button {
    border: solid;
    background-color: #3b82f6;
    cursor: pointer;
    Color: #FFFFFF;
    padding: 1rem 0;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}

.form_user button:hover {
    background-color: #3179f1;
}

.form_user .buttonlogin {
    margin-top: 2rem;
}

.form_login label {
    margin-top: 2rem;
}

.tache_index {
    display: flex;
    justify-content: center;
}

.tache_index_create {
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;

}

.tache_index_create a {
    padding: 1rem 1.5rem;
    border-radius: 10px;
    background-color: #3B82F6;
    color: #FFFFFF;
    transition: all 0.2s;
}

.tache_index_create a:hover {
    background-color: #3179f1;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.styled-table thead th:first-child {
    border-top-left-radius: 10px;
}

.styled-table thead th:last-child {
    border-top-right-radius: 10px;
}


.styled-table thead tr {
    background-color: #3b82f6;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #3b82f6;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
.tache_show{
    padding: 4rem;
    width: 50%;
    box-shadow: 4px 4px 22px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
}
.tacheParent{
    display: flex;
    justify-content: center;

}