* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --noir: #333333;
}

html {
    scroll-behavior: smooth;
}

.clear:before, .clear:after {
    content: ' ';
    display: table;
}

.clear:after {
    clear:both;
}

.clear {
    *zoom: 1;
}

ul, ol {
    list-style: none;
}

img {
    vertical-align: bottom;
    width: 100%;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: red;
    transition:all .3s;
    text-decoration: none;
}

a:active, a:focus {
    color: black;
}

.wrap {max-width: 1440px;width:100%;margin: 0 auto;padding: 0 1rem;}

/*Code*/

body {
    background-color: midnightblue;
    color: white;
}

header {
    background-color: darkblue;
    display: flex;
    justify-content: center;
    padding: 1rem 0rem;
}

header ul {
    display: flex;
    gap: 1rem;
}

header a {
    font-size: 40px;
    font-weight: bold;
}

#blog h1 {
    text-align: center;
    padding: 1rem 0rem;
    font-size: 35px;
}

.posts_all {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.posts_all a {
    border-radius: 40px;
    width: 40%;
    margin: 1rem;
    padding: 0.5rem;
    text-align: center;
    background-color: black;
    box-shadow: 38px 33px 31px -31px black;
    transition: all 0.8s;
}

.posts_all a:hover {
    background-color: #1B1813;
    transform: scale(1.1);
}

.posts h2 {
    background-color: #273a71;
    border-radius: 40px;
    width: 92%;
    margin: 0 auto;
    color: black;
}

.post1 {
    padding-top: 1rem;
    font-size: 20px;
}

.posts p {
    padding-bottom: 0.8rem;
    color: white;
}





