<div class="title">
  {{ title }}
</div>

<div class="card flex justify-content-center">
  <p-chart type="pie" [data]="data" [options]="options"></p-chart>
</div>


<p (click)="title = 'Dépenses'; values = [500, 250, 489]">Dépenses</p>
<p (click)="title = 'Revenus'">Revenus</p>
