@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,700&display=swap');

#payment_page {
  padding-bottom: 1.5rem;

  .pay_top {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 200px;
    }
  }

  .pay_bottom {
    display: flex;
    width: 60%;
    margin: 0 auto;
    background-color: #F7982A;
    .payb_left {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 55%;
      .payment_form {
        z-index: 2;
        background-color: white;
        padding: 2rem 0.5rem;
        border-radius: 10px;
        width: 90%;
        .pay_form_top {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1.5rem;
          padding-bottom: 1.5rem;
          h1 {
            font-weight: lighter;
          }
          i  {
            font-size: 25px;
          }
        }



        .pay_form_bottom form .card-js  {
          padding-bottom: 2rem;
        }

        .pay_form_bottom form input[type=submit] {
          border: none;
          background-color: #F7982A;
          width: 100%;
          padding: 0.5rem;
          border-radius: 10px;
        }

        .form_errors {
          display: flex;
          justify-content: center;
          padding-bottom: 1.5rem;
          #modal_payment {
            position: fixed;
            z-index: 100;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(-45deg, #f2c041, #ed166d);
            background-size: 400% 400%;
            animation: gradient 3s ease infinite;

            @keyframes gradient {
              0% {
                background-position: 0% 50%;
              }
              50% {
                background-position: 100% 50%;
              }
              100% {
                background-position: 0% 50%;
              }
            }

            #modal_payment2 {
              background-color: none;
              width: 100%;
              height: 100%;
              color: white;
              text-align: center;
              gap: 15rem;

              h1 {
                font-size: 35px;
              }

              i {
                font-size: 200px;
                color: black;
                padding-top: 15rem;
                padding-bottom: 4rem;
              }
            }
          }
        }
      }
    }
    .payb_right {
      position: relative;
      width: 45%;
      img {
        width: 100%;
        height: 100%;
      }
      .pay_underform {
        position: absolute;
        display: flex;
        align-items: flex-end;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .pay_underform2 {
          padding-bottom: 0.6rem;
          padding-left: 0.4rem;
        }
        i {
          font-size: 25px;
          padding: 0.5rem;
          border-radius: 100px;
          color: #F7982A;
          background-color: white;
        }
      }
    }
  }
}

/* Small screens */
@media only screen and (max-width: 480px) {
  #payment_page {
    .pay_bottom {
      flex-direction: column;
      width: 100%;
      .payb_left {
        width: 100%;
        .payment_form {
          width: 100%;
        }
      }
      .payb_right {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
}

/* Medium screens */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  #payment_page {
    .pay_bottom {
      width: 80%;
      .payb_left {
        width: 100%;
      }
      .payb_right {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
}

/* Large screens */
@media only screen and (min-width: 769px) {
  #payment_page {
    .pay_bottom {
      width: 60%;
      .payb_left {
        width: 55%;
      }
      .payb_right {
        width: 45%;
        img {
          width: 100%;
        }
      }
    }
  }
}
