* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap');
    font-family: 'Alegreya Sans', sans-serif;
}

:root {
    --bleuprinc: #2C3892;
    --bleu1: #151B47;
    --bleu2: #626AA4;
    --bleu3: #858FDE;
    --bleu4: #1C245E;
}

html {
    scroll-behavior: smooth;
}

.clear:before, .clear:after {
    content: ' ';
    display: table;
}

.clear:after {
    clear:both;
}

.clear {
    *zoom: 1;
}

ul, ol {
    list-style: none;
}

img {
    vertical-align: bottom;
    /*width: 100%;*/
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
    transition:all .3s;
    text-decoration: none;
}

a:active, a:focus {
    color: black;
}

.wrap {max-width: 1440px;width:100%;margin: 0 auto;padding: 0 1rem;}

/*Code*/

body {
    overflow-x: hidden;
}

/*HEADER*/
header {
    background-color: var(--bleu1);
    display: flex;
    position: fixed;
    width: 100%;
    font-weight: bold;
    opacity: 90%;
    z-index: 2;
}

.header_center a:link {
    color: white;
    text-decoration: none;
}

.header_center a:visited {
    color: white;
}

.header_center a:hover {
    color: var(--bleu2);
    transition:all .3s;
    text-decoration: none;
}

.header_center a:active, header a:focus {
    color: var(--bleu2);

}

.header_right a:link {
    color: white;
    text-decoration: none;
}

.header_right a:visited {
    color: white;
}

.header_right a:hover {
    color: var(--bleu2);
    transition:all .3s;
    text-decoration: none;
}

.header_right a:active, header a:focus {
    color: var(--bleu2);

}

.header_left {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_left img {
    width: 150px;
}

.header_center {
    width: 60%;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    font-size: 19px;
    align-items: center;
}

.header_right {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hr_topbutton {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
    list-style-type: none;
    width: 70%;
}

.hr_bottombutton {
    height: 100%;
    display: flex;
    justify-content: right;
    padding: 1rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 47px;
    height: 23px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 100px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider.round:before {
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #333;
}

input:checked + .slider.round:before {
    -webkit-trans: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.dark-mode {
    background-color: var(--bleu1);
    color: #fff;
}

/*BODY*/

#accueil {
    font-family: 'Anton', sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 10rem;
    padding-bottom: 5rem;
    position: relative;
    color: white;
}

.accueil_background {
    background: linear-gradient(to right, var(--bleu1), var(--bleu2) );
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
}

.accueil_background2-light {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 1000px 1000px 1000px;
    border-color: transparent transparent white transparent;
    position: absolute;
    top: 370px;
    right: -30rem;
    z-index: -1;
    rotate: 168deg;
}

.accueil_background2-darkmode {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 1000px 1000px 1000px;
    border-color: transparent transparent var(--bleu1) transparent;
    position: absolute;
    top: 370px;
    right: -30rem;
    z-index: -1;
    rotate: 168deg;
}



.accueil_left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accueil_ltop {
    width: 100%;
    padding-bottom: 2rem;
}

.accueil_ltop h2 {
    font-size: 2.5rem;
}

.accueil_ltop h1 {
    font-size: 3rem;
    font-weight: bold;
}

.accueil_ltop h4 {
    font-weight: lighter;
    font-size: 1rem;
    width: 80%;
}

.accueil_lbottom {
    width: 100%;
    display: flex;
    gap: 3rem;
}

.accueil_lbottom li {
    padding: 1rem;
}

.accueil_lbottom a {
    color: white;
    background-color: var(--bleu2);
    padding: 1rem;
    border-radius: 5px;
    transition: all 300ms;
}

.accueil_lbottom a:hover {
    background-color: var(--bleuprinc);
}

.accueil_right {
    display: flex;
    justify-content: center;
    width: 30%;
    position: relative;
}

.accueil_right img {
    width: 80%;
}

.accueil_modal {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

#myBtn {
    background-color: var(--bleuprinc);
    padding: 1rem;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    transition: all 300ms;
}

#myBtn:hover {
    background-color: var(--bleu2);
}


.accueil_right .modal {
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 40px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.accueil_right .modal-content {
    background-color: none;
    margin: auto;
    padding: 10px;
    width: 80%;
    height: 80%;
    border-radius: 10px;
}

.accueil_right .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    display: none;
}

.accueil_right .close:hover,
.accueil_right .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#video {
    border-radius: 10px;
}

/*////////////////////////////////////////////////*/

#whatwedo {
    width: 80%;
    margin: 0 auto;
    padding-top: 6rem;
}

#whatwedo h2 {
    text-align: center;
    padding-bottom: 3rem;
    letter-spacing: 0.4rem;
    font-size: 25px;
}

.wwd_1 {
    display: flex;
    padding-bottom: 4rem;
    transform: translateX(100%);  /* start the element off the screen */
    transition: transform 2.5s;  /* define the transition */
}

.wwd_1.visible {
    transform: translateX(0);  /* move the element back onto the screen */
}

/*1*/
.wwd_1_1_top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.wwd_1_1_top i {
    padding-right: 1.5rem;
    font-size: 20px;
    color: var(--bleu2);
}

.wwd_1_1_top h4 {
    font-size: 20px;
}

.wwd_1_1 p {
    text-align: center;
}

/*2*/

.wwd_1_2_top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.wwd_1_2_top i {
    padding-right: 1.5rem;
    font-size: 20px;
    color: var(--bleu2);
}

.wwd_1_2_top h4 {
    font-size: 20px;
}

.wwd_1_2 p {
    text-align: center;
}


.wwd_2 {
    display: flex;
    padding-bottom: 2rem;
    transform: translateX(-100%);  /* start the element off the screen */
    transition: transform 2.5s;  /* define the transition */
}

.wwd_2.visible {
    transform: translateX(0);  /* move the element back onto the screen */
}

/*3*/

.wwd_2_1_top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.wwd_2_1_top i {
    padding-right: 1.5rem;
    font-size: 20px;
    color: var(--bleu2);
}

.wwd_2_1_top h4 {
    font-size: 20px;
}

.wwd_2_1 p {
    text-align: center;
}

/*4*/

.wwd_2_2_top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.wwd_2_2_top i {
    padding-right: 1.5rem;
    font-size: 20px;
    color: var(--bleu2);
}

.wwd_2_2_top h4 {
    font-size: 20px;
}

.wwd_2_2 p {
    text-align: center;
}

.vid_losange2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 160px 160px 160px;
    border-color: transparent transparent var(--bleu3) transparent;
    position: absolute;
    top: 80rem;
    left: -6rem;
    z-index: -1;
    rotate: 90deg;
}

#ourteam {
    padding-top: 6rem;
}

#ourteam h2 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 3rem;
}

.team_list {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    width: 80%;
    margin: 0 auto;
    transform: translateY(100%);  /* start the element off the screen */
    transition: transform 1.5s;  /* define the transition */
}

.team_list.visible {
    transform: translateY(0);  /* move the element back onto the screen */
}

.team_list li {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    transition: all 300ms;
}

.team_list li:hover {
    transform: scale(1.2);
}

.team_list img {
    background-color: var(--bleu4);
    padding: 0.5rem;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.team_list h4 {
    padding-top: 1rem;
}

.vid_losange3 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 160px 160px 160px;
    border-color: transparent transparent var(--bleu3) transparent;
    position: absolute;
    top: 105rem;
    right: -5.5rem;
    z-index: -1;
    rotate: -90deg;
}

#contact_us {
    padding-top: 3rem;
    padding-bottom: 8rem;
    position: relative;
}

.contact_background {
    position: absolute;
    top: 150px;
    left: -100px;
    z-index: -2;
    width: 150%;
    height: 500px;
    background: linear-gradient(to right, var(--bleu1), var(--bleu2) );
    clip-path: polygon(0 0, 100% 10%, 75% 75%, 0% 100%);
    rotate: -10deg;
}

.contact_all {
    display: flex;
}

.contact_left {
    width: 50%;
}

.contact_right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact_right_all {
    width: 100%;
}

#contact_us h1 {
    text-align: center;
    font-size: 30px;
}

#contact_us form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    transform: translateX(100%);  /* start the element off the screen */
    transition: transform 1.5s;  /* define the transition */
}

#contact_us form.visible {
    transform: translateX(0);  /* move the element back onto the screen */
}

.form_all {
    width: 90%;
}

.form_email {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}
.form_email input {
    padding: 1rem;
    border-radius: 10px;
    font-size: 20px;
}

.form_description {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.form_description textarea {
    border-radius: 10px;
    padding: 1rem;
    resize: none;
    min-height: 150px;
    max-height: 200px;
    font-size: 18px;
}

.form_valid {
    display: flex;
    justify-content: center;
}

.form_valid input {
    padding: 0.3rem 1.5rem;
    border-radius: 10px;
    background-color: var(--bleu4);
    color: white;
    letter-spacing: 0.2rem;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    border: solid 1px;
    transition: all 300ms;
}

.form_valid input:hover {
    background-color: var(--bleu2);
    transform: scale(1.2);
}

.error {
    color: red;
    font-weight: bold;
    font-size: 17px;
    padding-top: 1rem;
}

.success {
    color: var(--bleuprinc);
    font-weight: bold;
    font-size: 17px;
    padding-top: 1rem;
}

/*FOOTER*/

footer {
    background-color: var(--bleu1);
    color: var(--bleu3);
    display: flex;
    background: url("../img/background_footer.png") repeat center center;
}

.footer_left {
    width: 20%;
    display: flex;
    justify-content: center;
}

.footer_left img {
    width: 120px;
}

.footer_center {
    width: 65%;
    text-align: center;
    margin-top: 2rem;
}

.footer_center h2 {
    padding-bottom: 1rem;
}

.footer_center a:link {
    color: var(--bleu3);
    text-decoration: none;
}

.footer_center a:visited {
    color: var(--bleu3);
}

.footer_center a:hover {
    color: white;
    transition:all .3s;
    text-decoration: none;
}

.footer_center a:active, a:focus {
    color: var(--bleu3);
}

.footer_right {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_right i {
    font-size: 30px;
    margin: 0.5rem;
    color: var(--bleu3);
    transition: all 0.4s;
}

.footer_right i:hover {
    transform: scale(1.4);
}


/*/////////////////////////////////////////////////////////////////*/
/*MENTIONS LEGALES*/

#mentions_legales {
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

#mention {
    width: 80%;
}

#mention p {
    font-size: 20px;
}

.mention_legale h1 {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 3rem;
    color: var(--bleu2);
}

.legale h2 {
    font-size: 23px;
    padding-top: 5rem;
    padding-bottom: 2rem;
    color: var(--bleu2);
}


/*RESPONSIVE*/

@media screen and (max-width: 1290px) {
    /*HEADER*/
    .header_center {
        font-size: 15px;
    }

    .hr_topbutton {
        font-size: 15px;
    }

}

@media screen and (max-width: 1100px) {
    /*HEADER*/
    .header_center {
        font-size: 13px;
    }

    .hr_topbutton {
        font-size: 13px;
    }

    /*OUR TEAM*/
    .team_list img {
        width: 150px;
        height: 150px;
    }


}

@media screen and (max-width: 1000px) {
    /*HEADER*/
    .header_center {
        display: none;
    }

    .header_left {
        width: 20%;
    }

    .header_right {
        width: 80%;
        justify-content: center;
    }

    .hr_topbutton {
        font-size: 20px;
        justify-content: center;
        gap: 1rem;
    }

    #accueil {
        padding-top: 9rem;
        padding-bottom: 5rem;
    }
}

@media screen and (max-width: 900px) {
    #accueil {
        padding-top: 5rem;
    }

    .accueil_left {
        width: 80%;
    }

    .accueil_lbottom {
        justify-content: center;
    }

    .accueil_right {
        display: none;
    }


    .wwd_1 {
        flex-wrap: wrap;
    }

    .wwd_1_1 {
        padding-bottom: 1.5rem;
    }

    .wwd_2 {
        flex-wrap: wrap;
    }

    .wwd_2_1 {
        padding-bottom: 1.5rem;
    }

    .team_list {
        flex-wrap: wrap;
        transform: translateX(100%);  /* start the element off the screen */
    }

    .team_list li {
        padding-bottom: 2rem;
    }

    .team_list img {
        width: 300px;
        height: 300px;
    }

    .contact_left {
        display: none;
    }

    .contact_right {
        width: 100%;
    }

    .contact_background {
        position: absolute;
        top: 110px;
        left: -100px;
        z-index: -2;
        width: 150%;
        height: 500px;
        background: linear-gradient(to right, var(--bleu1), var(--bleu2) );
        clip-path: polygon(0 0, 100% 10%, 75% 75%, 0% 100%);
        rotate: -10deg;
    }
}

@media screen and (max-width: 560px){
    .accueil_ltop h2 {
        font-size: 1.5rem;
    }

    .accueil_ltop h1 {
        font-size: 2.5rem;
    }

    .footer_left {
        display: none;
    }

    .footer_center {
        width: 50%;
        margin-bottom: 1rem;
    }

    .footer_right {
        width: 50%;
    }
}

@media screen and (max-width: 490px){
    .accueil_lbottom {
        flex-wrap: wrap;
    }
}

/*KEVIN*/

#inscriptionForm{
    display: flex;
    justify-content: space-between;
    background-image: url("img_incrisption2.png");
    background-size: 100%;
}

#inscriptionForm .side_right_image{
    flex: 1;
}
.form-container{
    flex: 1;

    /*place-self: center;*/
    /*padding-right: 100px;*/
    align-self: center;
}
.form-container form{
    /*display: flex;*/
    /*flex-direction: column;*/
    /*gap: 1.8rem;*/
}
.form-container .imgLogo{
    text-align: center;
}
#input_form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

#input_form input[type=text]{
    /*padding-right: 10rem;*/
    border-radius: 1rem;
    background-color: rgba(172, 177, 212, 1);
    border: 0;
    color: red;
    padding-right: 4rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#input_form input[type=password]{
    background-color: rgba(172, 177, 212, 1);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    color: white;
    border-radius: 1rem;
    padding-right: 4rem;
    border: 0;
}

#input_form input[type=button]{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: rgba(33, 45, 140, 1);
    color: white;
}

#input_form input[type=button]:hover{
    background-color: rgb(12, 23, 91);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
input[type=button]{
    padding: 1.2rem;
    border-radius: 1rem;
    border: 0;
    padding-right: 5rem;
    padding-left: 5rem;

}
#input_form input[type=text]::placeholder{
    color: #ffffff;
}
#input_form input[type=password]::placeholder{
    color: #ffffff;
}
.error{
    color: red;
}
/*#inscriptionForm{*/
/*    background-image: url("img_inscription.png");*/
/*    background-size: 50%;*/
/*}*/
#container_login{
    width: 100%;
    height: 1080px;
    display: flex;
    background-image: url("img_incrisption2.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#container_login .form_login{
    flex: 1;
    /*place-self: center;*/
    /*padding-right: 100px;*/
    align-self: center;
    padding-top: 15rem;
}
#container_login .img_login{
    flex: 1;
}

#container_login #login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
#container_login #login-form input[type=email], input[type=password]{
    padding: 1.2rem ;
    /*padding-right: 10rem;*/
    border-radius: 1rem;
    background-color: rgba(172, 177, 212, 1);
    border: 0;
    color: white;
    padding-right: 4rem;

}
#container_login #login-form input[type=email]::placeholder, input[type=password]::placeholder{
    color: white;

}
#container_login #login-form input[type=submit]{
    padding: 1.2rem;
    border-radius: 1rem;
    border: 0;
    padding-right: 5.3rem;
    padding-left: 5.3rem;
    background-color: rgba(33, 45, 140, 1);
    color: white;
}
#container_login #login-form input[type=submit]:hover{
    background-color: rgb(12, 23, 91);
    color: white;
    font-weight: bold;
    cursor: pointer;

}

