<div class="container">
  <form>
    <div class="name">
      <div class="input-group">
        <i class="fas fa-user iconUser"></i>
        <input type="text" id="nom" name="nom" required placeholder="Nom">
      </div>

      <div class="input-group">
        <i class="fas fa-user iconUser"></i>
        <input type="text" id="numero_siret" name="numero_siret" required placeholder="Numéro de siret">
      </div>
    </div>

    <div class="info">
      <div class="input-group">
        <i class="fas fa-user iconUser"></i>
        <input type="text" id="chiffre_affaire" name="chiffre_affaire" required placeholder="Chiffre d'affaire">
      </div>

      <div class="input-group">
        <i class="fas fa-user iconUser"></i>
        <input type="text" id="adresse" name="adresse" required placeholder="Adresse">
      </div>

      <div class="input-group">
        <i class="fas fa-user iconUser"></i>
        <input type="text" id="code_postale" name="code_postale" required placeholder="Code postale">
      </div>


      <div class="input-group">
        <i class="fas fa-user iconUser"></i>
        <input type="text" id="ville" name="ville" required placeholder="Ville">
      </div>

    </div>


    <button type="submit" class="submit-button">Valider</button>
  </form>
</div>
