<section id="entreprise-list">
  <div class="dash-wrap">
    <app-bubble-list [titre]="entrepriseTitre" [subTitre]="entrepriseSubTitre" [addLink]="entrepriseLink" [viewLink]="entrepriseView" [editLink]="entrepriseEdit" [deleteLink]="entrepriseDelete" [tableData]="dataEntreprises" [id]="id"></app-bubble-list>
  </div>
</section>
