#entreprise-list{
  min-height: 80vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .dash-wrap{
    max-width: 1212px;
    width: 90%;
    margin: 0 auto;
  }
}
