{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <form action="" method="post">
        <label for="name" id="name">Nom</label>
        <input type="text" id="name" name="user_name">
        <input type="submit">
    </form>
{% endblock %}
