{% extends 'base.html.twig' %}

{% block title %}Hello BaseController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/coursmelvin/2eme_annee/courssymfony/symfony2/src/Controller/BaseController.php'|file_link(0) }}">src/Controller/BaseController.php</a></code></li>
            <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/coursmelvin/2eme_annee/courssymfony/symfony2/templates/base/index.html.twig'|file_link(0) }}">templates/base/index.html.twig</a></code></li>
        </ul>

        <h2>Session Variables</h2>
        <pre>
        {{ app.session.all()|json_encode()|raw }}
    </pre>
    </div>
{% endblock %}
