<section id="client-edit">
  <div class="dash-wrap">
    <app-bubble-edit-client [valueNom]="client_nom" [valuePrenom]="client_prenom" [valueDate]="client_date" [valuePhone]="client_phone" [valueEmail]="client_email" [valueCodeP]="client_codeP" [valueAdresse]="client_adresse" [valueVille]="client_ville"  ></app-bubble-edit-client>
  </div>
</section>
