@import "../../../styles";

#evolution{
  color: $iconColor;
  margin-bottom: 2rem;
  .bubble{
    border-radius: 22px;
    background: $bgBubbles;
    box-shadow: $boxShadowBubbles;

    &.huge{
      display: flex;
      justify-content: center;
      align-items: center;

      .overall{
        border-radius: 22px;
        height: 100%;
        width: 100%;
        overflow-x: scroll;

        .evolution-head{
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 2rem 2.7rem;
          cursor: default;

          .evo-head-container{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            .evo-title{
              font-family: $fontTitre;
              font-size: 20px;
            }

            .evo-subtitle{
              font-family: $fontSousTitre;
              font-size: 16px;
            }
          }


          .buttons{
            display: flex;
            gap: 71px;

            .filter-infos{
              display: flex;
              align-items: center;
              background: $blueBtns;
              padding: 0 1rem;
              border-radius: 22px;
              &:hover{
                background: $orangeBtnHover;
              }

              select{
                background: $blueBtns;
                color: $iconColor;
                border: none;
                font-size: 20px;
                outline: none;
                cursor: pointer;
                &:hover{
                  background: $orangeBtnHover;
                }

              }

              &:hover, &:hover select{
                background: $orangeBtnHover;
              }
            }

            .ajout{
                display: flex;
                align-items: center;
                background: $blueBtns;
                padding: 0 1rem;
                border-radius: 22px;
                &:hover{
                  background: $orangeBtnHover;
                }

                .add-button{
                    background: $blueBtns;
                    color: $iconColor;
                    border: none;
                    font-size: 20px;
                    outline: none;
                    cursor: pointer;
                    &:hover{
                      background: $orangeBtnHover;
                    }
                }

              &:hover, &:hover .add-button{
                background: $orangeBtnHover;
              }
            }
          }
        }

        .data-table{
          margin: 0 auto 2rem;
          width: 90%;

          .paginate{
            padding-top: 15px;
            text-align: center;
          }

          table{
            width: 100%;
            text-align: center;
            cursor: default;

            thead, tbody{
              th {
                padding: 1rem 0;
                text-transform: capitalize;
                font-size: 20px;
              }

              .evo-content {
                &:hover {
                  background: $blueBtns;
                  cursor: pointer;

                  td:first-child{
                    border-top-left-radius: 22px;
                    border-bottom-left-radius: 22px;
                  }
                  .actions{
                    border-top-right-radius: 22px;
                    border-bottom-right-radius: 22px;
                  }
                }

                td {
                  padding: .5rem;
                  font-size: 17px;
                }
              }
              .actions{
                .modifs{
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  gap: 2rem;
                  width: 100%;
                  & i{
                    cursor: pointer;
                    padding: .5rem 0;
                    transition: all .5s;

                    &:hover {
                      color: $changeBlueMainColor;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px){
  #evolution{
    .bubble{
      .overall{
        .evolution-head{
          flex-direction: column-reverse;
          gap: 2rem;
        }

        .data-table{
          overflow-x: scroll;
          table{
            th, td{
              border: 1px solid grey;
            }
            .actions{
              padding: 2rem 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px){
  .evo-subtitle{
    h3{
      text-align: center;
    }
  }
}

@media screen and (max-width: 500px){
    .buttons{
        flex-direction: column;
    }
}
