<section id="evolution">
  <div class="bubble huge">
    <div class="overall">
      <div class="evolution-head">
        <div class="evo-head-container">

          <div class="evo-title">
            <h2 class="title">{{titre}}</h2>
          </div>

          <div class="evo-subtitle">
            <h3 class="subtitle">{{subTitre}}</h3>
          </div>
        </div>

        <div class="buttons">
          <div class="filter-infos">
            <select>
              <option value="defaut">Filtres</option>
              <option value="opt">Option 1</option>
              <option value="opt">Option 2</option>
              <option value="opt">Option 3</option>
              <option value="opt">Option 4</option>
              <option value="opt">Option 5</option>
              <option value="opt">Option 6</option>
            </select>
          </div>

          <div class="ajout">
            <button class="add-button" [routerLink]="addLink">Ajouter</button>
          </div>
        </div>
      </div>

      <div class="data-table">
        <table>
          <thead>
          <tr>
            <th *ngFor="let header of tableHeaders">{{ header }}</th>
            <th colspan="2">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of tableRows; let i = index" class="evo-content">
            <td *ngFor="let cell of row" [routerLink]="viewLink + '/' + id[i]">
              <div>
                  {{ cell }}
              </div>
              <p>NBA</p>
            </td>

            <td class="actions">
              <div class="modifs">
                <i class="{{ modifIcon }}" [routerLink]="editLink + '/' + id[i]"></i>
                <i class="{{ deleteIcon }} " [routerLink]="deleteLink + '/' + id[i]"></i>
              </div>
            </td>
          </tr>
          </tbody>
        </table>

        <div class="paginate">
          <ul class="pagination" *ngFor="
          let data of dataset | paginate: { itemsPerPage: 2, currentPage: pages }
          ">
          <!-- {{ data }} -->
          </ul>
          <pagination-controls (pageChange)="pages = $event"></pagination-controls>
        </div>

      </div>
    </div>
  </div>
</section>
