* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --noir: #333333;
    --orange: #FECA59;
    --orangefonce: #9a6b12;
}

html {
    scroll-behavior: smooth;
}

.clear:before, .clear:after {
    content: ' ';
    display: table;
}

.clear:after {
    clear:both;
}

.clear {
    *zoom: 1;
}

ul, ol {
    list-style: none;
}

img {
    vertical-align: bottom;
    width: 100%;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: var(--orangefonce);
    transition:all .3s;
    text-decoration: none;
}

a:active, a:focus {
    color: black;
}

.wrap {max-width: 1440px;width:100%;margin: 0 auto;padding: 0 1rem;}
.wrap2 {max-width: 1324px;width:100%;margin: 0 auto;padding: 0 1rem;}
.wrap3 {max-width: 1235px;width:100%;margin: 0 auto;padding: 0 1rem;}
.wrap4 {max-width: 785px;width:100%;margin: 0 auto;padding: 0 1rem;}

/*Code*/

body {
    font:500 15px/1.4 'Montserrat', sans-serif;
    color:#3b3b3b;
    background-color: #fff;
}

/*Header*/

header {
    background-color: var(--orange);
    padding: 1rem 0rem;
}

.allheader {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0rem;
}

.header_left {
    display: flex;
    align-items: center;
    width: 20%;
}

.header_right {
    display: flex;
    justify-content: right;
    width: 25%;
}

.express {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.express img {
    width: 20%;
}

.express p {
    display: flex;
    align-items: center;
}

.header_line {
    display: flex;
    justify-content: right;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 37%;
    margin-bottom: 1rem;
}

.navigation li a {
    display: flex;
    font-family: 'Alfa Slab One';
    font-weight: bold;
    font-size: 25px;
}

#home {
    background-color: var(--orange);
}

#home .wrap3 {
    display: flex;
}

.burgerweek {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.burgerweek_text {
    width: 90%;
}

.burgerweek_text h4 {
    border: dashed black;
    text-align: center;
    font-size: 12px;
    padding: 0.3rem;
    width: 70%;
}

.burgerweek_text2 {
    padding-top: 0.5rem;
}

.burgerweek_text2 h1 {
    font-size: 115px;
    display: flex;
    align-items: center;
    height: 100px;

}

.burgerweek_text2 h2 {
    font-size: 80px;
    display: flex;
    align-items: center;
    height: 88px;
}

.pubburger {
    width: 50%;
    position: relative;
}

.pubburger img {
    height: 450px;
    object-fit: cover;
    object-position: -20% -140px;
}

.burger_remise {
    position: absolute;
    top: 300px;
    left: 100px;
    background-color: red;
    width: 125px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}

.burger_remise2 {
    border: dashed white;
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    flex-direction: column;
    color: white;
}

.burger_remise2 h3 {
    font-size: 35px;
}

.burger_remise2 span {
    font-size: 15px;
}

.burger_remise2 p {
    text-align: center;
    letter-spacing: 0.4rem;
    font-weight: bold;
}

#menu {
    padding: 3rem 0rem;
}

.menu1 {
    padding-bottom: 2.5rem;
}

.menu1 .wrap4    {
    display: flex;
    gap: 1rem;
    padding-bottom: 4rem;
}

.menu1_left {
    width: 50%;
}

.menu1_1 {
    position: relative;
}

.menu1_1 img {
    width: 100%;
    border-radius: 15px;
}

.menu1_1_text {
    position: absolute;
    top: 10px;
    left: 15px;
    color: white;
}

.menu1_right {
    width: 50%;
}

.menu1_2 {
    position: relative;
    padding-bottom: 1.4rem;
}

.menu1_2 img {
    width: 100%;
    border-radius: 15px;
}

.menu1_2_text {
    position: absolute;
    top: 10px;
    left: 15px;
    color: white;
    font-size: 13px;
}

.menu1_3 {
    position: relative;
}

.menu1_3 img {
    width: 100%;
    border-radius: 15px;
}

.menu1_3_text {
    position: absolute;
    top: 10px;
    left: 15px;
    color: white;
    font-size: 13px;
}

.tastytext {
    display: flex;
    justify-content: center;
}

.tastytext h3 {
    background-color: var(--orange);
    padding: 0.5rem 0.5rem;
    font-weight: lighter;
    font-size: 19px;
    border-radius: 2px;
}

.menu2 {
    padding-bottom: 6rem;
}

.menu2_title {
    text-align: center;
}

.menu2_title h1 {
    padding-bottom: 1rem;
    font-size: 50px;
}

.menu2_title p {
    padding-bottom: 1.8rem;
}

.menu2_burger {
    display: flex;
}

.menu2_burger li {
    text-align: center;
}

.menu2_burger p {
    padding: 0.5rem 0rem;
}

.m2_button {
    display: flex;
    justify-content: center;
}

.m2_button a {
    background-color: red;
    color: white;
    padding: 0.5rem 0.9rem;
    font-weight: bold;
}

.m2_button a:hover {
    background-color: darkred;
}

.menu3_all {
    box-shadow: 20px 24px 43px -21px black,-9px -9px 31px -11px black;
    margin: 1rem 0rem;
}

.menu3_all2 {
    display: flex;
    margin: 1rem;
}

.menu3_left {
    width: 45%;
    margin: 1rem;
}

.m3_buttons {
    width: 100%;
    padding-top: 7.5rem;
}

.m3_buttons ul {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.m3_buttons li {
    background-color: gray;
    height: 10px;
    width: 10px;
    border-radius: 100px;
}

.m3_buttons li:hover {
    background-color: orange;
    transition: all 0.3s;
}

.menu3_right {
    width: 55%;
    margin: 1rem 0.1rem;
}

#reservation {
    position: relative;
    padding-top: 2rem;
    padding-bottom: 18rem;
}

#reservation h3 {
    text-align: center;
    padding: 1rem 0rem;
}

#reservation h2 {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 50px;
}

#reservation form {
    display: flex;
    gap: 1rem;
}

#reservation input {
    margin: 0.5rem 0rem;
    padding: 1rem 0.2rem;
    background-color: orange;
    border: none;
    border-radius: 9px;
}

#reservation .submit {
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.form_left {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.form_right {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.reservation_img1 {
    position: absolute;
    width: 13%;
    top: 3px;
    left: 13px;
}

.reservation_img2 {
    position: absolute;
    width: 20%;
    top: 280px;
    left: 1000px;
}

.reservation_img3 {
    position: absolute;
    width: 5%;
    top: 180px;
    left: 170px;
}

#contactus .wrap {
    position: relative;
}

.allfooter {
    position: absolute;
    top: 1px;
    left: 19px;
    width: 97%;
    height: 100%;
}

.footer_content {
    display: flex;
    padding-bottom: 10rem;
}

.footer_left {
    width: 50%;
    margin: 1rem;
}

.footer_left img {
    width: 80%;
}

.footer_left p {
    color: white;
    padding-top: 3rem;
}

.footer_right {
    width: 50%;
    margin-top: 10rem;
}

.localisation {
    display: flex;
    padding-bottom: 1rem;
    margin-left: 8rem;
    color: white;
}

.localisation img {
    width: 5%;
    margin-right: 0.5rem;
}

.email {
    display: flex;
    margin-left: 8rem;
    color: white;
}

.email img {
    width: 5%;
    margin-right: 0.5rem;
}

.line_footer {
    display: flex;
}

.footer_copy {
    width: 50%;
    color: white;
    margin-left: 0.5rem;
}

.footer_reseaux {
    width: 50%;
    display: flex;
    justify-content: right;
    margin-right: 0.5rem;
}

.footer_reseaux ul {
    display: flex;
    gap: 1rem;
    width: 30%;
}

.footer_reseaux img {
    width: 100%;
}

/*Responsive*/

@media screen and (max-width: 1266px){
    .reservation_img1 {
        display: none;
    }

    .reservation_img2 {
        display: none;
    }

    .reservation_img3 {
        display: none;
    }

}

@media screen and (max-width: 1150px){
    .footer_content {
        padding-bottom: 7rem;
    }
}

@media screen and (max-width: 1050px) {
    .navigation {
        width: 60%;
    }

    #home .wrap3 {
        display: flex;
        flex-direction: column;
    }

    .burgerweek {
        width: 100%;
    }

    .pubburger {
        width: 100%;
    }

    .footer_content {
        padding-bottom: 5rem;
    }
}

@media screen and (max-width: 950px){

    .footer_content {
        flex-direction: column;
        padding-bottom: 0.5rem;
    }

    .footer_left {
        width: 100%;
        margin: 1rem;
    }

    .footer_img {
        display: flex;
    }

    .footer_img img {
        width: 20%;
        height: 20%;
    }

    .footer_img p {
        width: 70%;
        display: flex;
        padding-top: 0rem;
        margin-left: 0.5rem;
    }

    .footer_right {
        display: flex;
        width: 100%;
        margin-top: 1em;
    }

    .localisation {
        width: 50%;
        margin-left: 0.5rem;
    }

    .email {
        width: 50%;
        margin-left: 0.5rem;
    }

    .footer_reseaux {
        width: 30%;
    }

    .footer_reseaux ul {
        width: 50%;
    }

    .footer_reseaux img {
        width: 100%;
    }
}

@media screen and (max-width: 670px) {
    .navigation {
        width: 100%;
    }

    .burgerweek_text2 h1 {
        font-size: 100px
    }

    .menu1_1_text h3 {
        font-size: 10px;
    }

    .menu1_2_text h2 {
        font-size: 10px;
    }

    .menu2_burger {
        flex-direction: column;
    }

    .menu2_burger li {
        padding-bottom: 5rem;
    }

    .menu3_all2 {
        flex-direction: column;
    }

    .menu3_left {
        width: 100%;
    }

    .menu3_right {
        width: 100%;
    }

    .m3_buttons {
        padding-top: 1rem;
    }

    #reservation form {
        flex-direction: column;
    }

    .form_left {
        width: 100%;
    }

    .form_right {
        width: 100%;
    }

    /**/

    .footer_left {
        width: 50%;
    }

    .footer_img img {
        width: 50%;
        height: 50%;
    }

    .footer_img p {
        display: none;
    }

    .footer_right {
        width: 90%;
    }

    .localisation h3 {
        font-size: 10px;
    }

    .localisation img {
        width: 20%;
        height: 100%;
        margin-right: 0.5rem;
    }

    .email {
        margin-left: 0.5rem;
    }

    .email h3 {
        font-size: 10px;
    }

    .email img {
        width: 20%;
        height: 90%;
        margin-right: 0.5rem;
    }


    .footer_reseaux {
        width: 40%
    }

    .footer_reseaux ul {
        width: 100%;
    }

}
