* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clear:before, .clear:after {
    content: ' ';
    display: table;
}
.clear:after {
    clear:both;
}
.clear {
    *zoom: 1;
}
ul, ol {
    list-style: none;
}

a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
}
a:hover {
    color: red;
    transition:all .3s;
    text-decoration: none;
}
a:active, a:focus {
    color: white;
}

header {
    background-color: darkblue;
    border-bottom: solid;
    color: white;
}

.wrap {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.content {
    width: 50%;
    padding: 1rem 0rem;
}

.content1 img {
    border-radius: 100px;
}

.content2 {
    display: flex;
    align-items: center;
}

.content2 ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.content2 li {
    font-size: 30px;
    font-weight: bold;
}