{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    {% if app.user %}
        {% set redirectPath = path('app_base') %}
        <script>window.location.href = "{{ redirectPath }}";</script>
    {% endif %}
    <h1 class="titlepage">S'inscrire</h1>
    {{ include('user/_form.html.twig') }}
{% endblock %}
