@import "../../../styles";

#charts{
  color: $iconColor;

  .bubble{
    border-radius: 22px;
    background: $bgBubbles;
    box-shadow: $boxShadowBubbles;

    &.big{
      height: 29rem; // 464px
      display: flex;
      justify-content: center;
      align-items: center;

      .overall{
        border-radius: 22px;
        height: 100%;
        width: 100%;

        .chart-head{
          display: flex;
          justify-content: flex-end;
          padding: 2rem 1rem;

          .buttons{
            display: flex;
            gap: 71px;

            .filter-infos{
              display: flex;
              align-items: center;
              background: $blueBtns;
              padding: 0 1rem;
              border-radius: 22px;

              select{
                background: $blueBtns;
                color: $iconColor;
                border: none;
                font-size: 20px;
                outline: none;
                cursor: pointer;
              }
            }
          }
        }

        .chart-container{
          border-bottom-left-radius: 22px;
          border-bottom-right-radius: 22px;
          width: 100%;
          height: 81.5%;

          .chart-display{
            width: 95%;
            height: 95%;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

/* Ajoutez ces styles à votre fichier CSS/SCSS pour fixer la taille du graphique */
#myChart {
  width: 400px;
  height: 400px;
}



