
    <section id="intro">
        <div class="wrap">
            <div class="box">
                <img src="./asset/img/intro-listing-innow.png" alt="log innow listing">
            </div>
            <div class="box box_text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci consequuntur cupiditate dolorem dolores enim est inventore neque quisquam ullam? Animi commodi doloremque dolores doloribus illum non officia quae sapiente.</p>
            </div>
        </div>
    </section>

    <section id="partners">
        <div class="wrap">
            <div class="one_partner">
                <div class="one_partner__img shadow">
                    <a href="single.html">
                        <img src="./asset/img/partner-img.jpg" alt="">
                        <div class="lecteur"></div>
                    </a>
                </div>
                <div class="one_partner__text">
                    <h2>Welcome to the jungle</h2>
                    <h3>initials</h3>
                </div>
            </div>
            <div class="one_partner">
                <div class="one_partner__img shadow">
                    <a href="single.html">
                        <img src="./asset/img/partner-img.jpg" alt="">
                        <div class="lecteur"></div>
                    </a>
                </div>
                <div class="one_partner__text">
                    <h2>Welcome to the jungle</h2>
                    <h3>initials</h3>
                </div>
            </div>
            <div class="one_partner">
                <div class="one_partner__img shadow">
                    <a href="single.html">
                        <img src="./asset/img/partner-img.jpg" alt="">
                        <div class="lecteur"></div>
                    </a>
                </div>
                <div class="one_partner__text">
                    <h2>Welcome to the jungle</h2>
                    <h3>initials</h3>
                </div>
            </div>
            <div class="one_partner">
                <div class="one_partner__img shadow">
                    <a href="single.html">
                        <img src="./asset/img/partner-img.jpg" alt="">
                        <div class="lecteur"></div>
                    </a>
                </div>
                <div class="one_partner__text">
                    <h2>Welcome to the jungle</h2>
                    <h3>initials</h3>
                </div>
            </div>
            <div class="one_partner">
                <div class="one_partner__img shadow">
                    <a href="single.html">
                        <img src="./asset/img/partner-img.jpg" alt="">
                        <div class="lecteur"></div>
                    </a>
                </div>
                <div class="one_partner__text">
                    <h2>Welcome to the jungle</h2>
                    <h3>initials</h3>
                </div>
            </div>
            <div class="one_partner">
                <div class="one_partner__img shadow">
                    <a href="single.html">
                        <img src="./asset/img/partner-img.jpg" alt="">
                        <div class="lecteur"></div>
                    </a>
                </div>
                <div class="one_partner__text">
                    <h2>Welcome to the jungle</h2>
                    <h3>initials</h3>
                </div>
            </div>
            <div class="one_partner">
                <div class="one_partner__img shadow">
                    <a href="single.html">
                        <img src="./asset/img/partner-img.jpg" alt="">
                        <div class="lecteur"></div>
                    </a>
                </div>
                <div class="one_partner__text">
                    <h2>Welcome to the jungle</h2>
                    <h3>initials</h3>
                </div>
            </div>
            <div class="one_partner">
                <div class="one_partner__img shadow">
                    <a href="single.html">
                        <img src="./asset/img/partner-img.jpg" alt="">
                        <div class="lecteur"></div>
                    </a>
                </div>
                <div class="one_partner__text">
                    <h2>Welcome to the jungle</h2>
                    <h3>initials</h3>
                </div>
            </div>
        </div>
    </section>

</body>
</html>