<section id="nb-entreprises">
  <div class="bubble small">
    <div class="overall">
      <div class="number-container">
        <span class="number">{{ nombreTotalEntreprises }}</span>
      </div>

      <div class="title-container">
        <span class="title">Nombres d'entreprises</span>
      </div>
    </div>
  </div>
</section>
