
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --noir: #333333;
    --bleuback:#8EC0E7;
    --blanc:#FFF;
    --bleufonce:#4F7B9C;
    --bleublanc:#B5DFFF;
    --blanc2: #F0F0F0;
    --rouge:#EB2E27;
    --fredoka: 'Fredoka', sans-serif;
    --alata: 'Alata', sans-serif;
}

html {
    scroll-behavior: smooth;
}
body{
    font: 400px 16px/1.3 var(--alata), sans-serif;
}
.clear:before, .clear:after {
    content: ' ';
    display: table;
}

.clear:after {
    clear:both;
}

.clear {
    *zoom: 1;
}

ul, ol {
    list-style: none;
}

img {
    vertical-align: bottom;
    width: 100%;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}
a:active, a:focus {
    color: black;
}
.bigwrap{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}
.wrap {
    max-width: 1440px;
    width:100%;
    margin: 0 auto;
    padding: 0 1rem;
}
.wrap2{
    max-width: 850px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}
.wrap3{
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}
/*Code*/

/*HEADER*/

#masthead{
    background-color: var(--bleuback);
    padding: 1rem 1rem .5rem 1rem;
    position: fixed;
    width: 100%;
    z-index: 5;
}
#masthead .wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#masthead .wrap .logo{
    padding-left: 1rem;

}
   * {
       padding: 0;
       margin: 0;
       box-sizing: border-box;
   }

:root {
    --noir: #333333;
    --bleuback:#8EC0E7;
    --blanc:#FFF;
    --bleufonce:#4F7B9C;
    --bleublanc:#B5DFFF;
    --blanc2: #F0F0F0;
    --rouge:#EB2E27;
    --fredoka: 'Fredoka', sans-serif;
    --alata: 'Alata', sans-serif;
}

html {
    scroll-behavior: smooth;
}
body{
    font: 400px 16px/1.3 var(--alata), sans-serif;
}
.clear:before, .clear:after {
    content: ' ';
    display: table;
}

.clear:after {
    clear:both;
}

.clear {
    *zoom: 1;
}

ul, ol {
    list-style: none;
}

img {
    vertical-align: bottom;
    width: 100%;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}
a:active, a:focus {
    color: black;
}
.bigwrap{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}
.wrap {
    max-width: 1440px;
    width:100%;
    margin: 0 auto;
    padding: 0 1rem;
}
.wrap2{
    max-width: 850px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}
.wrap3{
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}
/*Code*/

/*HEADER*/

#masthead{
    background-color: var(--bleuback);
    padding: 1rem 1rem .5rem 1rem;
    position: fixed;
    width: 100%;
    z-index: 5;
}
#masthead .wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#masthead .wrap .logo{
    padding-left: 1rem;

}
#masthead .wrap .logo img{
    width: 17rem;
}
#masthead .wrap .logo a{
    display: inline-block;
    transition: all .3s;
}
#masthead .wrap .logo a:hover{
    transform: scale(1.1);
}

#masthead .wrap .nav{
    display: flex;
    gap: 2rem
}
#masthead .wrap .nav a{
    display: inline-block;
    padding: .7rem 1rem .7rem 1rem;
    background-color: var(--bleublanc);
    border-radius: 50px;
    transition: all .3s;
    text-transform: uppercase;
    font-family: var(--alata);
    color: var(--bleufonce);
}
#masthead .wrap .nav .nav_res{
    display: none;
}

#masthead .wrap .nav a:hover{
    transform: scale(1.1);
    color: var(--blanc);
}
/*FOOTER*/
#colophon{
    padding:  2rem 3rem ;
    background-color: var(--bleufonce);
}
#colophon .wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
#colophon .wrap .arrow_top{
    font-size: 2rem;
}
#colophon .wrap .arrow_top a{
    color: var(--blanc2);
    display: inline-block;
    transition: all .3s;
}
#colophon .wrap .arrow_top a:hover{
    transform: scale(1.2);
    opacity: .6;
}
#colophon .wrap .logo_footer{
    width: 15rem;
}
#colophon .wrap ul{
    display: flex;
    gap: 2rem;
}
#colophon .wrap ul a{
    display: inline-block;
    transition: all .3s;
    padding-bottom: .5rem;
    font-family: var(--alata);
    font-size: 1.1rem;
    text-align: center;
    color: var(--blanc);
}
#colophon .wrap ul a:hover{
    transform: scale(1.1);
    border-bottom: 1px solid;
}

/*HOME*/
#home{
    padding: 15rem 1rem 14rem 1rem;
    background-color: var(--bleuback);
}
#home .wrap2{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
#home .wrap2 h1{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: lighter;
    text-align: center;
    color: var(--blanc);
    font-family: var(--fredoka);
}
#home .wrap2 .home_nav{
    margin: 0 auto;
}
#home .wrap2 .home_nav ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
#home .wrap2 .home_nav ul a{
    display: inline-block;
    padding: .9rem 0;
    width: 20rem;
    text-align: center;
    border-radius: 50px;
    color: var(--blanc);
    background-color: var(--bleufonce);
    text-transform: uppercase;
    font-family: var(--alata);
    transition: all .3s;
}
#home .wrap2 .home_nav ul a:hover{
    transform: scale(1.1);
    opacity: .6;
}
/* VIDEO*/
#video{
    padding: 4rem 1rem;
    background-color: var(--blanc);
}
#video .wrap{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    align-items: flex-end;
}
#video .home_avis{
    padding: 2rem;
    background-color: var(--bleufonce);
    display: inline-block;
    border-radius: 20px;
    width: 40%;
}
#video .home_avis .avis_display{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

#video .home_avis .avis_publish{
    /*height: 7.5rem;*/
    border-radius: 20px;
    background-color: var(--bleublanc);
    width: 100%;
    min-height: 7rem;
}
#video .home_avis .avis_publish .avis_publish_last{
    padding: .5rem .5rem ;
}
#video .home_avis .avis_publish .avis_publish_last p i{
    font-size: 1.5rem;
}

#video .home_avis .avis_publish .avis_publish_last p{
    font-family: var(--alata);
    text-align: center;
    word-wrap: break-word;
    color: var(--blanc);
    padding: .5rem 0;
    font-size: .9rem;

}
#video .wrap .home_video{
    display: flex;
    flex-direction: column;
    gap: 3.8rem;
}
#video .wrap .home_video h1{
    padding-top: 2rem;
    text-transform: uppercase;
    text-align: center;
    font-family: var(--fredoka);
    font-size: 4rem;
    color: var(--bleufonce);
}
#video .wrap .home_video .video_width{
    position: relative;
    border: solid;
    height: 20rem;
    z-index: 0;

}
#video .wrap .home_video .video_width iframe{
    position: relative;
    /*padding-top: 1rem;*/
    width: 100%;
    height: 100%;
}

/*width="560" height="315"*/
/*LOGIN*/
#login{
    padding: 15rem 0 10rem 0;
    background-color: var(--bleuback);
}
#login .wrap3 .login_form{
    background-color: var(--bleufonce);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}
#login .wrap3 .login_form .log_gauche{
    padding: 2rem 1rem 2rem 1rem;
    background-color: var(--blanc);
    border-radius: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#login .wrap3 .login_form .log_gauche .gauche_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
#login .wrap3 .login_form .log_gauche .gauche_info h2{
    text-transform: uppercase;
    font-family: var(--alata);
}
#login .wrap3 .log_gauche .gauche_info h3{
    font-family: var(--alata);
    text-align: center;
}
#login .wrap3 .login_form .log_gauche .gauche_info i{
    font-size: 2rem;
}
#login .wrap3 .login_form .log_gauche a{
    color: var(--blanc);
    background-color: var(--bleufonce);
    padding: .7rem 3rem;
    border: none;
    border-radius: 50px;
    font-family: var(--fredoka);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1rem;
    transition: all .3s;
}
#login .wrap3 .login_form .log_gauche a:hover{
    transform: scale(1.1);
}

#login .wrap3 .login_form .log_droite{
    padding: 1rem;
    width: 60%;
}
#login .wrap3 .login_form .log_droite h2{
    padding-top: 1rem;
    padding-bottom: 4rem;
    text-align: center;
    color: var(--blanc);
    font-family: var(--alata);
    text-transform: uppercase;
}
#login .wrap3 .login_form .log_droite form{
    display: flex;
    flex-direction: column ;
    gap: 1rem;
    align-items: center;
    padding-bottom: 1rem;
}
#login .wrap3 .login_form .log_droite form .motdepasse a{
    font-family: var(--alata);
    color: var(--blanc);
    transition: all .3s;
}
#login .wrap3 .login_form .log_droite form .motdepasse a:hover{
    opacity: .6;
}

#login .wrap3 .login_form .log_droite form .log_input{
    width: 90%;
}
#login .wrap3 .login_form .log_droite form .log_input input{
    width: 100%;
    padding: .7rem;
    border: none;
    border-radius: 50px;
}
#login .wrap3 .login_form .log_droite form .log_input input::placeholder{
    color: var(--bleufonce);
}
#login .wrap3 .login_form .log_droite form .log_input span{
    color: var(--rouge) ;
    font-family: var(--alata);
}

#login .wrap3 .login_form .log_droite form .log_submit input{
    padding: .7rem 4rem;
    border: none;
    border-radius: 50px;
    font-family: var(--fredoka);
    background-color: var(--bleuback);
    color: var(--bleufonce);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1rem;
    transition: all .3s;
}

#login .wrap3 .login_form .log_droite form .log_submit input:hover{
    transform: scale(1.1);
    cursor: pointer;
}


/*MOT DE PASSE OUBLIE*/
#oublie{
    padding-top: 15rem;
    background-color: var(--bleuback);
    padding-bottom: 7rem;

}
#oublie .wrap3 .form_oublie{
    background-color: var(--bleufonce);
    padding: 2rem 1rem;
    border-radius: 20px;
}
#oublie .wrap3 .form_oublie h1{
    text-align: center;
    padding-bottom: 2rem;
    font-family: var(--fredoka);
    color: var(--blanc);
    font-size: 2rem;
    text-shadow: 3px 3px 30px var(--noir);
}

#oublie .wrap3 .form_oublie form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 2rem;
}
#oublie .wrap3 .form_oublie form .oublie{
    /*display: inline-block;*/
    /*width: 100%;*/
    margin: 0 auto;
}
#oublie .wrap3 .form_oublie form .email_oublie{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
#oublie .wrap3 .form_oublie form .email_oublie span{
    color: var(--rouge);
}

#oublie .wrap3 .form_oublie form .oublie input{
    width: 25rem;
    display: inline-block;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
}
#oublie .wrap3 .form_oublie form .oublie .email_css{
    padding: .7rem 3rem .7rem 1rem;
}

#oublie .wrap3 .form_oublie form .oublie .submit_css{
    padding: .7rem 2rem .7rem 2rem;
    text-transform: uppercase;
    cursor: pointer;
    background-color: var(--bleublanc);
    transition: all .3s;
}
#oublie .wrap3 .form_oublie form .oublie .submit_css:hover{
    transform: scale(1.05);
    opacity: .7;
}
/*MODIF MOT DE PASSE*/
#modif{
    padding-top: 15rem;
    background-color: var(--bleuback);
    padding-bottom: 7rem;

}
#modif .wrap3 .bloc_modif{
    background-color: var(--bleufonce);
    padding: 2rem 1rem;
    border-radius: 20px;
}
#modif .wrap3 .bloc_modif h1{
    text-align: center;
    padding-bottom: 2rem;
    font-family: var(--fredoka);
    color: var(--blanc);
    font-size: 2rem;
    text-shadow: 3px 3px 30px var(--noir);
}

#modif .wrap3 .bloc_modif form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 2rem;
}
#modif .wrap3 .bloc_modif form .modif{
    /*display: inline-block;*/
    /*width: 100%;*/
    margin: 0 auto;
}
#modif .wrap3 .bloc_modif form .pass{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
#modif .wrap3 .bloc_modif form .pass span{
    color: var(--rouge);
}

#modif .wrap3 .bloc_modif form .modif input{
    width: 25rem;
    display: inline-block;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
}
#modif .wrap3 .bloc_modif form .modif .pass_css{
    padding: .7rem 3rem .7rem 1rem;
}

#modif .wrap3 .bloc_modif form .modif .submit_css{
    padding: .7rem 2rem .7rem 2rem;
    text-transform: uppercase;
    cursor: pointer;
    background-color: var(--bleublanc);
    transition: all .3s;
}
#modif .wrap3 .bloc_modif form .modif .submit_css:hover{
    transform: scale(1.05);
    opacity: .7;
}
/*register*/

#regis {
    background-color: var(--bleuback);
    padding-top: 18rem;
    padding-bottom: 3rem;
}
#regis .wrap {
    display: flex;
    justify-content: space-between;
    background-color: var(--bleufonce);
    border-radius: 15px 15px;
    width: 40%;
    align-items: center;
    margin: 0 auto;
}
#regis .wrap3 .form_regis .form_enregistrer .title {
    color: var(--blanc);
    font-family: var(--alata);
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 1rem;
}
#regis .wrap3 .form_enregistrer {
    padding: 2rem 1rem 2rem 1rem;
    width: 60%;
}

#regis .wrap3 .form_regis  .wrapform input {
    border-radius: 15px 15px;
    padding: 6px;
    font-family: var(--alata);
    background-color: var(--blanc);
    border: none;
    width: 100%;
}
#regis .wrap3 .form_regis  .wrapform .form_submit input {
    color: var(--bleufonce);
    background-color: var(--bleuback);
    width: 100%;
    font-family: var(--fredoka);
    font-weight: bold;
    font-size: 1.1rem;
    padding: 0.7rem 4rem;
    border-radius: 25px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .3s;
}
#regis .wrap3 .form_regis  .wrapform .form_display {
    width: 100%;
}

#regis .wrap3 .form_regis  .wrapform {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}
#regis .wrap3 .form_regis  .connecter h2{
    padding-bottom: 3rem;
    text-transform: uppercase;
}
#regis .wrap3 .form_regis  .wrapform select {
    border-radius: 15px 15px;
    font-family: var(--alata);
    color: #757575;
    padding: 4.3px;
}
#regis .wrap3 .form_regis  .connecter i {
    padding-bottom: 2rem;
    font-size: 2rem;
}
#regis .wrap3 .form_regis  .connecter h3{
    padding-bottom: 3rem;
}
#regis .wrap3 .form_regis  .connecter {
    font-family: var(--alata);
    text-align: center;
    place-self: flex-start;
    background-color: var(--blanc);
    border-radius: 15px 15px;
    padding: 2rem 1rem 2rem 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
/*register input*/
#regis .wrap3 .form_regis  .wrapform .form_nomPrenom{
    display: flex;
    gap: 16px;
    width: 100%;
}
#regis .wrap3 .form_regis  .wrapform  .form_nom{
    display: flex;
}
#regis .wrap3 .form_regis  .wrapform #name {
    width: 100%;
}
#regis .wrap3 .form_regis  .wrapform #prenom{
    width: 100%;
}
#regis .wrap3 .form_regis  .wrapform .form_ageGenre{
    display: flex;
    /*justify-content: space-around;*/
    width: 100%;
    gap: .5rem;
}
#regis .wrap3 .form_regis  .wrapform #age {
    width: 5rem;
}
#regis .wrap3 {
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}
#regis .form_regis {
    display: flex;
    justify-content: space-between;
    background-color: var(--bleufonce);
    border-radius: 25px;
    align-items: center;
    margin: 0 auto;
}
#regis span {
    color: red;
    font-family: var(--alata);
    display: flex;
}
#regis .wrap3 .form_regis .form_enregistrer .wrapform .form_submit input:hover {
    transform: scale(1.1);
}

#regis .connecter a:hover{
    transform: scale(1.1);
}
#regis .connecter a{
    border-radius: 25px;
    background-color: var(--bleufonce);
    color: var(--blanc);
    border: none;
    font-family: var(--fredoka);
    font-weight: bold;
    font-size: 1.1rem;
    width: 100%;
    text-transform: uppercase;
    transition: all .3s;
    display: inline-block;
    padding: 0.7rem 1rem;
}

/* PROFIL*/

.parallax {
    z-index: -4;
    background-image: url("https://cdn.pixabay.com/photo/2021/10/11/17/37/doctor-6701410_1280.jpg");
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bigwrap .position_h1_profil{
    z-index: -3;
    width: 100%;
    position: absolute;
    color: var(--blanc);
    font-family: var(--fredoka);
    top: 20rem;
    /*left: 30%;*/
    font-size: 2rem;
    text-shadow:2px 2px 5px var(--noir);
    text-align: center;
}
#profil
{
    background-color: var(--bleuback);
    margin-top: -10rem;
}
.vaccins
{
    display: flex;
    gap: 2rem;
    padding: 0 6rem 6rem 6rem;
    justify-content: space-between;
}
.vacci{
    padding: 3rem 1rem 7rem 1rem;
    text-align: center;
    font-family: var(--alata);
    font-size: 2rem;
    text-shadow: 1px 1px 2px var(--bleufonce);
    color: var(--blanc);

}
#profil .wrap .vaccins .vacc_display{
    width: 28%;
    border-radius: 20px;
    box-shadow: 1px 1px 20px var(--bleufonce);
}
#profil .wrap .vaccins .vacc_display .img{
    width: 100%;
    background-color: var(--bleufonce);
    border-radius: 20px 20px 0 0;
    height: 15rem;
}
#profil .wrap .vaccins .vacc_display img{
    width: 100%;
    height: 90%;
}

#profil .wrap .vaccins .vacc_display .vacc_bottom{
    height: 13rem;
    border-radius: 0 0 20px 20px;
    background-color: var(--bleublanc);
    padding-top: 1rem;
}
#profil .wrap .vaccins .vacc_display .vacc_bottom p{
    font-size: 1.8vw;
    text-shadow: 1px 1px 2px var(--bleufonce);
    font-family: var(--alata);
    padding: 0 1rem 0 1rem;
    color: var(--bleufonce);
    text-transform: uppercase;
}
#profil .wrap .vaccins .vacc_display .vacc_bottom .vaccin_done{
    padding-top: 1.4rem;
    /*text-shadow: none;*/
    color: var(--blanc);
    font-family: var(--alata);
    font-weight: bold;
    text-shadow: 1px 1px 1px 10px;
}
.vaccins a{
    display: inline-block;
    transition: all .3s;
    /*border: 1px solid var(--bleufonce);*/
    border-radius: 20px;
    width: 100%;

}
.vaccins a:hover{
    transform: scale(1.02);
}

.nextvaccin
{
    text-align: center;
}

.lastvaccin
{
    text-align: center;
}

.addvaccin
{
    text-align: center;
}

/*AJOUTER UN VACCIN*/

#formmask {
    padding-top: 3rem;
    gap: 5rem;
    margin-top: -17rem;
    background-color: var(--blanc);
}
#formmask .wrap2 .form1{
    display: flex;
    flex-direction: column;
}
#formmask .wrap2 .form1 span{
    color: red;
}

.form1 {
    padding-top: 1rem;
}
.form2 {
    padding-top: 1rem;
}
.form3 {
    padding-top: 1rem;
}
.form4 {
    padding-top: 2rem;
}
.add label
{
    font-family: var(--fredoka);

}

.inadd
{
    margin-top: 1rem;
    font-size: 1.2rem;
    color: var(--bleufonce);
    cursor: pointer;
}

.inadd:hover{
    transform: scale(1.05);
    opacity: .7;
}
#formmask .wrap2 {
    display: flex;
    align-items: center;
}
.add img {
    width: 100%;
}
.add a:hover{

    opacity: .7;
}
.add a {
    background-color: var(--bleufonce);
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 5px;
    font-family: var(--alata);
}
.submit input[type=submit] {
    background-color: white;
    width: 20rem;
    font-family: var(--alata);
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .5s;

}
.mask {
    width: 60%;
    min-width: 300px;
    padding-right: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formadd {
    width: 50%;
    margin-left: 20rem;
    padding-top: 12rem;
}
.formadd .formvac {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: -1rem;
    margin-left: -12rem;
}
#formmask input{
    border-radius: 5px;
    padding: 6px;
    font-family: var(--alata);
    background-color: var(--blanc);
    width: 17rem;
    cursor: pointer;

}
#formmask select{
    border-radius: 5px;
    padding: 6px;
    font-family: var(--alata);
    background-color: var(--blanc);
    width: 17rem;
    display: block;
    cursor: pointer;
}
.ajtvacc {
    display: flex;
    padding-bottom: 5rem;
}
.ajouter {
    border-right: solid;
    margin-top: 8%;
    height: 30rem;
    width: 40rem;
}
.add h1 {
    width: 25rem;
    padding-right: 5rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: var(--alata);
}
.add a{
    transition: all .3s;
}
.mask {
    display: flex;
    max-width: 100%;
    min-width: 50%;
}
.formadd {
    margin-bottom: 10%;
}
.vacc {
    padding: 4rem 2rem;
    background-color: var(--bleuback);
    width: 100%;
    height: 13rem;
    text-align: center;
}
.vacc .wrap{
    display: flex;
    gap:2rem;
    justify-content: center;
}
.vacc a {
    background-color: white;
    padding: 0.6rem;
    margin-top: 0.5rem;
    border-radius: 10px;
    font-size: 2rem;
    display: inline-block;
    transition: all .3s;
}
.vacc a:hover {
    transform: scale(1.05);
}

.add a{
    font-size: 1.5rem;
}

.add form {
    gap: 5rem;
    padding-bottom: 2rem;
}
.add input {
    max-width: 70%;
    min-width: 20%;
}

.add select {
    max-width: 70%;
    min-width: 20%;
}

.mask h1 {
    width: 25rem;
    text-align: center;
    font-size: 2.6rem;
    font-weight: bold;
    font-family: var(--alata);
    margin-top: 20px;
    max-width: 100%;
    min-width: 20%;


}

/*PLUS D'INFORMATIONS*/
#infos{
    padding: 15rem 1rem 10rem 1rem;
    background-color: var(--bleuback);

}
#infos .wrap2{
    background-color: var(--bleufonce);
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 2px 2px 10px var(--noir);
}
#infos .wrap2 h1{
    font-size: 2rem;
    font-family: var(--fredoka);
    padding-bottom: 3rem;
    color: var(--blanc);
    text-shadow: 1px 1px 5px var(--noir);
}
#infos .wrap2 p{
    font-family: var(--alata);
    padding-bottom: 2rem;
    text-align: justify;
    color: var(--blanc);

}
#infos .wrap2 .info_user{
    padding-bottom: 3rem;
}
#infos .wrap2 .info_question{
    padding-bottom: 1rem;
    font-family: var(--alata);
    color: var(--blanc);
    text-shadow: 1px 1px 5px var(--noir);
}
#infos .wrap2 form{
    width: 100%;
    padding-bottom: 2rem;
}
#infos .wrap2 form .input_plus{
    display: flex;
    justify-content: center;

}
#infos .wrap2 form .input_plus input{
    padding: .6rem 2rem;
    cursor: pointer;
    background-color: var(--bleuback);
    border-radius: 10px;
    border: none;
    font-family: var(--fredoka);
    transition: all .3s;
    font-size: 1.1rem;
}
#infos .wrap2 form .input_plus input:hover{
    transform: scale(1.03);
    opacity: .7;
}
#infos .wrap2 p:has(a){
    text-align: center;
}

#infos .wrap2 a{
    color: var(--blanc);
    padding: .5rem 1rem;
    background-color: var(--bleuback);
    border-radius: 10px;
    transition: all .3s;
    display: inline-block;
}
#infos .wrap2 a:hover{
    transform: scale(1.05);
}

/*MODIF DONE*/
#modifdone{
    background-color: var(--bleuback);
    padding: 15rem 1rem 10rem 1rem;
}
#modifdone .wrap3{
    background-color: var(--bleufonce);
    border-radius: 20px;
    padding: 2rem;
}
#modifdone .wrap3 h1{
    text-align: center;
    color: var(--blanc);
    font-family: var(--fredoka);
    font-size: 3rem;
}

#modifdone .wrap3 form{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
#modifdone .wrap3 form .span{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 40%;
}
#modifdone .wrap3 form .span label{
    color: var(--blanc);
    font-family: var(--alata);
    font-size: 1.3rem;
    text-align: left;
}
#modifdone .wrap3 form .span input, #modifdone .wrap3 form .span select{
    padding: .7rem 1rem;
    border: none;
    border-radius: 10px;
}
#modifdone .wrap3 form .input_done{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}
#modifdone .wrap3 form .input_done input{
    width: 8rem;
    background-color: var(--bleuback);
    color: var(--bleufonce);
    font-family: var(--alata);
    font-size: 1.4rem;
    cursor: pointer;
    transition: all .3s;
}
#modifdone .wrap3 form .input_done input:hover{
    transform: scale(1.04);
}
#modifdone .wrap3 .delete_done{
    padding-top: 3rem;
    text-align: center;
}
#modifdone .wrap3 .delete_done a{
    color: var(--blanc);
    padding: .5rem 1rem;
    background-color: var(--bleuback);
    font-family: var(--alata);
    font-size: 1.4rem;
    border-radius: 10px;
    display: inline-block;
    transition: all .3s;
}
#modifdone .wrap3 .delete_done a:hover{
    transform: scale(1.04);
}

/*MODIF TO DO*/
#modif_todo{
    padding: 15rem 1rem 10rem 1rem;
    background-color: var(--bleuback);
}
#modif_todo .wrap3{
    background-color: var(--bleufonce);
    border-radius: 20px;
    padding: 2rem;
}
#modif_todo .wrap3 h1{
    text-align: center;
    color: var(--blanc);
    font-size: 3rem;
    font-family: var(--fredoka);
}
#modif_todo .wrap3 form{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding-top: 2rem;
}
#modif_todo .wrap3 form .date_todo{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 60%;
}
#modif_todo .wrap3 form .date_todo label{
    color: var(--blanc);
    font-family: var(--alata);
    font-size: 1.3rem;
    text-align: center;
    padding-bottom: .7rem;
}
#modif_todo .wrap3 form .date_todo input{
    padding: .7rem 1rem;
    border: none;
    border-radius: 10px;
}
#modif_todo .wrap3 form .submit_todo input{
    width: 8rem;
    background-color: var(--bleuback);
    color: var(--bleufonce);
    font-family: var(--alata);
    font-size: 1.4rem;
    cursor: pointer;
    transition: all .3s;
    border: none;
    border-radius: 10px;
}
#modif_todo .wrap3 form .submit_todo input:hover {
    transform: scale(1.04);
}
#modif_todo .wrap3 .delete_todo{
    padding-top: 3rem;
    text-align: center;
}
#modif_todo .wrap3 .delete_todo a{
    color: var(--blanc);
    padding: .5rem 1rem;
    background-color: var(--bleuback);
    font-family: var(--alata);
    font-size: 1.4rem;
    border-radius: 10px;
    display: inline-block;
    transition: all .3s;
}
#modif_todo .wrap3 .delete_todo a:hover{
    transform: scale(1.04);
}

/*DELETE*/
#delete{
    padding: 15rem 1rem 10rem 1rem;
    background-color: var(--bleuback);
}
#delete .wrap3{
    background-color: var(--bleufonce);
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    align-self: center;
    flex-direction: column;
    gap: 2rem;
}
#delete .wrap3 h1{
    text-align: center;
    font-family: var(--fredoka);
    font-size: 3rem;
    color: var(--blanc);

}
#delete .wrap3 form{
    /*display: flex;*/
    /*align-items: center;*/
    /*flex-direction: column;*/
    text-align: center;
}
#delete .wrap3 form input{
    padding: .6rem 2rem;
    background-color: var(--bleuback);
    color: var(--blanc);
    font-family: var(--alata);
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    transition: all .3s;
    cursor: pointer;
}
#delete .wrap3 form input:hover{
    transform: scale(1.1);
}










#contact .bigwrap{
    padding-top: 15rem;
    padding-bottom: 3rem;
}
/*MY VACCIN*/


.bigwrap .img_labo{
    z-index: -4;
    background-image: url("image/laboratoire.jpg");
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.bigwrap .position_h1_vaccin{
    z-index: -3;
    position: absolute;
    color: var(--blanc);
    font-family: var(--fredoka);
    top: 18rem;
    /*bottom: 55%;*/
    /*left: 28%;*/
    font-size: 2rem;
    text-shadow:2px 2px 5px var(--noir);
    width: 100%;
    text-align: center;
}
#vaccin{
    margin-top: -8rem;
    padding: 3rem 0;
    background-color: var(--bleuback);
}
#vaccin .wrap2 .vaccin_choix{
    background-color: var(--blanc);
    border-radius: 50px;
    display: flex;
}
#vaccin .wrap2 .recherche{
    padding-top: 2rem;
}
#vaccin .wrap2 .recherche form{
    width: 100%;
    max-width: 25rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
#vaccin .wrap2 .recherche form .submit_recherche{
    text-align: center;
    padding: .7rem 1rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all .3S;
}

#vaccin .wrap2 .recherche form .recherche_input{
    padding: .7rem 3rem .7rem 1rem;
    border: none;
    border-radius: 20px;

}
#vaccin .wrap2 .recherche form .submit_recherche:hover{
    opacity: .8;
}
#vaccin .wrap2 .vaccin_list h2{
    font-family: var(--fredoka);
    text-align: center;
    font-weight: lighter;
}
#vaccin .wrap2 .vaccin_choix .vaccin_select{
    font-weight: lighter;
    font-family: var(--alata);
    text-transform: uppercase;
    padding: 1rem 0;
    width: 50%;
    text-align: center;
}
#vaccin .wrap2 .vaccin_choix .vaccin_active{
    color: var(--bleufonce);
    border-bottom: 2px solid var(--bleufonce);
    border-radius: 50px;
}
#vaccin .wrap2 .vaccin_choix a{
    display: inline-block;
    transition: all .3s;
    border-radius: 50px;
}
#vaccin .wrap2 .vaccin_choix a:hover{
    transform: scale(1.02);
    color: var(--bleufonce);
}

#vaccin .wrap2 .vaccin_list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 3rem;
}
#vaccin .wrap2 .vaccin_list .global{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blanc);
    padding: 2rem 3rem ;
    border-radius: 20px;
    font-family: var(--alata);
    color: var(--bleufonce);
    text-align: center;
}
#vaccin .wrap2 .vaccin_list .global i{
    font-size: 2rem;
}

#vaccin .wrap2 .vaccin_list a{
    display: inline-block;
    transition: all .3s;
}
#vaccin .wrap2 .vaccin_list a:hover{
    transform: scale(1.05);
}
#vaccin .wrap2 .vaccin_list li{
    list-style: none;
}
#vaccin .wrap2 .vaccin_list li a{
    color: var(--bleufonce);
    font-family: var(--alata);
    font-size: 1.4rem;
}
#vaccin .wrap2 .vaccin_list li a:hover{
    color: var(--blanc);
}

#vaccin .wrap2 h4{
    padding-top: 1rem;
    text-align: center;
}
#vaccin .wrap2 h4 a{
    color: var(--blanc);
    font-family: var(--alata);
    padding: .5rem 2rem;
    background-color: var(--bleufonce);
    display: inline-block;
    transition: all .3s;
    font-size: 1.3rem;
}
#vaccin .wrap2 h4 a:hover{
    transform: scale(1.05);
}










/*CONTACT*/

#contact{
    padding: 5rem 0 10rem 0;
    background-color: var(--bleuback);
    margin-top: -13rem;
}

#contact .wrap3 .login_form{
    background-color: var(--bleufonce);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

#contact .wrap3 .login_form .log_gauche{
    padding: 2rem 1rem 2rem 1rem;
    background-color: var(--blanc);
    border-radius: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#contact .wrap3 .login_form .log_gauche .gauche_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding-bottom: 1rem;
}

#contact .wrap3 .login_form .log_gauche .gauche_info h2{
    text-transform: uppercase;
    font-family: var(--alata);
}

#contact .wrap3 .log_gauche .gauche_info h3{
    font-family: var(--alata);
    text-align: center;
}

#contact .wrap3 .login_form .log_gauche .gauche_info i{
    font-size: 2rem;
}

#contact .wrap3 .login_form .log_gauche a{
    color: var(--blanc);
    background-color: var(--bleufonce);
    padding: .7rem 3rem;
    border: none;
    border-radius: 50px;
    font-family: var(--fredoka);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1rem;
    transition: all .3s;
}

#contact .wrap3 .login_form .log_gauche a:hover{
    transform: scale(1.1);
}

#contact .wrap3 .login_form .log_droite{
    padding: 1rem;
    width: 60%;
}

#contact .wrap3 .login_form .log_droite h2{
    padding-top: 1rem;
    padding-bottom: 4rem;
    text-align: center;
    color: var(--blanc);
    font-family: var(--alata);
    text-transform: uppercase;
}
#contact .wrap3 .login_form .log_droite form{
    display: flex;
    flex-direction: column ;
    gap: 2rem;
    align-items: center;
    padding-bottom: 1rem;
}

#contact .wrap3 .login_form .log_droite form .log_input{
    width: 90%;
}

#contact .wrap3 .login_form .log_droite form .log_input input{
    width: 100%;
    padding: .7rem;
    border: none;
    border-radius: 50px;
}

#contact .wrap3 .login_form .log_droite form .log_input textarea{
    width: 100%;
    padding: .7rem;
    border: none;
    border-radius: 20px;
    resize: vertical;
    min-height: 5rem;
    max-height: 10rem;
}

#contact .wrap3 .login_form .log_droite form .log_input input::placeholder{
    color: var(--bleufonce);
}

#contact .wrap3 .login_form .log_droite form .log_input textarea::placeholder{
    color: var(--bleufonce);
}

#contact .wrap3 .login_form .log_droite form .log_input span{
    color: var(--rouge) ;
    font-family: var(--alata);
}

#contact .wrap3 .login_form .log_droite form .submit input{
    padding: .7rem 4rem;
    border: none;
    border-radius: 50px;
    font-family: var(--fredoka);
    background-color: var(--bleuback);
    color: var(--bleufonce);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1rem;
    transition: all .3s;
    width: 100%;
}

#contact .wrap3 .login_form .log_droite form .submit input:hover{
    transform: scale(1.1);
    cursor: pointer;
}

/*AVIS*/

#avis {
    padding: 5rem 0 10rem 0;
    background-color: var(--bleuback);
    margin-top: -13rem;
}

#avis .wrap3 .login_form{
    background-color: var(--bleufonce);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

#avis .wrap3 .login_form .log_gauche{
    padding: 2rem 1rem 2rem 1rem;
    background-color: var(--blanc);
    border-radius: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#avis .wrap3 .login_form .log_gauche .gauche_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

#avis .wrap3 .login_form .log_gauche .gauche_info h2{
    text-transform: uppercase;
    font-family: var(--alata);
}

#avis .wrap3 .log_gauche .gauche_info h3{
    font-family: var(--alata);
    text-align: center;
}

#avis .wrap3 .login_form .log_gauche .gauche_info i{
    font-size: 2rem;
}

#avis .wrap3 .login_form .log_gauche a{
    color: var(--blanc);
    background-color: var(--bleufonce);
    padding: .7rem 3rem;
    border: none;
    border-radius: 50px;
    font-family: var(--fredoka);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1rem;
    transition: all .3s;
}

#avis .wrap3 .login_form .log_gauche a:hover{
    transform: scale(1.1);
}

#avis .wrap3 .login_form .log_droite{
    padding: 1rem;
    width: 60%;
}

#avis .wrap3 .login_form .log_droite h2{
    padding-top: 1rem;
    padding-bottom: 4rem;
    text-align: center;
    color: var(--blanc);
    font-family: var(--alata);
    text-transform: uppercase;
}
#avis .wrap3 .login_form .log_droite form{
    display: flex;
    flex-direction: column ;
    gap: 2rem;
    align-items: center;
    padding-bottom: 1rem;
}

#avis .wrap3 .login_form .log_droite form .log_input{
    width: 90%;
}

#avis .wrap3 .login_form .log_droite form .log_input textarea{
    width: 100%;
    padding: .7rem;
    border: none;
    border-radius: 20px;
    resize: vertical;
    min-height: 5rem;
    max-height: 10rem;
}

#avis .wrap3 .login_form .log_droite form .log_input textarea::placeholder{
    color: var(--bleufonce);
}

#avis .wrap3 .login_form .log_droite form .log_input span{
    color: var(--rouge) ;
    font-family: var(--alata);
}
#avis .wrap3 .login_form .log_droite form .submit{
    width: 70%;
}
#avis .wrap3 .login_form .log_droite form .submit input{
    padding: .7rem 4rem;
    border: none;
    border-radius: 50px;
    font-family: var(--fredoka);
    background-color: var(--bleuback);
    color: var(--bleufonce);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1rem;
    transition: all .3s;
    width: 100%;
}

#avis .wrap3 .login_form .log_droite form .submit input:hover{
    transform: scale(1.1);
    cursor: pointer;
}

/*mentions legales*/

#mentions {
    background-color: var(--bleuback);
    padding-bottom: 5rem;
}

#mentions .wrap {
    text-align: center;
    /*background-color: var(--bleuback);*/
}

#mentions .title {
    /*padding: 2rem;*/
    /*font-size: 50px;*/
    /*color: var(--blanc);*/
    /*font-family: var(--alata);*/
    /*text-shadow: 1px 1px 2px var(--bleufonce);*/
    z-index: -3;
    width: 100%;
    position: absolute;
    color: var(--blanc);
    font-family: var(--fredoka);
    top: 20rem;
    /* left: 30%; */
    font-size: 2rem;
    text-shadow: 2px 2px 5px var(--noir);
    text-align: center;
}
#mentions .wrap h3 {
    padding: 3rem;
    font-size: 25px;
    color: var(--blanc);
    font-family: var(--alata);
    text-shadow: 1px 1px 2px var(--bleufonce);
}

#mentions .wrap p {
    width: 75%;
    margin: 0 auto;
    font-size: 20px;
    padding: 2rem 2rem 2rem 2rem;
    text-align: justify;
    font-family: var(--alata);
    color: var(--blanc);
    line-height: 2.5rem;
    background-color: var(--bleufonce);
    border-radius: 25px;
}
#mentions .wrap {
    text-align: center;
}
#mentions .wrap strong {
    font-weight: lighter;
}

/*NEXT_VACCIN*/

.error_404{
    padding: 17rem 0 7.8rem 0;
}
.error_404 h2{
    font-size: 10rem;
    text-align: center;
    font-family: var(--fredoka);
    color: var(--bleufonce);
}
.error_404 p{
    text-align: center;
}
.error_404 a{
    color: var(--bleufonce);
    font-size: 1.5rem;
    font-family: var(--fredoka);
    display: inline-block;
    transition: all .3s;
}
.error_404 a:hover{
    transform: scale(1.2);

}

/*BANNI*/
#ban{
    padding: 16rem 1rem;
    background-color: var(--bleuback);
}
#ban h1{
    text-align: center;
    font-size: 3.5rem;
    color: var(--blanc);
    font-family: var(--fredoka);
    padding-bottom: 2rem;
}
#ban p{
    text-align: center;

    font-size: 1.5rem;
}
#ban a{
    display: inline-block;
    transition: all .3s;
    color: var(--blanc);
    font-family: var(--alata);
}
#ban a:hover{
    transform: scale(1.05);
}
@media screen and (max-width: 1075px) {
    .vaccins{
        flex-wrap: wrap;
        gap: 4rem 2rem;
        padding: 0 3rem 6rem 3rem;
    }
    #profil .wrap .vaccins .vacc_display{
        width: 45%;
    }
    #profil .wrap .vaccins .vaccin3{
        margin: 0 auto;
        display: inline-block;
    }
    #profil .wrap .vaccins .vacc_display .vacc_bottom p{
        font-size: 3vw;
    }
}
@media screen and (max-width: 980px) {
    #masthead .wrap{
        flex-direction: column;
        gap: 1rem;
    }
    #masthead .wrap .nav{
        gap: 1rem;
    }
}
@media screen and (max-width: 900px) {
    #colophon .wrap ul a{
        font-size: .9rem;
    }
    #video .home_avis{
        padding: 1rem;
    }
}

@media screen and (max-width: 830px) {

    #colophon .wrap ul{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    #colophon .wrap ul a{
        font-size: 1.2rem;
    }

    #video .wrap{
        flex-direction: column-reverse;
        align-items: center;
        gap: 2rem;
    }
    #video .home_avis{
        width: 100%;
    }
    #video .wrap .home_video .video_width{
        height: 50vw;
    }
}
@media screen and (max-width: 760px) {
    .vaccins{
        flex-direction: column;
        align-items: center;
        padding: 0 0 6rem 0;
    }

    #profil .wrap .vaccins .vacc_display{
        width: 80%;
    }
    #profil .wrap .vaccins .vacc_display .vacc_bottom p{
        font-size: 6vw;
    }
    #modifdone .wrap3 form .span{
        width: 100%;
    }
    #modif_todo .wrap3 form .date_todo{
        min-width: 80%;
    }
    .add a{
        font-size: 1.2rem;
    }

}
@media screen and (max-width: 600px) {
    #masthead .wrap{
        flex-direction: row;
    }
    #masthead .wrap .logo img{
        width: 60vw;
    }

    #masthead .wrap .nav{
        gap: 0;
    }
    #masthead .wrap .nav .res{
        display: none;

    }
    #masthead .wrap .nav a{
        padding: 0;
        background-color: transparent;
    }
    #masthead .wrap .nav .nav_res{
        display: inline-block;
        font-size: 1.7rem;
        color: var(--blanc);
    }
    #home{
        padding-bottom: 5rem;
    }
    #home .wrap2 h1{
        font-size: 7vw;
    }
    #home .wrap2 .home_nav ul a{
        width: 15rem;
    }
    #video{
        padding: 1rem 1rem 4rem 1rem;
    }
    #video .wrap .home_video{
        gap: 2rem;
    }
    #video .wrap .home_video h1{
        font-size: 8vw;
    }
    #video .home_avis{
        width: 90%;
    }
    #profil .wrap .vaccins .vacc_display{
        width: 100%;
    }
    #vaccin .wrap2 .vaccin_choix{
        background-color: transparent;
    }
    #vaccin .wrap2 .vaccin_choix{
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 1rem;
    }

    #vaccin .wrap2 .vaccin_choix .vaccin_select{
        width: 100%;
        background-color: var(--blanc);
    }
    #contact .wrap3 .login_form .log_gauche a{
        padding: .7rem 2rem;
    }
    #contact .wrap3 .login_form .log_droite form .submit input{
        padding: .7rem 2rem;
    }
    #avis .wrap3 .login_form .log_droite form .submit input{
        padding: .7rem 0;
    }
    #avis .wrap3 .login_form .log_gauche a {
        padding: .7rem 1rem;
    }
    #delete .wrap3 h1{
        font-size: 2rem;
    }
    #formmask .wrap2{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 525px) {
    #login .wrap3 .login_form .log_gauche a{
        padding: .7rem 1rem ;
    }
    #login .wrap3 .login_form .log_droite form .log_submit input{
        padding: .7rem 1rem;
    }
    #regis .form_regis{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #regis .wrap3 .form_regis .connecter i {
        display: none;
    }
    #regis .connecter a {
        padding: .7rem 1rem;
    }
    #regis .wrap3 .form_regis  .wrapform {
        width: 100%;
    }
    #regis .wrap3 .form_enregistrer{
        width: 100%;
    }
    #regis .wrap3 .form_regis  .wrapform #age {
        width: 7rem;
    }


    #regis .wrap3 .form_regis .wrapform .form_submit input{
        padding: .7rem 1rem;
    }
}

@media screen and (max-width: 475px) {

    #home{
        padding-top: 10rem;
    }
    #login{
        padding-top: 12rem;
        padding-bottom: 5rem;
    }
    #login .wrap3 .login_form{
        flex-direction: column-reverse;
    }
    #login .wrap3 .login_form .log_gauche{
        width: 100%;
        padding: 1rem;
    }
    #login .wrap3 .login_form .log_gauche .gauche_info{
        gap: .5rem;
        padding-bottom: 1rem;
    }
    #login .wrap3 .login_form .log_droite{
        width: 100%;
    }
    #login .wrap3 .login_form .log_droite h2{
        padding-bottom: 2rem;
    }
    #login .wrap3 .login_form .log_gauche .gauche_info i{
        display: none;
    }
    #oublie .wrap3 .form_oublie form .oublie{
        width: 100%;
    }

    #oublie .wrap3 .form_oublie form .oublie input{
        width: 100%;
    }
    #modif .wrap3 .bloc_modif form .modif{
        width: 100%;
    }
    #modif .wrap3 .bloc_modif form .modif input{
        width: 100%;
    }

    .bigwrap .position_h1_profil{
        top: 10rem;
    }

    #profil{
        margin-top: -20rem;
    }
    #vaccin .wrap2 .vaccin_list li p{
        text-align: center;
    }
    #vaccin .wrap2 .vaccin_list .global{
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
    #mentions{
        margin-top: -17rem;
    }
    #mentions .title{
        top: 10rem;
    }
    #mentions .wrap p{
        width: 100%;
    }
    #contact .wrap3 .login_form .log_droite{
        padding: .5rem;
    }
    #contact .wrap3 .login_form{
        flex-direction: column-reverse;
    }
    #contact .wrap3 .login_form .log_droite{
        width: 100%;
    }
    #contact .wrap3 .login_form .log_gauche{
        width: 100%;
    }
    #contact .wrap3 .login_form .log_gauche .gauche_info{
        gap: 1rem;
    }
    #contact .wrap3 .login_form .log_gauche{
        padding: 1rem;
    }
    #contact .wrap3 .login_form .log_gauche .gauche_info i{
        display: none;
    }
    #avis{
        margin-top: -17rem;
    }
    #avis .wrap3 .login_form{
        flex-direction: column-reverse;
    }
    #avis .wrap3 .login_form .log_droite{
        width: 100%;
    }
    #avis .wrap3 .login_form .log_gauche{
        width: 100%;
        padding: 1rem;
        gap: 1rem;
    }
    #avis .wrap3 .login_form .log_gauche .gauche_info{
        gap: 1rem;
    }
    #avis .wrap3 .login_form .log_gauche .gauche_info i{
        display: none;
    }
    #modifdone{
        padding-top: 10rem;
        padding-bottom: 5rem;

    }
    #modif_todo{
        padding-top: 10rem;
        padding-bottom: 5rem;
    }





}
@media screen and (max-width: 376px) {
    #home{
        padding-top: 9rem;
    }
    #login{
        padding-top: 9rem;
    }
    #oublie{
        padding-top: 10rem;
    }
    #regis .wrap3 .form_regis  .wrapform .form_nomPrenom{
        flex-direction: column;
        width: 100%;
    }
    #regis .wrap3 .form_regis  .wrapform .form_ageGenre{
        flex-direction: column;
    }
    #regis .wrap3 .form_regis .wrapform #name{
        width: 100%;
    }
    #regis .wrap3 .form_regis .wrapform #prenom{
        width: 100%;
    }
    #regis .wrap3 .form_regis .wrapform #age{
        width: 100%;
    }
    #regis .wrap3 .form_regis .wrapform select {
        width: 100%;
    }
    #regis .wrap3 .form_regis  .wrapform .form_ageGenre{
        gap: 1rem;
    }
    .bigwrap .position_h1_vaccin{
        font-size: 8vw;
        top: 12rem;
    }
    #vaccin{
        margin-top: -17rem;
    }
    #vaccin .wrap2 .recherche form{
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
    #vaccin .wrap2 .recherche form .recherche_input{
        width: 100%;
    }
    #vaccin .wrap2 .recherche form .submit_recherche{
        min-width: 10rem;
    }
    #delete .wrap3 h1{
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 320px) {

    #mentions .wrap p{
        font-size: 1rem;
        text-align: start;
    }
    #mentions .wrap .text3{
        font-size: 1rem;
    }
}
