/* color */

$vert : #83cd2d;
$light : #fff;
$darkvert : #0C684B;
$rose : #ED166D;
$rose2 : #9b3a59;
$orange : #f68c11;
$jaune: #F2C041;

$rad-s: 5px;
$rad-m: 10px;
$rad-l: 15px;
$rad-xl: 20px;
$rad-xt: 24px;


$width_header : 1200px;
$center : 0 auto;

$roboto : 'Roboto', sans-serif;
/* padding */

$pad-150: 150px;
$pad-90: 90px;
$pad-80: 80px;
$pad-50: 50px;
$pad-40: 40px;
$pad-35: 35px;
$pad-30: 30px;
$pad-20: 20px;
$pad-15: 15px;
$pad-10: 10px;
$pad-xxs: 8px;

$extra-large-screen: 1500px;