@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,700&display=swap');
@import "_variables";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}
a {
  text-decoration: none;
}


body {
  font-family: $roboto;
  font-size: 16px;
  line-height: 1.4;
  background: white;
  overflow-x: hidden;
}


html {
  scroll-behavior: smooth;
}

  .wrap {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .bigWrap {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
  }

  .wrap2 {
    width: 1100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
  }

  /*HEADER_prince*/

  .container {
    min-height: calc(100vh - 220px);
  }

  /* HEADER */

  img {
    width: 100%;
  }

  .masthead {
    max-width: $width_header;
    margin: $center;
    position: absolute;
    z-index: 99;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.5rem 1rem;

    &__left, &__right {
      width: 50%;
      align-items: center;
    }

    &__left {
      img {
        width: 250px;
      }
    }

    &__right {
      display: flex;
      justify-content: space-evenly;
      gap: 1rem;
    }

    li {
      padding: 0.5rem 1rem;
      transition: 0.5s;
    }

    .nav_header {
      width: 100%;
      color: white;
      text-transform: uppercase;
    }

    li:hover {
      transform: scale(1.0);
      border-radius: $rad-m;
      background-color: $rose;
    }
  }

  /* Claude register checkbox */
  .register {
    input[type='checkbox'] {
      display: none;
    }

    label {
      color: #334155;
      font-weight: 500;
      position: relative;
    }

    .field label {
      color: #334155;
      font-weight: 500;
      position: relative;
      padding-left: 30px;
    }

    label.checkbox1:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      border-radius: 2px;
      border: 1px solid #9F9A9A;
      transition: 0.2s backgroud-color ease-in-out;
    }

    label.professionel:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      border-radius: 2px;
      border: 1px solid #9F9A9A;
      transition: 0.2s backgroud-color ease-in-out;
    }

    input:checked + label:before {
      background-color: #83CD2D;
      border: none;
    }

    input#professionel:checked + label:after {
      content: '';
      position: absolute;
      top: 0;
      left: 6px;
      height: 11px;
      width: 5px;
      border-right: 3px solid white;
      border-bottom: 5px solid white;
      border-radius: 0.1rem;
      transform: rotate(45deg);
      cursor: pointer;
    }

    input#checkbox1:checked + label:after {
      content: '';
      position: absolute;
      top: 0;
      left: 6px;
      height: 11px;
      width: 5px;
      border-right: 3px solid white;
      border-bottom: 5px solid white;
      border-radius: 0.1rem;
      transform: rotate(45deg);
      cursor: pointer;
    }

    .register_checkbox_input {
      display: flex;
      justify-content: space-around;
      margin-bottom: 1rem;
    }

    a p {
      color: black;
      text-align: -webkit-center;
      font-weight: bold;
      transition: all .4s;
    }

    a p:hover {
      color: $rose;
    }
  }

  /*
  prince
  */
  .overlay_contact {
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.4);
    z-index: 2;
  }


  /*prince*/
  #contact {
    width: 100%;
    position: relative;
    top: 0;

    img {
      width: 100%;
    }

    .text_contact {
      position: absolute;
      z-index: 11;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      gap: 2rem;
      justify-content: center;
      align-items: center;

      .container_contact {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1rem;

        .animation {
          animation: oscillate 1s infinite;
          transform-origin: center;
        }

        @keyframes oscillate {
          0% {
            transform: translateY(0);
          }
          50% {
            transform: translateY(9px);
          }
          100% {
            transform: translateY(0);
          }
        }

        h2 {
          font-size: 2rem;
          color: $rose;
          text-transform: uppercase;
          text-align: center;
        }

        p {
          font-size: 20px;
          text-align: center;
          color: white;
        }
      }

      .top {
        text-align: center;

        a {
          background: $rose;
          padding: .8rem .9rem;
          border-radius: $rad-m;
        }

        i {
          color: white;
          font-size: 1rem;
        }
      }
    }

  }

  /*prince*/
  .bar {
    height: 7px;
    width: 72px;
    background: black;
    text-align: center;
  }

  /*prince*/
  .lien_reset {
    background: $rose;
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
    border-radius: .4rem;
    border: 1px solid transparent;
    color: white;
    cursor: pointer;
    transition: all .4s;
  }

  .lien_reset:hover {
    transform: scale(1.1);
  }

  /*prince*/
  #contact_form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 1.6rem 0;

  }

  /*prince*/
  .wrapform {
    max-width: 500px;
    width: 100%;
    margin: 2rem auto;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .error {
      color: red;
      font-weight: bold;
    }

    label {
      font-weight: bold;
    }

    input[type='text'], input[type='email'], input[type='password'] {
      width: 100%;
      PADDING: 1rem;
      border-radius: 0.3rem;
      border: 1px solid #A6A6A6;
      font-weight: bold;
    }

    textarea {
      resize: none;
      height: 20vh;
      width: 100%;
      padding: 1rem;
      font-weight: bold;
      border-radius: 0.4rem;
    }

    input#submitted {
      width: 50%;
      align-self: center;
      background-color: #ED166D;
      padding: 1rem;
      font-size: 1rem;
      border-radius: 0.4rem;
      border: 1px solid transparent;
      color: white;
      transition: all .4s;
      cursor: pointer;

    }

    input#submitted:hover {
      transform: scale(1.1);
    }
  }

  /*prince*/
  .box_contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      font-size: 30px;
      text-transform: uppercase;
    }
  }


/*
 prince
 */
.lien_home {
  color: white;
  padding: 1rem;
  background: $rose;
  text-align: center;
  border-radius: 0.4rem;
  transition: all .4s;
}

.lien_home:hover {
  cursor: pointer;
  transform: scale(1.1);
}



  /*prince*/
  #colophon {
    width: 100%;
    color: $light;
    background-color: $darkvert;

    .footer_wrap {
      max-width: 1200px;
      width: 100%;
      margin: $center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .box1 {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 230px;
        }

        a {
          color: $light;
          width: 200px;
          text-align: center;
          border: solid $light;
          margin-top: 1rem;
          border-radius: $rad-l;
          transition: all 0.5s;
        }

        a:hover {
          transform: scale(1.1);
          color: $rose;
          border: solid $rose;
        }
      }

      .box4 {
        a {
          color: white;
          text-align: center;
          transition: all 0.5s;
          margin-bottom: 1rem;
        }

        a:hover {
          color: $rose;
        }

        .social {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;

          &__icon {
            font-size: 35px;
            transition: all 0.7s;

          }

          &__icon:hover {
            transform: scale(1.1);
            color: $rose;

          }
        }

      }

      .footer_box {
        width: 23%;
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;

        p {
          width: 75%;
          margin: $center;
          font-size: 14px;
          font-weight: 300;
        }

        h3 {
          font-size: 25px;
          font-weight: 500;
          margin-bottom: 1rem;
          text-align: center;
        }
      }

    }
  }


  //MELVIN
  #law_img {
    width: 100%;

    img {
      width: 100%;
    }
  }

  #law_cgu {
    margin: 0 auto;
    width: 90%;

    .law_cgu_1 {
      text-align: center;
      padding-bottom: 2rem;

      .lc1_title {
        padding-bottom: 1rem;

        h1 {
          color: #ED166D;
        }
      }
    }

    .law_cgu_2 {
      text-align: center;
      padding-bottom: 3rem;
    }

    .law_cgu_3 {
      text-align: center;
      padding-bottom: 3rem;
    }

    .law_cgu_4 {
      text-align: center;
      padding-bottom: 3rem;
    }

    .law_cgu_5 {
      text-align: center;
      padding-bottom: 3rem;
    }

    .law_cgu_6 {
      text-align: center;
      padding-bottom: 3rem;
    }

    .law_cgu_7 {
      text-align: center;
      padding-bottom: 3rem;
    }

    .law_cgu_8 {
      text-align: center;
      padding-bottom: 3rem;
    }

    .law_cgu_9 {
      text-align: center;
      padding-bottom: 3rem;
    }

    .law_cgu_10 {
      text-align: center;
      padding-bottom: 3rem;
    }

    .law_cgu_11 {
      text-align: center;
      padding-bottom: 3rem;
    }
  }

  #law_mention {
    margin: 0 auto;
    width: 90%;

    .law_mention_1 {
      text-align: center;
      padding-bottom: 3rem;
      color: #ED166D;
    }

    .law_mention_2 {
      text-align: center;
      padding-bottom: 3rem;
    }

    .law_mention_3 {
      text-align: center;
      padding-bottom: 3rem;
    }

    .law_mention_4 {
      text-align: center;
      padding-bottom: 3rem;
    }

    .law_mention_5 {
      text-align: center;
      padding-bottom: 3rem;
    }

    .law_mention_6 {
      text-align: center;
      padding-bottom: 3rem;
    }

    .law_mention_7 {
      text-align: center;
      padding-bottom: 3rem;
    }

    .law_mention_8 {
      text-align: center;
      padding-bottom: 3rem;
    }
  }


/*
css thibault
*/
#partenaire--container{
  display: flex;
  flex-flow: column wrap;
  width: 600px;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  .line{
    height: 2px;
    background-color: #000;
    width: 50px;
    margin: .5rem 0;
  }
  p{
    font-size: larger ;
  }

}

/*
css thibault
*/
#partenaire--enfance{

  display: flex;
  align-items: center;
  margin-top: 6rem;
  flex-direction: column;

  .line{
    margin: .5rem;
    height: 2px;
    width: 50px;
    background-color: #000;
  }
  .partenaire--img{
    img{
      width: 400px;
    }
  }
  .background--partenaire{
    background-color: #D9D9D9;
    width: 100%;
    margin-top: -5rem;
    z-index: -99;
    .partenaire--intro{
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      h2{
        margin-top: 7rem;
      }
    }

    .partenaire--cards{
      width: 100%;
      display: flex;
      margin: 5rem 0;
      justify-content: center;
      align-items: center;
      .card{
        width: 25%;
        height: 450px;
        padding: 2rem;
        display: flex;
        text-align: center;
        color: #fff;
      }
      h2{
        margin: 1rem 0;
      }
      .first{
        background-color: #F2C041;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .eclipse{
          height: 150px;
          width: 150px;
          background-color: #ED166D;
          border-radius: 50%;
          margin-top: 1rem;
        }
      }
      .second{
        background-color: #ED166D;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .eclipse{
          height: 150px;
          width: 150px;
          background-color: #0C684B;
          border-radius: 50%;
          margin-top: 1rem;
          img{
            margin-bottom: 1.5rem;
          }
        }
      }
      .third{
        background-color: #0C684B ;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .eclipse{
          height: 150px;
          width: 150px;
          background-color: #F2C041;
          border-radius: 50%;
          margin-top: 1rem;
          img{
            margin-top: 1rem;
          }
        }
      }
    }
  }
}

/*
css thibault
*/
#working{
  margin: 5rem 0;
  .working--container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    gap: 3rem;
    .left{
      .eclipse{
        height: 250px;
        width: 250px;
        background-color: #ED166D;
        border-radius: 50%;
        .workImg{
          width: 100%;
        }
      }
    }
    .right{
      display: flex;
      flex-direction: column;
      .line{
        height: 2px;
        width: 50px;
        background-color: #000;
        margin: 1rem 0;
      }
      a{
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        color: #fff;
        background-color: #ED166D;
        width: 20%;
        border-radius: 10px;
        padding: .5rem 1.5rem;
        transition: all .4s;
      }
      a:hover{
        background-color: $rose2 ;
      }
    }
  }
}
/*
css thibault
*/
#avis--container .bigWrap{
  h2{
    width: 30%;
    margin-top: 2rem;
  }
  margin: 5rem auto;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #0C684B;
  color: #fff;
  .profile{
    margin-top: 2rem;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ED166D;
    .profilImg{
      width: 60%;
    }
  }
  .avis--txt{
    margin: 2rem 0 1rem 0;
    width: 50%;
  }
  .avis--author{
    color: grey;
    margin-bottom: 2rem;
    span{
      color: #00ffcc;
    }
  }
  .line{
    height: 2px;
    width: 50px;
    background-color: #fff;
    margin: .5rem 0;
  }
}

/*
css thibault
*/
#localisation--container{
  .bigWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 60%;
    .line{
      height: 2px;
      width: 50px;
      background-color: #000;
      margin: .5rem 0 2rem 0;
    }
    .first--txt{
      font-weight: 400;
      margin-bottom: 1rem;
    }
    .second--txt{
      font-weight: 200;
      margin-bottom: 1rem;
      span{
        font-weight: 800;
      }
    }
    .geolocaliser{
      background-color: #ED166D;
      border-radius: 10px;
      color: white;
      padding: .5rem 1.5rem;
    }
    img{
      width: 50%;
    }
  }
}

/*
css thibault*/
.map{
  background-color: #CCCCCC;
  width: 100%;
  height:50vh;
  margin-bottom: 2rem;
}

//MELVIN
/*
css thibault*/
#squad--container{
  .top-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    .line{
      height: 2px;
      width: 50px;
      background-color: #000;
      margin: .5rem 0 1rem 0;
    }
  }
}
/*
css thibault*/
.squad--cards{
  width: 80%;
  margin: 3rem auto;
  .card{
    background-color: #ED166D;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    color: white;
    gap: 2rem;
    padding: 1rem .5rem;
  }

  .eclipse{
    margin-top: 1rem;
    height: 100px;
    width: 100px;
    background-color: #F2C041;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: 50%;
    }
  }
  .mailIcone{
    width: 20%;
  }
  .card--clair{
    background-color: #F2C041;
  }
  .card--sombre{
    background-color: #ED166D;
  }
  .top{
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  .bot{
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
  }
}
/*
css thibault
*/
.backgroundImg{
  position: relative;
  margin-bottom: 5rem;
  img{
    width: 100%;
    background: black;
  }
}

@media screen and (max-width: $extra-large-screen) {
  #partenaire--container {
    width: 418px;
  }
}



#law_cgu {
  margin: 0 auto;
  width: 90%;

  .law_cgu_1 {
    text-align: center;
    padding-bottom: 2rem;

    .lc1_title {
      padding-bottom: 1rem;

      h1{
        color: #ED166D;
      }
    }
  }

  .law_cgu_2  {
    text-align: center;
    padding-bottom: 3rem;
  }

  .law_cgu_3 {
    text-align: center;
    padding-bottom: 3rem;
  }

  .law_cgu_4 {
    text-align: center;
    padding-bottom: 3rem;
  }

  .law_cgu_5 {
    text-align: center;
    padding-bottom: 3rem;
  }

  .law_cgu_6 {
    text-align: center;
    padding-bottom: 3rem;
  }

  .law_cgu_7 {
    text-align: center;
    padding-bottom: 3rem;
  }

  .law_cgu_8 {
    text-align: center;
    padding-bottom: 3rem;
  }

  .law_cgu_9 {
    text-align: center;
    padding-bottom: 3rem;
  }

  .law_cgu_10 {
    text-align: center;
    padding-bottom: 3rem;
  }

  .law_cgu_11 {
    text-align: center;
    padding-bottom: 3rem;
  }
}

#law_mention {
  margin: 0 auto;
  width: 90%;
  .law_mention_1 {
    text-align: center;
    padding-bottom: 3rem;
    color: #ED166D;
  }

  .law_mention_2 {
    text-align: center;
    padding-bottom: 3rem;
  }

  .law_mention_3 {
    text-align: center;
    padding-bottom: 3rem;
  }

  .law_mention_4 {
    text-align: center;
    padding-bottom: 3rem;
  }

  .law_mention_5 {
    text-align: center;
    padding-bottom: 3rem;
  }

  .law_mention_6 {
    text-align: center;
    padding-bottom: 3rem;
  }

  .law_mention_7 {
    text-align: center;
    padding-bottom: 3rem;
  }

  .law_mention_8 {
    text-align: center;
    padding-bottom: 3rem;
  }
}

  #partenaire--enfance .background--partenaire .partenaire--cards{
    flex-direction: column;
    .card{
      width: 100%;
      display: flex;
    }
    .first{
      border-top-left-radius: 25px;
      border-bottom-left-radius: 0;
      border-top-right-radius: 25px;
    }
    .second {
      margin: -2rem;
      border-top-right-radius: 25px;
      border-top-left-radius: 25px;
   }

    .third{
      margin: 8px;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 0;
      border-top-left-radius: 25px;
    }
  }

  #working .working--container {
    flex-direction: column;

    .right a {
      width: 45%;
    }
  }

  #avis--container .bigWrap {
    h2 {
      width: 100%;
    }

    .avis--txt {
      margin: 2rem 0 1rem 0;
      width: 100%;
    }
  }
  #localisation--container .bigWrap {
    width: 92%;
  }

  #squad--container .top-txt {
    width: 87%;
  }
  .squad--cards .top {
    align-items: center;
    flex-direction: column;
  }
  .squad--cards .bot {
    align-items: center;
    flex-direction: column;
  }
  .squad--cards .card {
    width: 100%;
  }
  #colophon .footer_wrap {
    flex-direction: column-reverse;
    align-items: center;

    .footer_box {
      width: 57%;
    }
  }

