@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,700&display=swap');
@import "_variables";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ul, ol {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  
  
  body {
    font-family: $roboto;
    font-size: 16px;
    line-height: 1.4;
    background: white;
    overflow-x: hidden;
  }
  
  
  html{
    scroll-behavior: smooth;
  }
  
  .bigWrap{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}
  
  
  .masthead {
    max-width: $width_header;
    margin: $center;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.5rem 0;
    &__left,&__right{
      width: 50%;
      align-items: center;
    }
    &__left{
      img{
        width:  141px;
      }
    }
    &__right {
      display: flex;
      justify-content: space-evenly;
      gap: 1rem;
    }
  
    li {
      padding: 0.5rem 1rem;
      transition: 0.5s;
    }
  
    .nav_header{
      width: 100%;
      color: #000;
      text-transform: uppercase;
    }
  
    li:hover{
      transform: scale(1.0);
      padding: .5rem .5rem;
      border-radius: $rad-s;
      background-color: $rose;
    }
    .login_btn{
      border-radius: $rad-xl;
    }
  }

/*
prince parent complement info
*/
.register {
  input[type='checkbox'] {
    display: none;
  }

  label {
    color: #334155;
    font-weight: 500;
    position: relative;
  }

  .field label {
    color: #334155;
    font-weight: 500;
    position: relative;
    padding-left: 30px;
  }

  label.checkbox1:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 2px;
    border: 1px solid #9F9A9A;
    transition: 0.2s backgroud-color ease-in-out;
  }

  label.professionel:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 2px;
    border: 1px solid #9F9A9A;
    transition: 0.2s backgroud-color ease-in-out;
  }

  input:checked + label:before {
    background-color: #83CD2D;
    border: none;
  }

  input#professionel:checked + label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 6px;
    height: 11px;
    width: 5px;
    border-right: 3px solid white;
    border-bottom: 5px solid white;
    border-radius: 0.1rem;
    transform: rotate(45deg);
    cursor: pointer;
  }

  input#checkbox1:checked + label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 6px;
    height: 11px;
    width: 5px;
    border-right: 3px solid white;
    border-bottom: 5px solid white;
    border-radius: 0.1rem;
    transform: rotate(45deg);
    cursor: pointer;
  }

  .register_checkbox_input {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
  }

  a p {
    color: black;
    text-align: -webkit-center;
    font-weight: bold;
    transition: all .4s;
  }

  a p:hover {
    color: $rose;
  }
}

.wrapform {
  max-width: 500px;
  width: 100%;
  margin: 2rem auto;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .error {
    color: red;
    font-weight: bold;
  }

  label {
    font-weight: bold;
  }

  input[type='text'], input[type='email'], input[type='password'] {
    width: 100%;
    PADDING: 1rem;
    border-radius: 0.3rem;
    border: 1px solid #A6A6A6;
    font-weight: bold;
  }

  textarea {
    resize: none;
    height: 20vh;
    width: 100%;
    padding: 1rem;
    font-weight: bold;
    border-radius: 0.4rem;
  }

  input#submitted {
    width: 50%;
    align-self: center;
    background-color: #ED166D;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 0.4rem;
    border: 1px solid transparent;
    color: white;
    transition: all .4s;
    cursor: pointer;

  }

  input#submitted:hover {
    transform: scale(1.1);
  }
}

/*
claude
*/

.dropdown {
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: #f9f9f9;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  max-height: 200px;
  border: 1px solid #ddd;
}

.dropdown-content.show {
  display: block;
}

.dropdown-content li {
  padding: 10px;
  cursor: pointer;
}

.dropdown-content li:hover {
  background-color: #ddd;
}

/*prince*/
.box_contact {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    font-size: 30px;
    text-transform: uppercase;
  }
}



/*prince EspaceParent*/
#spaceparent {
  padding: 6rem 0;

  .container_spaceparent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    h2 {
      font-size: 2rem;
      color: #ed166d;
      text-transform: uppercase;
    }

    p {
      font-weight: bold;
      font-size: 20px;
      color: black;
    }

    .lien_space {
      color: white;
      padding: 1rem;
      background: $rose;
      font-weight: bold;
      text-align: center;
      border-radius: 0.4rem;
      transition: all .4s;
      opacity: 0;
      animation-name: fade-in;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }

    @keyframes fade-in {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    .lien_space:hover {
      background: $rose2;
      cursor: pointer;
    }

  }
}


/*prince*/
#completer-profil {
  background-color: $rose;
  border: 1px solid #ddd;
  padding: 10px;
  animation: fadedown;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes fadedown {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#completer-profil p {
  color: white;
  font-weight: bold;
  text-align: center;
}

#completer-profil a {
  color: white;
  font-weight: bold;
  transition: all .4s;
  margin: 0 auto;
}

/*prince*/
.profil_span {
  color: $darkvert;
}

/*prince*/
.map {
  background-color: #CCCCCC;
  height: 38vh;
  margin-bottom: 2rem;
  border-radius: 19px;
}

/*prince*/

#profil_child{
  margin-bottom: 5rem;
  .allcard {
    display: flex;
    gap: 2rem;
    justify-content: center;
    width: 100%;
    .left{
      width: 40%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .linkAddChild{
        background-color: #0C684B;
        color: #fff;
        padding: .5rem 3rem;
        border-radius: 15px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-weight: 600;
      }
      .container--map{
        display: flex;
        flex-direction: column;
        background-color: #F2C041;
        padding: 1rem 1rem 3rem 1rem;
        border-radius: 19px;
        color: #fff;
        .container--txt{
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          background-color: #ED166D;
          padding: 3rem 2rem 3rem 2rem;
          margin: -4rem auto 0 auto;
          border-radius: 15px;
          width: 70%;
          .bar{
            height: 3px;
            width: 60px;
            margin: 0 auto;
            background-color: #fff;
            margin-bottom: 1rem;
          }
        }
        #search::placeholder{
          color: #fff;
          font-weight: 600;
        }
        #search{
          border-radius: 15px;
          outline: none;
          border: none;
          font-size: 20px;
          width: 70%;
          color: #fff;
          padding: .5rem 3rem;
          background-color: #ED166D;
          margin: 2rem auto 0 auto;
        }
      }
    }
    .right{
      background-color: #ED166D;
      width: 40%;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      .title{
        h2{
          font-weight: 400;
          text-transform: uppercase;
          color: #fff;
          display: flex;
          justify-content: center;
          margin: 1rem 0;
        }
        .bar{
          height: 2px;
          width: 100px;
          background-color: #fff;
          margin: 0 auto 2rem auto;
        }
      }
      .container--listing{
        display: flex;
        width: 80%;
        margin: 0 auto;
        justify-content: space-evenly;
        background-color: #ebad12;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        color: #fff;
        .ChildProfil{
          display: flex;
          align-items: center;
          gap: 3rem;
          .ChildProfil--txt{
            font-size: 20px;
          }
        }
        .options{
          display: flex;
          gap: 2rem;
          justify-content: center;
          align-items: center;
          a{
            color: #fff;
            font-size: 30px;
            transition: all .3s;
          }
          a:hover{
            transform: scale(.8);
          }
        }
      }
    }
  }
  .container--listingReservation{
    width: 82%;
    margin: 0 auto;
    .listingTitle{
      display: flex;
      width: 100%;
      border-radius: 15px;
      color: #fff;
      margin-top: 2rem;
      justify-content: space-around;
      padding: .5rem 3rem;
      background-color: #0C684B;
    }
    .listing--data{
      display: flex;
      justify-content: space-around;
      width: 100%;
      padding: 2rem 2rem 0 2rem;
      p{
        margin-bottom: .5rem;
      }
      .a_venir{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 0 1rem;
      }
      .annule{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 0 1rem;
      }
      .valide{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 0 1rem;
      }
    }
  }
}



.lien {
  animation: oscillate3 1s infinite;
  transform-origin: center;
}

@keyframes oscillate3 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(9px);
  }
  100% {
    transform: translateY(0);
  }
}




#colophon {
    width: 100%;
    color: $light;
    background-color: $darkvert;
    .footer_wrap{
      max-width: 1200px;
      width: 100%;
      margin: $center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  
      .bar_white{
        display: block;
        height: 10vh;
        width: 20%;
        background: #ffffff;
      }
      .box1{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
          width: 230px;
        }
        a{
          color: $light;
          width: 200px;
          text-align: center;
          border: solid $light;
          margin-top: 1rem;
          border-radius: $rad-l;
          transition: all 0.5s;
        }
        a:hover{
          transform: scale(1.1);
          color: $rose;
          border: solid $rose;
        }
      }
      .box4{
        a{
          color: white;
          text-align: center;
          transition: all 0.5s;
          margin-bottom: 1rem;
        }
        a:hover{
          color: $rose;
        }
        .social{
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          &__icon{
            font-size: 35px;
            transition: all 0.7s;
  
          }
          &__icon:hover{
            transform: scale(1.1) rotate(360deg);
            color: $rose;
  
          }
        }
  
      }
  
      .footer_box{
        width: 23%;
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
        p{
          width: 75%;
          margin: $center;
          font-size: 14px;
          font-weight: 300;
        }
        h3{
          font-size: 25px;
          font-weight: 500;
          margin-bottom: 1rem;
          text-align: center;
        }
      }
  
    }
  }
  

#addChildren{
    .bigWrap{
        form{
            .error{
                margin-top: .5rem;
                color: #fff;
            }
            label{
                color: #fff;
                text-transform: uppercase;
                font-weight: 400;
            }
            select{
                outline: none;
                border: none;
                background-color: #fff;
                width: 100%;
                padding: .5rem 2rem;
            }
            input[type=text]{
                background-color: #fff;
                width: 100%;
                border: none;
                outline: none;
                padding: .5rem 2rem;
                border-radius: 2px;
            }
            input[type=submit]{
                background-color: #ED166D;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50px;
                padding: .5rem 2rem;
                width: 30%;
                border: none;
                color: #fff;
                cursor: pointer;
                font-weight: 700;
                margin: 3rem auto 1rem auto;
                text-transform: uppercase;
                font-size: 15px;
                transition: all .3s;
            }
            input[type=submit]:hover{
                background-color: #ABFFE5;
                transform: scale(1.1);
            }
            input[type=date]{
                background-color: #fff;
                border: none;
                outline: none;
                width: 100%;
                padding: .5rem 2rem;
                border-radius: 2px;
            }
            .form{
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                .childInfo{
                    width: 80%;
                    background-color: #ED166D;
                    box-shadow: 9px 10px 7px -5px rgba(0, 0, 0, 0.7);
                    border-radius: 20px;  
                    padding: 1rem 1.5rem;      
                    display: flex;
                    justify-content: space-evenly;
                    label{
                        margin-top: 1rem;
                    }
                    .left{
                        display: flex;
                        width: 45%;
                        align-items: center;
                        gap: 2rem;
                        .input{
                            display: flex;
                            width: 75%;
                            flex-direction: column;
                        }
                    }
                    .right{
                        display: flex;
                        width: 45%;
                        flex-direction: column;
                    }
                    .eclipse{
                        height: 150px;
                        width: 150px;
                        background-color: #F2C041;
                        border-radius: 150%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img{
                            width: 80%;
                        }
                    }
                }
                .speMed{
                    background-color: #66cfae;
                    box-shadow: 9px 10px 7px -5px rgba(0, 0, 0, 0.7);
                    border-radius: 20px;  
                    padding: 1rem 1.5rem;   
                    width: 80%;
                    color: #fff;

                    margin-top: 6rem;
                    position: relative;
                    .title h2{
                        text-transform: uppercase;
                        font-weight: 800;
                        background-color: #83CD2D;
                        position: absolute;
                        top: -1.5rem;
                        left: 35%;
                        padding: .5rem 2rem;
                        border-radius: 50px;
                    }
                    .input{
                        width: 50%;
                        margin: 1rem auto 0 auto;
                        display: flex;
                        flex-direction: column;
                        textarea{
                            resize: none;
                            width: 100%;
                            border: none;
                            background-color: #fff;
                            border-radius: 4px;
                            height: 250px;
                            outline: none;
                            padding: 1rem 2rem;
                            font-family: 'Roboto', sans-serif;
                            overflow-y: scroll;
                        }
                        label{
                            margin-top: 2rem;
                        }
                    }
                }
                .speAlim{
                    background-color: #F2C041;
                    box-shadow: 9px 10px 7px -5px rgba(0, 0, 0, 0.7);
                    border-radius: 20px;  
                    padding: 2rem 1.5rem;   
                    width: 80%;
                    color: #fff;
                    margin-top: 6rem;
                    position: relative;
                    .title {
                        h2{
                            text-transform: uppercase;
                            font-weight: 800;
                            position: absolute;
                            background: #ebad12;
                            top: -1.5rem;
                            left: 34%;
                            padding: .5rem 2rem;
                            border-radius: 50px;
                        }
                    }
                    .input{
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        margin: 1rem auto 0 auto;
                        textarea{
                            resize: none;
                            width: 100%;
                            border: none;
                            background-color: #fff;
                            border-radius: 4px;
                            height: 250px;
                            outline: none;
                            padding: 1rem 2rem;
                            font-family: 'Roboto', sans-serif;
                            overflow-y: scroll;
                        }
                        label{
                            margin-top: 2rem;
                        }
                    } 
                }
            }
            
        }
    }
}