/*!
Theme Name: examen
Theme URI: http://underscores.me/
Author: Prince PETYTH
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: examen
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready
*/

* {
   padding: 0;
    margin: 0;
    box-sizing: border-box;
}