* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    color: white;
}

:root {
    --violetfonce: #87509c;
    --violetclair : #643a79;
    --orange: #eb7d4b;
    --vertfonce: #14a58c;
    --vertclair: #17c2a4;
    --bleufonce: #273a71;
    --bleuclair: #3c5499;
    --rouge : red;
}

html {
    scroll-behavior: smooth;
}

.clear:before, .clear:after {
    content: ' ';
    display: table;
}

.clear:after {
    clear:both;
}

.clear {
    *zoom: 1;
}

ul, ol {
    list-style: none;
}

img {
    vertical-align: bottom;
    width: 100%;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
    transition:all .3s;
    text-decoration: none;
}

a:active, a:focus {
    color: white;
}


/*Code*/

.wrap {
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
}

.wrap2 {
    max-width: 840px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: var(--violetfonce);
    position: fixed;
    width: 100%;
    opacity: 98%;
}

header .wrap {
    display: flex;
}

.header_left {
    width: 15%;
    margin: 1rem;
}

.header_right {
    width: 85%;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header_right ul {
    display: flex;
    gap: 2rem;
}

.header_right li {
    padding: 0.3rem;
}

.header_right a {
    padding: 0.3rem;
    border-radius: 5px;
}

.header_right a:hover {
    background-color: var(--violetclair);
}


#intro {
    background-color: var(--violetfonce);
    padding: 13rem 0rem;
}

#intro h2 {
    text-align: center;
    padding-bottom: 0.5rem;
    font-weight: lighter;
}

#intro h3 {
    text-align: center;
    font-weight: lighter;
    padding-bottom: 3rem;
}

.lien_inscription {
    display: flex;
    justify-content: center;
}

.lien_inscription a {
    padding: 1rem 5rem;
    background-color: var(--orange);
    border-radius: 10px;
}

.lien_inscription a:hover {
    background-color: #d35400;
}

#programme {
    background-color: var(--vertclair);
    padding: 4rem 0rem;
}

#programme h1 {
    display: flex;
    justify-content: center;
}

.traitvert {
    background-color: var(--vertfonce);
    height: 5px;
    width: 20%;
    display: flex;
    margin: 0 auto;
}

#programme h4 {
    text-align: center;
    padding: 1rem 0rem;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.icons li {
    margin: 1rem;
    width: 20%;
}

.icons h3 {
    display: flex;
    justify-content: center;
    padding: 1rem 0rem;
    font-weight: lighter;
}

.icons p {
    text-align: center;
    padding: 1rem 0rem;
    font-weight: lighter;
}

#inscriptions {
    background-color: var(--bleuclair);
    padding: 2rem 0rem;
}

#inscriptions h1 {
    display: flex;
    justify-content: center;
    padding-bottom: 0.5rem;
}

.traitbleu {
    background-color: var(--bleufonce);
    height: 5px;
    width: 20%;
    display: flex;
    margin: 0 auto;
}

#inscriptions p {
    display: flex;
    justify-content: center;
    padding: 1rem 0rem;
}

form {
    padding: 2rem 0rem;
}

form label {
    padding-bottom: 1rem;
    margin: 0rem 1rem;
}

form b {
    color: var(--rouge);
}

form input {
    height: 50px;
    background-color: var(--bleufonce);
    padding: 0rem 1rem;
    border: none;
}

form textarea {
    min-height: 150px;
    resize: vertical;
    background-color: var(--bleufonce);
    padding: 0.5rem 1rem;
    border: none;
}

form span {
    padding: 1rem 0rem;
    margin: 0rem 1rem;
    color: var(--rouge);
}


.form_top {
    display: flex;
    justify-content: space-between;
}

.form1 {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.form2 {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.form3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.form_valid {
    display: flex;
    justify-content: center;
}

form input[type=submit] {
    width: 40%;
    background-color: var(--bleufonce);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.6s;
}

form input[type=submit]:hover {
    background-color: darkcyan;
    width: 50%;
}

footer {
    background-color: var(--bleufonce);
    padding: 1rem 0rem;
}

footer p {
    text-align: center;
}

/*Responsive*/


@media screen and (max-width: 600px) {
    .header_left {
        width: 40%;
    }

    .header_right {
        width: 60%;
    }

    .icons li {
        width: 80%;
    }

    form {
        margin: 0rem 1rem;
    }

    .form1 {
        width: 49%;
    }

    .form2 {
        width: 49%;
    }
}