<section id="employes-list">
    <div class="dash-wrap">
        <app-bubble-list [titre]="employeTitre" [subTitre]="employeSubTitre" [addLink]="employeLink" [viewLink]="employeView" [editLink]="employeEdit" [deleteLink]="employeDelete" [tableData]="dataEmployes" [id]="id" ></app-bubble-list>
    </div>
</section>
