#tableContainer {
    margin: auto;
    width: 82%;
    padding-bottom: 72px;
}

table.dataTable {
    width: auto !important;
}

#table {
    background-color: #fff;
    border-radius: 6px;
    padding: 20px;
}