@import "../../../styles";

#nb-employes{
  color: $iconColor;
  .bubble{
    border-radius: 22px;
    //background: $bgBubbles;
    background-image: url('/assets/img/bg-connexion.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: $boxShadowBubbles;

    &.small{
      width: 90%;
      padding: 1rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: url("../../../assets/img/bg-connexion.png") center/cover no-repeat;

      .overall{
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 50%;

        .title-container{
          width: 55%;
          text-align: center;
          padding: 1rem;
          font-size: 20px;
        }
        .number-container{
          width: 35%;
          text-align: center;
          padding: 1rem;
          font-weight: bold;
          font-size: 32px;
        }
      }
    }
  }
}
@media screen and (max-width: 500px){
  #nb-employes {
    .bubble {
      &.small {
        width: 100%;
        .overall{
          flex-direction: column;

          .title-container, .number-container{
            width: 100%;
          }
        }
      }
    }
  }
}
