<section id="nb-employes">
  <div class="bubble small">
    <div class="overall">
      <div class="number-container">
        <span class="number">{{ nombreTotalEmployes }}</span>
      </div>

      <div class="title-container">
        <span class="title">Nombre d'employés</span>
      </div>
    </div>
  </div>
</section>
