<section id="evolution">
  <div class="bubble huge">
    <div class="overall">
      <div class="evolution-head">
        <div class="evo-head-container">

          <div class="evo-title">
            <h2 class="title">{{evolutionTitre}}</h2>
          </div>

          <div class="evo-subtitle">
            <h3 class="subtitle">{{evolutionSubTitre}}</h3>
          </div>
        </div>

        <div class="buttons">
          <div class="filter-infos">
            <select>
              <option value="defaut">Filtres</option>
              <option value="opt">Option 1</option>
              <option value="opt">Option 2</option>
              <option value="opt">Option 3</option>
              <option value="opt">Option 4</option>
              <option value="opt">Option 5</option>
              <option value="opt">Option 6</option>
            </select>
          </div>
        </div>
      </div>

      <div class="data-table">
        <table>
          <thead>
          <tr>
            <th *ngFor="let header of tableHeaders">{{ header }}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of tableRows" class="evo-content">
            <td *ngFor="let cell of row">
              {{ cell }}
            </td>
          </tr>
          </tbody>
        </table>
      </div>


    </div>
  </div>
</section>

