#dash-home{
  display: flex;
  flex-direction: column;
  padding: 0 1rem;

  .dash-wrap{
    max-width: 1212px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    .dash-numbers{
      display: flex;
      gap: 2.4rem;
    }

    .dash-multiple-infos{
      display: flex;
      justify-content: space-between;

      .dash-chart{
        width: 65%;
      }

      .dash-infos-utiles{
        width: 30%;
      }
    }

    .dash-evolution{
      width: 100%;
    }
  }
}

@media screen and (max-width: 1000px){
  #dash-home{
    .dash-wrap{
      .dash-numbers{
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .dash-multiple-infos{
        flex-direction: column;
        align-items: center;
        gap: 3rem;

        .dash-chart{
          width: 90%;
        }
        .dash-infos-utiles{
          width: 50%;
        }
      }
    }
  }
}

@media screen and (max-width: 700px){
  #dash-home{
    .dash-wrap{
      .dash-multiple-infos{
        .dash-chart{
          width: 100%;
        }
        .dash-infos-utiles{
          width: 70%;
        }
      }
    }
  }
}

@media screen and (max-width: 500px){
  #dash-home{
    .dash-wrap{
      .dash-multiple-infos{
        .dash-infos-utiles{
          width: 100%;
        }
      }
    }
  }
}
