<section id="dash-home">
  <div class="dash-wrap">
    <div class="dash-numbers">
      <app-bubble-nb-employes></app-bubble-nb-employes>
      <app-bubble-nb-entreprise></app-bubble-nb-entreprise>
    </div>

    <div class="dash-multiple-infos">
      <div class="dash-chart">
        <app-bubble-charts></app-bubble-charts>
      </div>

      <div class="dash-infos-utiles">
        <app-bubble-infos-utile></app-bubble-infos-utile>
      </div>
    </div>

    <div class="dash-evolution">
      <app-bubble-evolution-stats></app-bubble-evolution-stats>
    </div>
  </div>
</section>
