<section id="employe-view">
  <div class="dash-wrap">
    <div class="employe-infos">
      <app-bubble-all-infos>
        <div class="main-infos-content">
          <h2>{{ getUserName() }}</h2>
        </div>

        <div class="infos1-content">
          <h3>{{userBirthday}}</h3>
        </div>

        <div class="infos2-content">
          <span>{{userEmail}}</span>
        </div>

        <div class="infos3-content">
          <img src="{{userPhoto}}" alt="{{altTexte}}">
        </div>

        <div class="infos4-content">
          <span>{{userRole}}</span>
        </div>
      </app-bubble-all-infos>
    </div>

    <div class="dash-multiple-infos">
      <div class="dash-chart">
        <app-bubble-charts></app-bubble-charts>
      </div>

      <div class="dash-infos-utiles">
        <app-bubble-infos-utile></app-bubble-infos-utile>
      </div>
    </div>

    <div class="dash-evolution">
      <app-bubble-evolution-stats></app-bubble-evolution-stats>
    </div>
  </div>
</section>
