@font-face {
    font-family: 'sfrregular';
    src: url('sfr-1.0-regular-webfont.woff2') format('woff2'),
         url('sfr-1.0-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sfrbold';
    src: url('sfr-1.0-bold-webfont.woff2') format('woff2'),
         url('sfr-1.0-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

