<section id="commandes-edit">
  <div class="dash-wrap">
    <app-bubble-edit-commandes [valueNumero]="client_numero" [valueDate]="client_date" [valuePaiement]="client_paiement" [valueAdresse]="client_adresse" [valueCodep]="client_codep" [valueVille]="client_ville"></app-bubble-edit-commandes>
  </div>
</section>
