<section id="entreprise-edit">
  <div class="dash-wrap">
    <app-bubble-edit-entreprise [valueNom]="entreprise_nom" [valueSiret]="entreprise_siret" [valueVille]="entreprise_ville" [valueAffaire]="entreprise_affaire" [valueCodep]="entreprise_codep" [valueAdresse]="entreprise_adresse"></app-bubble-edit-entreprise>
  </div>
</section>
