/*FOOTER*/
#colophon .wrap {
    display: flex;
    justify-content: space-between;
}

#colophon .logo {
    display: flex;
    align-items: center;
}

#colophon .logo img {
    width: 150px;
}

#colophon .reseau {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/*MENU BURGER*/
#nav_burger {
    display:none;
    z-index:11;
    background-color: #fff;
    position: absolute;
    top:0;right:-950px;
    transition: right 1s cubic-bezier(.67,.35,.61,.96);
    width: 100%;
}

#nav_burger.opened {
    right:0;
}

#nav_burger .close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 25px;
    color: gray;
}

#nav_burger ul {
    padding: 4rem 0 3rem 2rem;
}

/*PALETTE*/
#palette {
    display:none;
    z-index:11;
    background-color: #fff;
    position: absolute;
    top:0;left:-950px;
    transition: left 1s cubic-bezier(.67,.35,.61,.96);
    width: 30%;
    padding: 2rem 1rem 2rem 1rem;
}

#palette.opened {
    left:0;
}

/*DIAPO*/
#diapo {
    width: 90%;
    margin: 0 auto;
}

#diaporama {
    border: none;
    width: 100%;
    position: relative;
}

/*DROPDOWN*/
#dropdown {
    margin: 0 auto;
    width:100%;
    position: relative;
}

#dropdown a.btn_dropdown{
    background-color: limegreen;
    color:#fff;
    display:block;
    font-weight: bold;
    padding: 1rem; text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

#dropdown ul {
    position: absolute;
    top :50px;left:0;right:0;
    background-color: #D2B285;
    color: #fff;
    z-index: 11;
    display:none;
}

#dropdown ul.opened {
    display:block;
}

#reponse {
    display: flex;
    padding: 2rem 0rem;
}

#reponse p {
    width: 50%;
}

#reponse img {
    width: 50%;
}


#dropdown ul li a {
    font-weight: bold;
    padding: 1rem; text-align: center;
    text-transform: uppercase;
    text-decoration: none;display:block;
}
#dropdown ul li a:hover {
    background-color: limegreen;
    color:#fff;
}

/*RESPONSIVE*/
.mobile {display: none;}
@media screen and (max-width: 950px) {
    .desk {display: none;}
    .mobile {display: block;}
    /*FOOTER*/
    #colophon .wrap {
        flex-direction: column;
    }

    #colophon .links {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    #colophon .logo {
        padding: 1.5rem;
        justify-content: center;
    }

    #colophon .logo img {
        width: 100px;
    }

    #colophon .reseau {
        justify-content: center;
    }
    /*MENU BURGER*/

    #nav_burger {
        display: block;
    }

    #palette {
        display: block;
    }
    /*DIAPO*/
    #diapo {
        width: 100%;
    }

    /*DROPDOWN*/
    #reponse {
        flex-direction: column;
    }

    #reponse p {
        width: 100%;
        padding-bottom: 1rem;
    }

    #reponse img {
        width: 100%;
    }
}
@media screen and (max-width: 750px) {  }