* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --noir: #333333;
    --orange: #FECA59;
    --orangefonce: #9a6b12;
}

html {
    scroll-behavior: smooth;
}

.clear:before, .clear:after {
    content: ' ';
    display: table;
}

.clear:after {
    clear:both;
}

.clear {
    *zoom: 1;
}

ul, ol {
    list-style: none;
}

img {
    vertical-align: bottom;
    width: 100%;
}

a:link {
    color: #f99e1a;
    text-decoration: none;
}

a:visited {
    color: #f99e1a;
}

a:hover {
    color: 	#218ffe;
    transition:all .3s;
    text-decoration: none;
}

a:active, a:focus {
    color: #f99e1a;
}

.wrap {max-width: 1440px;width:100%;margin: 0 auto;padding: 0 1rem;}


/*Code*/

#masthead {
    background-color: #43484c;
    padding: 1rem 0;
    position: relative;
    border-bottom: solid;
}
#masthead .logo img {
    width: 180px;
}

#masthead .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

#masthead nav ul {
    display: flex;
    gap: 2rem;
}

#masthead nav ul a {
    font-size: 2rem;
}

#masthead nav svg {
    width: 40px;
    cursor: pointer;
}

#masthead nav svg path {
    fill: #000000;
}

.ontop {
    z-index: 1000;
    position: absolute;
    top: 100px;
    left: 50%;
    background-color: #405275;
    width: 50%;
    padding: 1rem;
    border-top: solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.ontop li {
    text-align: center;
}

.ontop a {
    border-bottom: solid;
}

.on {
    display: block;
}

.off {
    display: none;
}

.mobile {
    display: none
}

/*Gestion Flexslider*/
.gestionflex {
    width: 50%;
    padding: 1rem 0;
    position: relative;
    border: none;
}

.text_slider {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: auto;
    left: auto;
    font-size: 50px;
    font-weight: bold;
    color: #f99e1a;
    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

/*Chart*/

.chartstyle {
    width: 30%;
}

/*modal*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modalstyle {
    display: flex;
    justify-content: center;
}

/*Responsive*/
@media screen and (max-width: 750px){
    .desk {
        display: none;
    }

    .mobile {
        display: block;
    }

    .gestionflex {
        width: 90%;
    }
}