<div class="container">
    <form>
        <div class="name">
            <div class="input-group">
              <i class="fas fa-user iconUser"></i>
              <input type="text" id="nom" name="nom" required value="{{valueFirstName}}">
            </div>

            <div class="input-group">
              <i class="fas fa-user iconUser"></i>
              <input type="text" id="prenom" name="prenom" required value="{{valueLastName}}">
            </div>
        </div>

        <div class="info">
          <div class="input-group">
            <i class="fas fa-user iconUser"></i>
            <input type="text" id="date_naissance" name="date_naissance" required value="{{valueDateN}}">
          </div>

          <div class="input-group">
            <i class="fas fa-user iconUser"></i>
            <input type="text" id="telephone" name="telephone" required value="{{valuePhone}}">
          </div>

          <div class="input-group">
            <i class="fa-regular fa-envelope"></i>
            <input type="email" id="email" name="email" required value="{{valueEmail}}">
          </div>

          <div class="input-group">
            <i class="fas fa-user iconUser"></i>
            <input type="text" id="code_postale" name="code_postale" required value="{{valueCodep}}">
          </div>

          <div class="input-group">
            <i class="fas fa-user iconUser"></i>
            <input type="text" id="adresse" name="adresse" required value="{{valueAdresse}}">
          </div>

          <div class="input-group">
            <i class="fas fa-user iconUser"></i>
            <input type="text" id="ville" name="ville" required value="{{valueVille}}">
          </div>

        </div>

        <div class="input-group">
          <i class="fa-solid fa-address-card"></i>
            <select id="status" name="status" required>
              <option value="active">Status</option>
              <option value="inactive">SAV</option>
              <option value="inactive">Commerciaux</option>
              <option value="inactive">DG</option>
            </select>
        </div>

        <button type="submit" class="submit-button">Valider</button>
    </form>
  </div>
