* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

:root {
    --vert: #4f805d;
    --vertclair: #8bb092;
    --gris: #ddd;
    --blanc: #fff;
}

.clear:before, .clear:after {
    content: ' ';
    display: table;
}

.clear:after {
    clear:both;
}

.clear {
    *zoom: 1;
}

ul, ol {
    list-style: none;
}

img {
    vertical-align: bottom;
    width: 100%;
}

a:link {
    color: var(--blanc);
    text-decoration: none;
}

a:visited {
    color: var(--blanc);
}

a:hover {
    color: var(--gris);
    transition:all .3s;
    text-decoration: none;
}

a:active, a:focus {
    color: var(--blanc);
}

html {
    scroll-behavior: smooth;
}

/*Code*/

.bigwrap {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.wrap {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.wrap2 {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.wrap3 {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

body {
    background-color: var(--gris);
    color: #000;
    font: 400 16px/1.4 'Quicksand', sans-serif;
}

header {
    background-color: var(--vert);
    position: fixed;
    width: 100%;
    padding: 0.6rem;
    opacity: 92%;
}

header .bigwrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_left {
    font-size: 1.9rem;
    color: var(--blanc);
}

.header_right ul {
    display: flex;
    gap: 1rem;
}

#intro {
    height: 100vh;
    background: url("https://picsum.photos/id/38/1200/500") no-repeat center center/cover;
    display: flex;
}

#intro > div {
    margin: auto;
    text-align: center;
    font-size: 1.6rem;
    padding: 1rem;
    padding-top: 5rem;
    max-width: 600px;
}

#component {
    padding: 2rem 1rem;
}

.boxs {
    display: flex;
}

.boxs li {
    width: 33.33333%;
    margin: 1rem;
    box-shadow: 20px 25px 65px 26px rgba(0,0,0,0.1);
    background-color: var(--blanc);
}

.boxs h2 {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}

.traitvert {
    background: var(--vert);
    height: 3px;
    width: 100px;
    margin: 1rem auto;
}

.boxs p {
    margin: 1rem;
}

#learn {
    background-color: var(--blanc);
}

#learn .bigwrap {
    display: flex;
}

#learn .bigwrap > div {
    width: 50%;
}

#learn .learn_text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#learn .learn_text h2 {
    font-size: 2rem;
}

#learn .learn_text img {
    width: 30%;
    margin: 1rem auto;
}

.boites {
    display: flex;
    padding-top: 2rem;
}

.boites li {
    width: 100%;
    margin: 1rem;
    background-color: var(--blanc);
    box-shadow: -3px 38px 42px -39px green,0px 10px 13px -15px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 27px -56px rgba(0,0,0,0.1);}

.boites h3 {
    padding: 1rem 0rem;
    display: flex;
    justify-content: center;
}

.boites i {
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: var(--vert);
}

#testimonial {
    padding: 3rem 0rem;
}

#testimonial .titre {
    margin: 0rem 1rem;
}

.avis li {
    display: flex;
    padding: 2rem 0rem;
    margin: 1rem;
    background-color: var(--blanc);
    box-shadow: -3px 38px 42px -39px green,0px 10px 13px -15px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 27px -56px rgba(0,0,0,0.1);
}

.avi1 {
    width: 80%;
    display: flex;
    justify-content: center;
}

.avi1 p {
    width: 97%;
}

.avi2 {
    width: 20%;
}

.avi2 img {
    width: 50%;
    border-radius: 200px;
}

.avi2 h3 {
    font-weight: lighter;
}

.avi3 {
    width: 20%;
    margin: 0rem 1rem;
}

.avi3 img {
    width: 50%;
    border-radius: 200px;
}

.avi3 h3 {
    font-weight: lighter;
}

.avi4 {
    width: 80%;
    display: flex;
    justify-content: center;
}

.avi4 p {
    width: 97%;
}

.avi5 {
    width: 80%;
    display: flex;
    justify-content: center;
}

.avi5 p {
    width: 97%;
}

.avi6 {
    width: 20%;
}

.avi6 img {
    width: 50%;
    border-radius: 200px;
}

.avi6 h3 {
    font-weight: lighter;
}

#contact {
    margin: 3rem 0;
}
#contact form {
    padding: 0 1rem;
}
#contact h2 {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

#colophon {
    background-color: var(--vert);
    color: var(--blanc);
}
#colophon .bigwrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
#colophon a, #colophon a i {
    color: var(--blanc);
}
#colophon a:hover, #colophon a:hover i {
    color: var(--vertclair);
}
#colophon .reseau i {
    font-size: 2rem;
}
#colophon .reseau i {
    transition: all .5s;
}
#colophon .reseau i:hover {
    transform: scale(1.2);
}
#colophon .reseau ul {
    display: flex;
    gap:1rem;
}


@media screen and (max-width: 960px) {
    #component ul.boxs{
        flex-direction: column;
        gap:2rem;
    }
    #component ul.boxs li {
        width: 100%;
    }
    #learn .bigwrap {
        flex-direction: column;
    }
    #learn .bigwrap > div {
        width:100%;
    }
    #learn .learn_text  {
        padding: 2rem 0;
    }

    #partenaire .all_partners .shadow {
        width: 48%;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 650px)  {
    #testimonial .avis_all > div {
        flex-direction: column;
        gap:2rem;
    }
    #testimonial .testi_text {
        width: 100%;
    }
    #testimonial .testi_user {
        width: 100%;
    }
    #testimonial .testi_user img {
        width:70px;
    }
    #testimonial .avis_all > div:nth-child(2n) {
        flex-direction: column;
    }
}

@media screen and (max-width: 560px)  {
    #masthead .logo span{
        display: none;
    }
    #partenaire .all_partners .shadow {
        width: 100%;
    }
    #colophon .bigwrap {
        flex-direction: column;gap: 2rem;
    }
}
