<section>
    <div class="wrap">
        <app-bubble-edit-employes [valueLastName]="employe_lname" [valueFirstName]="employe_fname" [valueDateN]="employe_dateN" [valueEmail]="employe_email" [valuePhone]="employe_phone" [valueAdresse]="employe_adresse" [valueCodep]="employe_codep" [valueVille]="employe_ville"></app-bubble-edit-employes>
    </div>
</section>
